In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [ ]:
sm = [(1, "Scott", "Tiger", 1000.0, 10,
                      "united states", "+1 123 456 7890", "123 45 6789"
                     ),
                     (2, "Henry", "Ford", 1250.0, None,
                      "India", "+91 234 567 8901", "456 78 9123"
                     ),
                     (3, "Nick", "Junior", 750.0, '',
                      "united KINGDOM", "+44 111 111 1111", "222 33 4444"
                     ),
                     (4, "Bill", "Gomes", 1500.0, 10,
                      "AUSTRALIA", "+61 987 654 3210", "789 12 6118"
                     )
                ]

In [ ]:
sm = spark. \
    createDataFrame(sm,
                    schema="""employee_id INT, first_name STRING, 
                    last_name STRING, salary FLOAT, bonus STRING, nationality STRING,
                    phone_number STRING, ssn STRING"""
                   )
print (f'created dataframe for employees us sm as name of spark dataframe')
sm.show()

In [ ]:
datas = [
    {"ID": 1, "Name": "Alice", "Age": 34,"class":"mid","marks":222},
    {"ID": 2, "Name": None, "Age": 30,"class":"mid","marks":201},
    {"ID": 1, "Name": "Alice", "Age": 25,"class":"high","marks":100},  # Duplicate row
    {"ID": 2, "Name": None, "Age": None,"class":"Low","marks":400},
    {"ID": 2, "Name": "Bob", "Age": 30,"class":"Low","marks":200},  # Duplicate row and ID column
    {"ID":3, "Name": None, "Age": None,"class":None,"marks":222},
    {"ID": 5, "Name": "Eve", "Age": 28,"class":"mid","marks":150},
    {"ID": 1, "Name": "", "Age": 25,"class":"Low","marks":80}, 
    {"ID": 6, "Name": None, "Age": 34,"class":"Low","marks":180}# Duplicate row
]

In [ ]:
data=spark.createDataFrame(pd.DataFrame(datas))
# data.show()
print(f'data count:: {data.count()}')
data.show()

### **Data of University courses**

In [6]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

# Initialize Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Define the schema for the DataFrame
schema = StructType([
    StructField("Course Id", IntegerType(), False),
    StructField("Level of Complexity", StringType(), False),
    StructField("Name", StringType(), False),
    StructField("Students Enrolled", IntegerType(), False),
    StructField("Price", FloatType(), False)
])
abcs=["Course Id","Level of Complexity","Name","Students Enrolled","Price"]

# Define the data
data = [
    (1, "Beginner", "Course 1", 150, 99.99),
    (2, "Intermediate", "Course 2", 120, 129.99),
    (3, "Advanced", "Course 3", 180, 149.99),
    (4, "Beginner", "Course 4", 90, 79.99),
    (5, "Intermediate", "Course 5", 160, 119.99),
    (6, "Advanced", "Course 6", 190, 159.99),
    (7, "Beginner", "Course 7", 110, 89.99),
    (8, "Intermediate", "Course 8", 140, 109.99),
    (9, "Advanced", "Course 9", 170, 139.99),
    (10, "Beginner", "Course 10", 70, 69.99),
    (11, "Intermediate", "Course 11", 130, 99.99),
    (12, "Advanced", "Course 12", 200, 169.99),
    (13, "Beginner", "Course 13", 95, 79.99),
    (14, "Intermediate", "Course 14", 175, 129.99),
    (15, "Advanced", "Course 15", 185, 149.99),
    (16, "Beginner", "Course 16", 105, 89.99),
    (17, "Intermediate", "Course 17", 145, 119.99),
    (18, "Advanced", "Course 18", 195, 159.99),
    (19, "Beginner", "Course 19", 75, 69.99),
    (20, "Intermediate", "Course 20", 125, 99.99),
    (21, "Advanced", "Course 21", 165, 139.99),
    (22, "Beginner", "Course 22", 100, 79.99),
    (23, "Intermediate", "Course 23", 155, 129.99),
    (24, "Advanced", "Course 24", 210, 169.99),
    (25, "Beginner", "Course 25", 85, 69.99),
    (26, "Intermediate", "Course 26", 115, 99.99),
    (27, "Advanced", "Course 27", 160, 139.99),
    (28, "Beginner", "Course 28", 105, 79.99),
    (29, "Intermediate", "Course 29", 140, 119.99),
    (30, "Advanced", "Course 30", 175, 149.99)
]

# Create a Spark DataFrame
new_column_names = ["CourseId", "Complexity", "Name", "Enrolled", "Price"]
spark_df = spark.createDataFrame(data, schema=schema)
spark_dfs=spark_df.select(abcs).toDF(*new_column_names)

# Show the Spark DataFrame
spark_dfs.show()

+--------+------------+---------+--------+------+
|CourseId|  Complexity|     Name|Enrolled| Price|
+--------+------------+---------+--------+------+
|       1|    Beginner| Course 1|     150| 99.99|
|       2|Intermediate| Course 2|     120|129.99|
|       3|    Advanced| Course 3|     180|149.99|
|       4|    Beginner| Course 4|      90| 79.99|
|       5|Intermediate| Course 5|     160|119.99|
|       6|    Advanced| Course 6|     190|159.99|
|       7|    Beginner| Course 7|     110| 89.99|
|       8|Intermediate| Course 8|     140|109.99|
|       9|    Advanced| Course 9|     170|139.99|
|      10|    Beginner|Course 10|      70| 69.99|
|      11|Intermediate|Course 11|     130| 99.99|
|      12|    Advanced|Course 12|     200|169.99|
|      13|    Beginner|Course 13|      95| 79.99|
|      14|Intermediate|Course 14|     175|129.99|
|      15|    Advanced|Course 15|     185|149.99|
|      16|    Beginner|Course 16|     105| 89.99|
|      17|Intermediate|Course 17|     145|119.99|
|      18|    Advanced|Course 18|     195|159.99|
|      19|    Beginner|Course 19|      75| 69.99|
|      20|Intermediate|Course 20|     125| 99.99|
+--------+------------+---------+--------+------+
only showing top 20 rows