# **Spark For Data Engineers and Data Scientists**

## Creating Data Frame using Python collection and Pandas Data Frame

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [3]:
! pip install --force-reinstall 'sqlalchemy < 2.0.0'

The system cannot find the file specified.

In [2]:
# ! pip install pandas sqlalchemy mysql-connector-python
! pip install --upgrade typing-extensions

! pip uninstall typing-extensions
! pip install typing-extensions
! pip show typing-extensions
! pip cache purge

Requirement already satisfied: typing-extensions in c:\users\asfandyar\appdata\local\programs\python\python310\lib\site-packages (4.7.1)

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\Asfandyar\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

^C
Requirement already satisfied: typing-extensions in c:\users\asfandyar\appdata\local\programs\python\python310\lib\site-packages (4.7.1)

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\Asfandyar\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Name: typing_extensions
Version: 4.7.1
Summary: Backported and Experimental Type Hints for Python 3.7+
Home-page:
Author:
Author-email: "Guido van Rossum, Jukka Lehtosalo, Åukasz Langa, Michael Lee" <levkivskyi@gmail.com>
License:
Location: c:\users\asfandyar\appdata\local\programs\python\python310\lib\site-packages
Requires:
Required-by: black, huggingface-hub, pydantic, SQLAlchemy
Files removed: 1

In [12]:
import mysql.connector

# establishing the connection
conn = mysql.connector.connect(
    user='root',password='Huawei@1234qwe', host='localhost', port=3306, database='performance_schema')

cursor = conn.cursor()
cursor.execute('select * from accounts')
result = cursor.fetchall()
column_names = [desc[0] for desc in cursor.description]

cursor.close()
conn.close()

# Display column names and data
print(column_names)

result

['USER', 'HOST', 'CURRENT_CONNECTIONS', 'TOTAL_CONNECTIONS']

[(None, None, 38, 53),
 ('event_scheduler', 'localhost', 1, 1),
 ('root', 'localhost', 3, 9)]

In [4]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField("USER", StringType(), True),
    StructField("HOST", StringType(), True),
    StructField("CURRENT_CONNECTIONS", IntegerType(), True),
    StructField("TOTAL_CONNECTIONS", IntegerType(), True)
])

In [5]:
nn=[(None, None, 38, 53),
 ('event_scheduler', 'localhost', 1, 1),
 ('root', 'localhost', 3, 8)]

In [13]:
pa=pd.DataFrame(nn,columns=column_names)
print(pa)

              USER       HOST  CURRENT_CONNECTIONS  TOTAL_CONNECTIONS
0             None       None                   38                 53
1  event_scheduler  localhost                    1                  1
2             root  localhost                    3                  8

In [ ]:
import pandas as pd
df = spark.createDataFrame(nn,cols)
df.show()

In [6]:
import pandas as pd
df = spark.createDataFrame(nn,schema)
df.show()

+---------------+---------+-------------------+-----------------+
|           USER|     HOST|CURRENT_CONNECTIONS|TOTAL_CONNECTIONS|
+---------------+---------+-------------------+-----------------+
|           null|     null|                 38|               53|
|event_scheduler|localhost|                  1|                1|
|           root|localhost|                  3|                8|
+---------------+---------+-------------------+-----------------+

In [21]:
tables

FacadeDict({})

In [22]:
metadata.bind

Engine(mysql+pymysql://root:***@1234qwe@localhost:3306/mydb)

In [2]:
age_list=[1,2,4,5,6,7,8]
type(age_list)

list

### Making a DataFrame
We will use createDataFrame which is availabe on top of spark object.

In [59]:
spark

In [60]:
help (spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data, schema=None, samplingRatio=None, verifySchema=True) method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of either :class:`Row`,
    :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must match
    the real data, or an exception will be thrown at runtime. If the given schema is not
    :class:`pyspark.sql.types.StructType`, it will be wrapped into a
    :class:`pyspark.sql.types.StructType` as its only field, and the field name will be "value".
    Each record will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    .. versionadded:: 2.0.0

    .. versionchanged:: 2.1.0
       Added verifySchema.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`, or
        :class:`pandas.DataFrame`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None.  The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>`` and atomic types use ``typeName()`` as their format, e.g. use
        ``byte`` instead of ``tinyint`` for :class:`pyspark.sql.types.ByteType`.
        We can also use ``int`` as a short name for :class:`pyspark.sql.types.IntegerType`.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with spark.sql.execution.arrow.pyspark.enabled=True is experimental.

    Examples
    --------
    >>> l = [('Alice', 1)]
    >>> spark.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> spark.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> spark.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = spark.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = spark.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = spark.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> spark.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> spark.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> spark.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> spark.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

In [3]:
spark.createDataFrame(age_list,'int').show()

+-----+
|value|
+-----+
|    1|
|    2|
|    4|
|    5|
|    6|
|    7|
|    8|
+-----+

In [5]:
from pyspark.sql.types import IntegerType
spark.createDataFrame(age_list,IntegerType()).show()

+-----+
|value|
+-----+
|    1|
|    2|
|    4|
|    5|
|    6|
|    7|
|    8|
+-----+

In [9]:
names_list = ['asfand','saeed','ali','salman']

In [2]:
from pyspark.sql.types import IntegerType,StringType

In [12]:
ss=spark.createDataFrame(names_list,StringType())

In [13]:
ss.show()

+------+
| value|
+------+
|asfand|
| saeed|
|   ali|
|salman|
+------+

## **Creating Multi column using Python List**

In [17]:
# creating single column out of list of tuples


user_lists= [(2,),(1,),(3,)]

In [8]:
user_list=[(120,),(122,),(123,)]

In [10]:
type(user_list)

list

In [11]:
type (user_list[2])

tuple

In [12]:
# spark will throw an error if I pass just int and dont specify the name of the column
sp=spark.createDataFrame(user_list,'id int')

In [13]:
sp.show()

+---+
| id|
+---+
|120|
|122|
|123|
+---+

In [8]:
# Creating multi column dataframe from list of tuples
users_list=[(1,'asfand'),(2,'saeed'),(3,'ali')]

In [6]:
user=[(11,'asfand'),(22,'saeed'),(33,'khan')]
spark.createDataFrame(user,['id int','name string']).show()

+------+-----------+
|id int|name string|
+------+-----------+
|    11|     asfand|
|    22|      saeed|
|    33|       khan|
+------+-----------+

In [9]:
spp=spark.createDataFrame(users_list,['id int','name string'])

In [30]:
spp.show()

+------+-----------+
|id int|name string|
+------+-----------+
|     1|     asfand|
|     2|      saeed|
|     3|        ali|
+------+-----------+

In [31]:
spp.printSchema()

root
 |-- id int: long (nullable = true)
 |-- name string: string (nullable = true)

In [10]:
spp=spark.createDataFrame(users_list,'id int,name string')

In [11]:
spp.show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
+---+------+

In [36]:
spp.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

### **Row Detail**
* Spark data frame is nothing its collection of row objects. To see in detail I have used collect function that will convert the dataframe into python list of rows.
* Row is constructed under SQL module

In [37]:
spp.collect()

[Row(id=1, name='asfand'), Row(id=2, name='saeed'), Row(id=3, name='ali')]

In [38]:
type(spp.collect())

list

In [2]:
from pyspark.sql    import Row

In [ ]:
help(Row)

#### Row(*args, **kwargs)
* First is list of arguments
* Second is list of key , values arguments

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [3]:
rows=[Row(id=1,name='asfand')]

In [4]:
rows1=Row(2,'saeed')
rows1[1]

'saeed'

In [5]:
spark.createDataFrame(rows).show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
+---+------+

In [20]:
rows.name

'asfand'

In [21]:
rows['name']

'asfand'

In [51]:
rows[0]

1

## **Converting List of List into Data Frame using ROW**

In [6]:
nas=[[1,'asfand'],[2,'saeed'],[3,'khan']]
### convert into row and then to dataframe
nass=[ Row(*i)  for i in nas]
print (nass)
spark.createDataFrame(nass,'id int,name string').show()

[<Row(1, 'asfand')>, <Row(2, 'saeed')>, <Row(3, 'khan')>]
+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|  khan|
+---+------+

## **Converting List of Tuples into Data Frame**

In [9]:
users_list=[(1,'asfand'),(2,'saeed'),(3,'ali')]

#### **Converting the list of tuples into dataframe**

In [8]:
spark

In [10]:
spark.createDataFrame(users_list,['id int','names string']).show()
users_list

+------+------------+
|id int|names string|
+------+------------+
|     1|      asfand|
|     2|       saeed|
|     3|         ali|
+------+------------+

[(1, 'asfand'), (2, 'saeed'), (3, 'ali')]

In [25]:
spp=spark.createDataFrame(users_list)

In [26]:
spp.show()

+---+------+
| _1|    _2|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
+---+------+

#### **Converting List of Tuples into List of Rows and Converting into DataFrame**

In [28]:
def dumy (*list):
    print(list)
    print (len(list))

In [29]:
# if we dont put * at the start it will make it single unit as an out put.
users=(1,'asfand')
dumy (users)

((1, 'asfand'),)
1

In [30]:
# by having the number of argument 2 we can make it two columns with one row 
dumy (*users)

(1, 'asfand')
2

In [31]:
# Lets do the row comprehansions
user= [Row(*us) for us in users_list]

In [32]:
# Here we go with the list of Rows
user

In [33]:
spp=spark.createDataFrame(user,'id int , names string')

In [34]:
spp.show()

+---+------+
| id| names|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
+---+------+

In [35]:
spp.printSchema()

root
 |-- id: integer (nullable = true)
 |-- names: string (nullable = true)

### Convert List of Dicts ito Spark DataFrame Using Row

In [37]:
user_dicts=[
    {'id' : 1 , 'name' : 'asfand'}
    ,{'id' : 2 , 'name' :'saeed'}
    ,{'id' : 3 , 'name' : 'ali'}
    ,{'id' : 4 , 'name' :'khan'}
    ]

In [38]:
type(user_dicts[1])

dict

#### **Converting the list of dicts via \*args and \*\*args**

In [39]:
# To understand take one element and convert it into Row then we will use for loop for whole list of Dicts
usr=user_dicts[1].values()
usr

dict_values([2, 'saeed'])

In [40]:
def dump(*list):
    print(list)
    print(len(list))

In [41]:
dump(usr)

(dict_values([2, 'saeed']),)
1

In [42]:
dump(*usr)

(2, 'saeed')
2

In [8]:
from pyspark.sql import Row

In [44]:
usr1=[Row(*us.values()) for us in user_dicts]

In [45]:
usr1

In [46]:
spp=spark.createDataFrame(usr1, 'id int ,user_name string')

In [47]:
spp.show()

+---+---------+
| id|user_name|
+---+---------+
|  1|   asfand|
|  2|    saeed|
|  3|      ali|
|  4|     khan|
+---+---------+

In [48]:
user_dicts[1]

{'id': 2, 'name': 'saeed'}

In [49]:
usr11= user_dicts[1]

In [50]:
def dumps(**ars):
    print (ars)
    print(len(ars))

In [51]:
# this has considered id and name as 2 different arguments
dumps(**user_dicts[1])

{'id': 2, 'name': 'saeed'}
2

In [52]:
# for all the dataset we have below things.
dp=[Row (**us) for us in user_dicts]

In [53]:
dp

[Row(id=1, name='asfand'),
 Row(id=2, name='saeed'),
 Row(id=3, name='ali'),
 Row(id=4, name='khan')]

In [54]:
dp1=spark.createDataFrame(dp)

In [55]:
dp1.show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
|  4|  khan|
+---+------+

### **List of Dic to Dataframe**

In [3]:
import datetime

In [13]:
user1=[
    {"id":1,
     "name": 'asfand',
     "email" : 'asfand@addo.ai',
     "is_customer": True,
     "amount":1000.32,
     'customr_from':datetime.datetime(2021,1,15),
     'last_update': datetime.datetime(2021,2,10,1,15,0)       
    },
 {   "id":2,
     "name": 'saeed',
     "email" : 'saeed@addo.ai',
     "is_customer": True,
     "amount":900.32,
     'customr_from':datetime.datetime(2021,2,25),
     'last_update': datetime.datetime(2021,3,11,2,10,0)
},
  {   "id":3,
     "name": 'ali',
     "email" : 'ali@addo.ai',
     "is_customer": False,
     "amount":None,
     'customr_from':None,
     'last_update': datetime.datetime(2021,3,11,2,10,0)
},
    {   "id":4,
     "name": 'khan',
     "email" : 'khan@addo.ai',
     "is_customer": False,
     "amount":None,
     'customr_from':None,
     'last_update': datetime.datetime(2021,3,12,4,10,0)
},
        {   "id":5,
     "name": 'He',
     "email" : 'he@addo.ai',
     "is_customer": False,
     "amount":None,
     'customr_from':None,
     'last_update': datetime.datetime(2022,4,12,4,10,0)
}   
]

In [14]:
from pyspark.sql import Row

In [15]:
ros=[Row (**us) for us in user1]

In [16]:
ros

[Row(id=1, name='asfand', email='asfand@addo.ai', is_customer=True, amount=1000.32, customr_from=datetime.datetime(2021, 1, 15, 0, 0), last_update=datetime.datetime(2021, 2, 10, 1, 15)),
 Row(id=2, name='saeed', email='saeed@addo.ai', is_customer=True, amount=900.32, customr_from=datetime.datetime(2021, 2, 25, 0, 0), last_update=datetime.datetime(2021, 3, 11, 2, 10)),
 Row(id=3, name='ali', email='ali@addo.ai', is_customer=False, amount=None, customr_from=None, last_update=datetime.datetime(2021, 3, 11, 2, 10)),
 Row(id=4, name='khan', email='khan@addo.ai', is_customer=False, amount=None, customr_from=None, last_update=datetime.datetime(2021, 3, 12, 4, 10)),
 Row(id=5, name='He', email='he@addo.ai', is_customer=False, amount=None, customr_from=None, last_update=datetime.datetime(2022, 4, 12, 4, 10))]

In [60]:
spark.createDataFrame(user1).show()

+-------+-------------------+--------------+---+-----------+-------------------+------+
| amount|       customr_from|         email| id|is_customer|        last_update|  name|
+-------+-------------------+--------------+---+-----------+-------------------+------+
|1000.32|2021-01-15 00:00:00|asfand@addo.ai|  1|       true|2021-02-10 01:15:00|asfand|
| 900.32|2021-02-25 00:00:00| saeed@addo.ai|  2|       true|2021-03-11 02:10:00| saeed|
|   null|               null|   ali@addo.ai|  3|      false|2021-03-11 02:10:00|   ali|
|   null|               null|  khan@addo.ai|  4|      false|2021-03-12 04:10:00|  khan|
|   null|               null|    he@addo.ai|  5|      false|2022-04-12 04:10:00|    He|
+-------+-------------------+--------------+---+-----------+-------------------+------+

In [18]:
usr12=[Row(**us) for us in user1]

In [19]:
usr12

[Row(id=1, name='asfand', email='asfand@addo.ai', is_customer=True, amount=1000.32, customr_from=datetime.datetime(2021, 1, 15, 0, 0), last_update=datetime.datetime(2021, 2, 10, 1, 15)),
 Row(id=2, name='saeed', email='saeed@addo.ai', is_customer=True, amount=900.32, customr_from=datetime.datetime(2021, 2, 25, 0, 0), last_update=datetime.datetime(2021, 3, 11, 2, 10)),
 Row(id=3, name='ali', email='ali@addo.ai', is_customer=False, amount=None, customr_from=None, last_update=datetime.datetime(2021, 3, 11, 2, 10)),
 Row(id=4, name='khan', email='khan@addo.ai', is_customer=False, amount=None, customr_from=None, last_update=datetime.datetime(2021, 3, 12, 4, 10)),
 Row(id=5, name='He', email='he@addo.ai', is_customer=False, amount=None, customr_from=None, last_update=datetime.datetime(2022, 4, 12, 4, 10))]

In [20]:
ssp = spark.createDataFrame(usr12)

In [66]:
ssp.show()

+---+------+--------------+-----------+-------+-------------------+-------------------+
| id|  name|         email|is_customer| amount|       customr_from|        last_update|
+---+------+--------------+-----------+-------+-------------------+-------------------+
|  1|asfand|asfand@addo.ai|       true|1000.32|2021-01-15 00:00:00|2021-02-10 01:15:00|
|  2| saeed| saeed@addo.ai|       true| 900.32|2021-02-25 00:00:00|2021-03-11 02:10:00|
|  3|   ali|   ali@addo.ai|      false|   null|               null|2021-03-11 02:10:00|
|  4|  khan|  khan@addo.ai|      false|   null|               null|2021-03-12 04:10:00|
|  5|    He|    he@addo.ai|      false|   null|               null|2022-04-12 04:10:00|
+---+------+--------------+-----------+-------+-------------------+-------------------+

In [21]:
ssp.columns

['id', 'name', 'email', 'is_customer', 'amount', 'customr_from', 'last_update']

In [22]:
ssp.dtypes

[('id', 'bigint'),
 ('name', 'string'),
 ('email', 'string'),
 ('is_customer', 'boolean'),
 ('amount', 'double'),
 ('customr_from', 'timestamp'),
 ('last_update', 'timestamp')]

### **Specify Schema As String**

In [69]:
# Remember that all the values on there position must have same datatype

usr_string=[
    (1,
     "asfand",
     True,
     1000.2,
     datetime.datetime(2022,4,12,4,10,0)
        ),
    (2,
     "saeed",
     True,
     922.2,
     datetime.datetime(2021,4,11,4,10,0)),
    (3,
     "ali",
     False,
     111.2,
     datetime.datetime(2021,4,22,12,10,0)),
    (4,
     "khan",
     False,
     112.2,
     datetime.datetime(2022,4,21,5,10,0))
]

In [70]:
# define the schema as string
usrs='''
id int,
name string,
is_customer boolean,
amount float,
updated_instance timestamp
'''

In [71]:
sp1=spark.createDataFrame(usr_string,schema=usrs)

In [72]:
sp1.show()

+---+------+-----------+------+-------------------+
| id|  name|is_customer|amount|   updated_instance|
+---+------+-----------+------+-------------------+
|  1|asfand|       true|1000.2|2022-04-12 04:10:00|
|  2| saeed|       true| 922.2|2021-04-11 04:10:00|
|  3|   ali|      false| 111.2|2021-04-22 12:10:00|
|  4|  khan|      false| 112.2|2022-04-21 05:10:00|
+---+------+-----------+------+-------------------+

### **Specify Schema for Spark Dataframe Using List**

In [73]:
# Remember that all the values on there position must have same datatype

usr_schema_list=[
    (1,
     "asfand",
     True,
     1000.2,
     datetime.datetime(2022,4,12,4,10,0)
        ),
    (2,
     "saeed",
     True,
     922.2,
     datetime.datetime(2021,4,11,4,10,0)),
    (3,
     "ali",
     False,
     111.2,
     datetime.datetime(2021,4,22,12,10,0)),
    (4,
     "khan",
     False,
     112.2,
     datetime.datetime(2022,4,21,5,10,0))
]

In [74]:
# define the schema via list of columns when such things happens we just have to pass list of column name and datatype will be infered
user_schema=[
    'id',
    'name',
    'is_customer',
    'amount',
    'update_record' 
]

In [75]:
sp2=spark.createDataFrame(usr_schema_list,schema=user_schema)

In [76]:
sp2.show()

+---+------+-----------+------+-------------------+
| id|  name|is_customer|amount|      update_record|
+---+------+-----------+------+-------------------+
|  1|asfand|       true|1000.2|2022-04-12 04:10:00|
|  2| saeed|       true| 922.2|2021-04-11 04:10:00|
|  3|   ali|      false| 111.2|2021-04-22 12:10:00|
|  4|  khan|      false| 112.2|2022-04-21 05:10:00|
+---+------+-----------+------+-------------------+

In [77]:
sp2.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- amount: double (nullable = true)
 |-- update_record: timestamp (nullable = true)

> Note::\
> The only difference between list of columns and string of columns with data type is that we cant specify any data type while we are using List of columns strategy.

### **Specify Schema Using Spark Types**

In [23]:
# Remember that all the values on there position must have same datatype

usr_schema_type=[
    (1,
     "asfand",
     True,
     1000.2,
     datetime.datetime(2022,4,12,4,10,0)
        ),
    (2,
     "saeed",
     True,
     922.2,
     datetime.datetime(2021,4,11,4,10,0)),
    (3,
     "ali",
     False,
     111.2,
     datetime.datetime(2021,4,22,12,10,0)),
    (4,
     "khan",
     False,
     112.2,
     datetime.datetime(2022,4,21,5,10,0))
]

In [6]:
from pyspark.sql.types import *

In [8]:
import datetime
from pyspark.sql import Row

In [26]:
she=StructType([
    StructField('id', IntegerType()),
    StructField('name', StringType()),
    StructField('is_customer', BooleanType()),
    StructField('amount', FloatType()),
    StructField('update', TimestampType())
])

In [28]:
sp3=spark.createDataFrame(usr_schema_type,she)

In [29]:
sp3.show()

+---+------+-----------+------+-------------------+
| id|  name|is_customer|amount|             update|
+---+------+-----------+------+-------------------+
|  1|asfand|       true|1000.2|2022-04-12 04:10:00|
|  2| saeed|       true| 922.2|2021-04-11 04:10:00|
|  3|   ali|      false| 111.2|2021-04-22 12:10:00|
|  4|  khan|      false| 112.2|2022-04-21 05:10:00|
+---+------+-----------+------+-------------------+

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

### **Create Spark DataFrame Using Pandas Data Frame**
* when there is any missing row in the dict,tuple and list then you will not be able to make spark dataframe

In [9]:
usr_panda=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'amount': 1000.2,
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'amount':922.2,
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'amount':111.2,
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'amount':112.2}
]

In [10]:
# now convert it into collection of ROW list and than convert to spark dataframe
user_row=[Row(**us)  for us in usr_panda]

In [11]:
user_row

[Row(id=1, name='asfand', is_customer=True, amount=1000.2, update=datetime.datetime(2022, 4, 12, 4, 10)),
 Row(id=2, name='saeed', is_customer=True, amount=922.2, update=datetime.datetime(2021, 4, 11, 4, 10)),
 Row(id=3, name='ali', is_customer=False, amount=111.2, update=datetime.datetime(2021, 4, 22, 12, 10)),
 Row(id=4, name='khan', is_customer=False, amount=112.2)]

In [12]:
# now convert to sparkdataframe you will find error as there is one row missing
sp4=spark.createDataFrame(user_row)

In [ ]:
sp4.show()

In [35]:
# now to tickle this issue first of all go for pandas as the missing rows will be replaced by NaN
import pandas as pd

In [36]:
pd.DataFrame(usr_panda)

   id    name  is_customer  amount              update
0   1  asfand         True  1000.2 2022-04-12 04:10:00
1   2   saeed         True   922.2 2021-04-11 04:10:00
2   3     ali        False   111.2 2021-04-22 12:10:00
3   4    khan        False   112.2                 NaT

In [37]:
sp5=spark.createDataFrame(pd.DataFrame(usr_panda))

In [59]:
sp5.show()

+---+------+-----------+------+-------------------+
| id|  name|is_customer|amount|             update|
+---+------+-----------+------+-------------------+
|  1|asfand|       true|1000.2|2022-04-12 04:10:00|
|  2| saeed|       true| 922.2|2021-04-11 04:10:00|
|  3|   ali|      false| 111.2|2021-04-22 12:10:00|
|  4|  khan|      false| 112.2|               null|
+---+------+-----------+------+-------------------+

In [60]:
sd=spark.read.option('multiline','true').json('iris.json')

In [61]:
sd.show()

+-----------+----------+-----------+----------+-------+
|petalLength|petalWidth|sepalLength|sepalWidth|species|
+-----------+----------+-----------+----------+-------+
|        1.4|       0.2|        5.1|       3.5| setosa|
|        1.4|       0.2|        4.9|       3.0| setosa|
|        1.3|       0.2|        4.7|       3.2| setosa|
|        1.5|       0.2|        4.6|       3.1| setosa|
|        1.4|       0.2|        5.0|       3.6| setosa|
|        1.7|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        4.6|       3.4| setosa|
|        1.5|       0.2|        5.0|       3.4| setosa|
|        1.4|       0.2|        4.4|       2.9| setosa|
|        1.5|       0.1|        4.9|       3.1| setosa|
|        1.5|       0.2|        5.4|       3.7| setosa|
|        1.6|       0.2|        4.8|       3.4| setosa|
|        1.4|       0.1|        4.8|       3.0| setosa|
|        1.1|       0.1|        4.3|       3.0| setosa|
|        1.2|       0.2|        5.8|       4.0| setosa|
|        1.5|       0.4|        5.7|       4.4| setosa|
|        1.3|       0.4|        5.4|       3.9| setosa|
|        1.4|       0.3|        5.1|       3.5| setosa|
|        1.7|       0.3|        5.7|       3.8| setosa|
|        1.5|       0.3|        5.1|       3.8| setosa|
+-----------+----------+-----------+----------+-------+
only showing top 20 rows

#### **Arry Type Columns in Spark DataFrame**
* Here we use Explode the data and Explode_outer the data.
* Explode have the requirement of removing the null value row from the output where as Explode_out will include the null values rows as well.

In [21]:
import pandas as pd
from pyspark.sql.types import *
from pyspark.sql import Row

In [22]:
usr_Arry=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': ['+92329677783','+9234245672'],
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': ['+92329672283','+9234236672'],
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': ['+92329634283','+9234242222'],
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': None,#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
    }
]

In [23]:
use=[Row(**us) for us in usr_Arry]

In [24]:
use

[Row(id=1, name='asfand', is_customer=True, phone=['+92329677783', '+9234245672'], update=datetime.datetime(2022, 4, 12, 4, 10)),
 Row(id=2, name='saeed', is_customer=True, phone=['+92329672283', '+9234236672'], update=datetime.datetime(2021, 4, 11, 4, 10)),
 Row(id=3, name='ali', is_customer=False, phone=['+92329634283', '+9234242222'], update=datetime.datetime(2021, 4, 22, 12, 10)),
 Row(id=4, name='khan', is_customer=False, phone=None, update=None)]

In [25]:
spp1=spark.createDataFrame(use)

In [26]:
spp1.show(truncate=False)

+---+------+-----------+---------------------------+-------------------+
|id |name  |is_customer|phone                      |update             |
+---+------+-----------+---------------------------+-------------------+
|1  |asfand|true       |[+92329677783, +9234245672]|2022-04-12 04:10:00|
|2  |saeed |true       |[+92329672283, +9234236672]|2021-04-11 04:10:00|
|3  |ali   |false      |[+92329634283, +9234242222]|2021-04-22 12:10:00|
|4  |khan  |false      |null                       |null               |
+---+------+-----------+---------------------------+-------------------+

In [27]:
spp1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- phone: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- update: timestamp (nullable = true)

In [29]:
spp1.select('id','phone').show()

+---+--------------------+
| id|               phone|
+---+--------------------+
|  1|[+92329677783, +9...|
|  2|[+92329672283, +9...|
|  3|[+92329634283, +9...|
|  4|                null|
+---+--------------------+

In [30]:
spp1.columns

['id', 'name', 'is_customer', 'phone', 'update']

In [31]:
# Normalize the data first import the col and then separate the first and second number from eachother
from pyspark.sql.functions import col
from pyspark.sql.functions import explode
from pyspark.sql.functions import *

In [33]:
spp1.select('id','phone',col('phone')[0].alias('firs_number'),col('phone')[1].alias('second_number')).show()

+---+--------------------+------------+-------------+
| id|               phone| firs_number|second_number|
+---+--------------------+------------+-------------+
|  1|[+92329677783, +9...|+92329677783|  +9234245672|
|  2|[+92329672283, +9...|+92329672283|  +9234236672|
|  3|[+92329634283, +9...|+92329634283|  +9234242222|
|  4|                null|        null|         null|
+---+--------------------+------------+-------------+

In [32]:
spp1.select('id',col('phone')[0].alias('first_number'),col('phone')[1].alias('2nd_number')).show()

+---+------------+-----------+
| id|first_number| 2nd_number|
+---+------------+-----------+
|  1|+92329677783|+9234245672|
|  2|+92329672283|+9234236672|
|  3|+92329634283|+9234242222|
|  4|        null|       null|
+---+------------+-----------+

In [34]:
# Now apply explode function
spp1.withColumn('new_phone',explode('phone')).drop('phone').show()

+---+------+-----------+-------------------+------------+
| id|  name|is_customer|             update|   new_phone|
+---+------+-----------+-------------------+------------+
|  1|asfand|       true|2022-04-12 04:10:00|+92329677783|
|  1|asfand|       true|2022-04-12 04:10:00| +9234245672|
|  2| saeed|       true|2021-04-11 04:10:00|+92329672283|
|  2| saeed|       true|2021-04-11 04:10:00| +9234236672|
|  3|   ali|      false|2021-04-22 12:10:00|+92329634283|
|  3|   ali|      false|2021-04-22 12:10:00| +9234242222|
+---+------+-----------+-------------------+------------+

In [3]:
from pyspark.sql.functions import explode_outer
from pyspark.sql import Row
import datetime
from pyspark.sql import *

In [36]:
spp1.withColumn('new_phone',explode_outer('phone')).drop('phone').show()

+---+------+-----------+-------------------+------------+
| id|  name|is_customer|             update|   new_phone|
+---+------+-----------+-------------------+------------+
|  1|asfand|       true|2022-04-12 04:10:00|+92329677783|
|  1|asfand|       true|2022-04-12 04:10:00| +9234245672|
|  2| saeed|       true|2021-04-11 04:10:00|+92329672283|
|  2| saeed|       true|2021-04-11 04:10:00| +9234236672|
|  3|   ali|      false|2021-04-22 12:10:00|+92329634283|
|  3|   ali|      false|2021-04-22 12:10:00| +9234242222|
|  4|  khan|      false|               null|        null|
+---+------+-----------+-------------------+------------+

### **List of Tuple to Pandas and then to Spark DataFrame**
* First We will add

In [4]:

import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark
import datetime

In [44]:
usr_Map=[
    (1,
     "asfand",
     True,
     {"+92329677783","+92342454672"},
      datetime.datetime(2022,4,12,4,10,0)
    ),
    (2,
     "saeed",
     True,
     {"+92329622283", "+92342442312"},
      datetime.datetime(2021,4,11,4,10,0)),
    (3,
     "ali",
     False,
     {"+92329644483", "+92342445552"},
     datetime.datetime(2021,4,22,12,10,0)),
    (4,
     "khan",
     False,
      None,#['+92329633456','+9234247654'],
     None #datetime.datetime(2022,5,1,10,10,0)}
    )
]

In [51]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType,BooleanType,TimestampType,ArrayType

scha=StructType([StructField('id', IntegerType()),
    StructField('name', StringType()),
    StructField('is_customer', BooleanType()),
    StructField('phone', StringType()),
    StructField('update', TimestampType())])

In [52]:
### now creating pandas Dataframe
df=pd.DataFrame(usr_Map,columns=['id','name','is_customer','phone','update'])
df

   id    name  is_customer                         phone              update
0   1  asfand         True  {+92329677783, +92342454672} 2022-04-12 04:10:00
1   2   saeed         True  {+92342442312, +92329622283} 2021-04-11 04:10:00
2   3     ali        False  {+92329644483, +92342445552} 2021-04-22 12:10:00
3   4    khan        False                          None                 NaT

In [58]:
sp=spark.createDataFrame(df,scha)
sp.show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|[+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|[+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|[+92342445552, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|                null|               null|
+---+------+-----------+--------------------+-------------------+

In [42]:
sp.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- phone: string (nullable = true)
 |-- update: timestamp (nullable = true)

#### **Map Type Columns in Spark DataFrame**
* When we have Key value nest it is called Map

> Note ::\
>  we can use explode function just with map and array type column data not struct ie. row('name'='asfand')

In [2]:
import datetime
from pyspark.sql import *

In [3]:
usr_Map=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': {"first":"+92329677783", "Second":"+92342454672"},
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': {"first":"+92329622283", "Second":"+92342442312"},
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': {"first":"+92329644483", "Second":"+92342445552"},
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': None,#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
    }
]

In [5]:
# from pyspark.sql import Row
# Now convert to Row list
uses=[Row(**us) for us in usr_Map]

In [6]:
use_Maps=spark.createDataFrame(uses)

In [7]:
use_Maps.show(truncate=0)

+---+------+-----------+-----------------------------------------------+-------------------+
|id |name  |is_customer|phone                                          |update             |
+---+------+-----------+-----------------------------------------------+-------------------+
|1  |asfand|true       |{Second -> +92342454672, first -> +92329677783}|2022-04-12 04:10:00|
|2  |saeed |true       |{Second -> +92342442312, first -> +92329622283}|2021-04-11 04:10:00|
|3  |ali   |false      |{Second -> +92342445552, first -> +92329644483}|2021-04-22 12:10:00|
|4  |khan  |false      |null                                           |null               |
+---+------+-----------+-----------------------------------------------+-------------------+

In [9]:
use_Maps.select ("*",col('phone')['Second']).show()

+---+------+-----------+--------------------+-------------------+-------------+
| id|  name|is_customer|               phone|             update|phone[Second]|
+---+------+-----------+--------------------+-------------------+-------------+
|  1|asfand|       true|{Second -> +92342...|2022-04-12 04:10:00| +92342454672|
|  2| saeed|       true|{Second -> +92342...|2021-04-11 04:10:00| +92342442312|
|  3|   ali|      false|{Second -> +92342...|2021-04-22 12:10:00| +92342445552|
|  4|  khan|      false|                null|               null|         null|
+---+------+-----------+--------------------+-------------------+-------------+

In [10]:
use_Maps.select("*",col('phone.Second')).show()

+---+------+-----------+--------------------+-------------------+------------+
| id|  name|is_customer|               phone|             update|      Second|
+---+------+-----------+--------------------+-------------------+------------+
|  1|asfand|       true|{Second -> +92342...|2022-04-12 04:10:00|+92342454672|
|  2| saeed|       true|{Second -> +92342...|2021-04-11 04:10:00|+92342442312|
|  3|   ali|      false|{Second -> +92342...|2021-04-22 12:10:00|+92342445552|
|  4|  khan|      false|                null|               null|        null|
+---+------+-----------+--------------------+-------------------+------------+

In [11]:
use_Maps.select("*",use_Maps['phone']['Second']).show()

+---+------+-----------+--------------------+-------------------+-------------+
| id|  name|is_customer|               phone|             update|phone[Second]|
+---+------+-----------+--------------------+-------------------+-------------+
|  1|asfand|       true|{Second -> +92342...|2022-04-12 04:10:00| +92342454672|
|  2| saeed|       true|{Second -> +92342...|2021-04-11 04:10:00| +92342442312|
|  3|   ali|      false|{Second -> +92342...|2021-04-22 12:10:00| +92342445552|
|  4|  khan|      false|                null|               null|         null|
+---+------+-----------+--------------------+-------------------+-------------+

In [10]:
use_Maps.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- phone: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- update: timestamp (nullable = true)

In [6]:
import datetime
from pyspark.sql import Row

In [81]:
use_Maps.select ("*").show(truncate=False)

+---+------+-----------+-----------------------------------------------+-------------------+
|id |name  |is_customer|phone                                          |update             |
+---+------+-----------+-----------------------------------------------+-------------------+
|1  |asfand|true       |{Second -> +92342454672, first -> +92329677783}|2022-04-12 04:10:00|
|2  |saeed |true       |{Second -> +92342442312, first -> +92329622283}|2021-04-11 04:10:00|
|3  |ali   |false      |{Second -> +92342445552, first -> +92329644483}|2021-04-22 12:10:00|
|4  |khan  |false      |null                                           |null               |
+---+------+-----------+-----------------------------------------------+-------------------+

In [23]:
use_Maps.select('id','name',explode(col('phone'))).withColumnRenamed('key','types').withColumnRenamed('value','phones').show()

+---+------+------+------------+
| id|  name| types|      phones|
+---+------+------+------------+
|  1|asfand|Second|+92342454672|
|  1|asfand| first|+92329677783|
|  2| saeed|Second|+92342442312|
|  2| saeed| first|+92329622283|
|  3|   ali|Second|+92342445552|
|  3|   ali| first|+92329644483|
+---+------+------+------------+

In [27]:
use_Maps['phone']['Second']

Column<'phone[Second]'>

In [28]:
use_Maps.select('id','name',use_Maps['phone']['Second'],col('phone.first')).show()

+---+------+-------------+------------+
| id|  name|phone[Second]|       first|
+---+------+-------------+------------+
|  1|asfand| +92342454672|+92329677783|
|  2| saeed| +92342442312|+92329622283|
|  3|   ali| +92342445552|+92329644483|
|  4|  khan|         null|        null|
+---+------+-------------+------------+

In [30]:
use_Maps.select ("*").withColumn('first_n',col('phone.first')).withColumn('Second',col('phone.Second')).drop('phone').show()

+---+------+-----------+-------------------+------------+------------+
| id|  name|is_customer|             update|     first_n|      Second|
+---+------+-----------+-------------------+------------+------------+
|  1|asfand|       true|2022-04-12 04:10:00|+92329677783|+92342454672|
|  2| saeed|       true|2021-04-11 04:10:00|+92329622283|+92342442312|
|  3|   ali|      false|2021-04-22 12:10:00|+92329644483|+92342445552|
|  4|  khan|      false|               null|        null|        null|
+---+------+-----------+-------------------+------------+------------+

In [35]:
use_Maps.select("*").withColumn('first_n', col('phone')['first']).show()
# .withColumn('Second',col(['phone'])['Second']).drop('phone').show()

+---+------+-----------+--------------------+-------------------+------------+
| id|  name|is_customer|               phone|             update|     first_n|
+---+------+-----------+--------------------+-------------------+------------+
|  1|asfand|       true|{Second -> +92342...|2022-04-12 04:10:00|+92329677783|
|  2| saeed|       true|{Second -> +92342...|2021-04-11 04:10:00|+92329622283|
|  3|   ali|      false|{Second -> +92342...|2021-04-22 12:10:00|+92329644483|
|  4|  khan|      false|                null|               null|        null|
+---+------+-----------+--------------------+-------------------+------------+

In [83]:
# using Explode function we get the column of key and values
use_Maps.select("*",explode("phone")).\
    withColumnRenamed("key","Phone_Type").\
    withColumnRenamed("value","Number").\
    show()

+---+------+-----------+--------------------+-------------------+----------+------------+
| id|  name|is_customer|               phone|             update|Phone_Type|      Number|
+---+------+-----------+--------------------+-------------------+----------+------------+
|  1|asfand|       true|{Second -> +92342...|2022-04-12 04:10:00|    Second|+92342454672|
|  1|asfand|       true|{Second -> +92342...|2022-04-12 04:10:00|     first|+92329677783|
|  2| saeed|       true|{Second -> +92342...|2021-04-11 04:10:00|    Second|+92342442312|
|  2| saeed|       true|{Second -> +92342...|2021-04-11 04:10:00|     first|+92329622283|
|  3|   ali|      false|{Second -> +92342...|2021-04-22 12:10:00|    Second|+92342445552|
|  3|   ali|      false|{Second -> +92342...|2021-04-22 12:10:00|     first|+92329644483|
+---+------+-----------+--------------------+-------------------+----------+------------+

In [84]:
use_Maps.select("*",explode("phone")).\
    withColumnRenamed("key","Phone_Type").\
    withColumnRenamed("value","Number").\
    show()

+---+------+-----------+--------------------+-------------------+----------+------------+
| id|  name|is_customer|               phone|             update|Phone_Type|      Number|
+---+------+-----------+--------------------+-------------------+----------+------------+
|  1|asfand|       true|{Second -> +92342...|2022-04-12 04:10:00|    Second|+92342454672|
|  1|asfand|       true|{Second -> +92342...|2022-04-12 04:10:00|     first|+92329677783|
|  2| saeed|       true|{Second -> +92342...|2021-04-11 04:10:00|    Second|+92342442312|
|  2| saeed|       true|{Second -> +92342...|2021-04-11 04:10:00|     first|+92329622283|
|  3|   ali|      false|{Second -> +92342...|2021-04-22 12:10:00|    Second|+92342445552|
|  3|   ali|      false|{Second -> +92342...|2021-04-22 12:10:00|     first|+92329644483|
+---+------+-----------+--------------------+-------------------+----------+------------+

### **Creating Spark Data Frame to Select and Rename Columns**

In [16]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second=None), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
    }
]

In [17]:
user_struct= [Row(**us) for us in usr_Struct]

In [18]:
spp2=spark.createDataFrame(user_struct)

In [21]:
spp2.show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

In [29]:
spp2.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- phone: struct (nullable = true)
 |    |-- first: string (nullable = true)
 |    |-- Second: string (nullable = true)
 |-- update: timestamp (nullable = true)

In [33]:
spp2.select('id',col('phone.first'),col('phone')['first'].alias('bb')).show()

+---+------------+------------+
| id|       first|          bb|
+---+------------+------------+
|  1|+92329677783|+92329677783|
|  2|+92329622283|+92329622283|
|  3|+92329644483|+92329644483|
|  4|        null|        null|
+---+------------+------------+

In [30]:
spp2.select('id','phone.first','phone.Second').show()

+---+------------+------------+
| id|       first|      Second|
+---+------------+------------+
|  1|+92329677783|+92342454672|
|  2|+92329622283|+92342442312|
|  3|+92329644483|+92342445552|
|  4|        null|        null|
+---+------------+------------+

In [91]:
spp2.select('*').show(truncate=False)

+---+------+-----------+----------------------------+-------------------+
|id |name  |is_customer|phone                       |update             |
+---+------+-----------+----------------------------+-------------------+
|1  |asfand|true       |{+92329677783, +92342454672}|2022-04-12 04:10:00|
|2  |saeed |true       |{+92329622283, +92342442312}|2021-04-11 04:10:00|
|3  |ali   |false      |{+92329644483, +92342445552}|2021-04-22 12:10:00|
|4  |khan  |false      |{null, null}                |null               |
+---+------+-----------+----------------------------+-------------------+

In [93]:
spp2.select ('id',col('phone.*')).show()

+---+------------+------------+
| id|       first|      Second|
+---+------------+------------+
|  1|+92329677783|+92342454672|
|  2|+92329622283|+92342442312|
|  3|+92329644483|+92342445552|
|  4|        null|        null|
+---+------------+------------+

In [92]:
spp2.select ('id',col('phone.*')).withColumnRenamed('first','first_contact_number').show()

+---+--------------------+------------+
| id|first_contact_number|      Second|
+---+--------------------+------------+
|  1|        +92329677783|+92342454672|
|  2|        +92329622283|+92342442312|
|  3|        +92329644483|+92342445552|
|  4|                null|        null|
+---+--------------------+------------+

## **Renaming Columns**

In [2]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [3]:
usr_Struct=[
    {'id':'5.000,1.0,0,,IDD_SMS_KSA_IC,16384,null,0,586,NewBasic,NewBasic,null;1.00,1.0,0,,IDD_SMS_KSA_IC,128,null,1,20005252,null,null,null;-5.000,1.0,0,,IDD_SMS_KSA_IC,128,null,1,586,null,null,null'}]
import pandas as pd
df=spark.createDataFrame(pd.DataFrame(usr_Struct))
df.show()
df.createOrReplaceTempView('users')

+--------------------+
|                  id|
+--------------------+
|5.000,1.0,0,,IDD_...|
+--------------------+

In [4]:
spark.sql("""select * from users """).show(truncate=0)

+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|id                                                                                                                                                                                          |
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|5.000,1.0,0,,IDD_SMS_KSA_IC,16384,null,0,586,NewBasic,NewBasic,null;1.00,1.0,0,,IDD_SMS_KSA_IC,128,null,1,20005252,null,null,null;-5.000,1.0,0,,IDD_SMS_KSA_IC,128,null,1,586,null,null,null|
+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [5]:
num_semicolons = spark.sql("SELECT (LENGTH(id) - LENGTH(REPLACE(id, ';', ''))) AS num_semicolons FROM users")

# Show the resulting DataFrame
num_semicolons.show()

+--------------+
|num_semicolons|
+--------------+
|             2|
+--------------+

In [4]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second="+92342445552"), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
    }
]

In [6]:
pd.DataFrame(usr_Struct)

   id    name  is_customer                         phone              update
0   1  asfand         True  (+92329677783, +92342454672) 2022-04-12 04:10:00
1   2   saeed         True  (+92329622283, +92342442312) 2021-04-11 04:10:00
2   3     ali        False  (+92329644483, +92342445552) 2021-04-22 12:10:00
3   4    khan        False                  (None, None)                 NaT

In [5]:
import pandas as pd
df=spark.createDataFrame(pd.DataFrame(usr_Struct))
df.show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

In [7]:
df.alias('u').select ('u.*').show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

In [8]:
df.alias ('s').select (['s.id','s.name']).show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
|  4|  khan|
+---+------+

In [14]:
df.alias('u').select(['u.id','u.name','u.phone']).show(truncate=False)

+---+------+----------------------------+
|id |name  |phone                       |
+---+------+----------------------------+
|1  |asfand|{+92329677783, +92342454672}|
|2  |saeed |{+92329622283, +92342442312}|
|3  |ali   |{+92329644483, +92342445552}|
|4  |khan  |{null, null}                |
+---+------+----------------------------+

In [9]:
from pyspark.sql.functions import col
from pyspark.sql.functions import concat,lit
df.select(col('id'),col('name'),col('phone')).show()

+---+------+--------------------+
| id|  name|               phone|
+---+------+--------------------+
|  1|asfand|{+92329677783, +9...|
|  2| saeed|{+92329622283, +9...|
|  3|   ali|{+92329644483, +9...|
|  4|  khan|        {null, null}|
+---+------+--------------------+

In [13]:
df.select (col('id'),col('name'),concat(df['name'],lit('_'),col('id')).alias('user_name')).show()

+---+------+---------+
| id|  name|user_name|
+---+------+---------+
|  1|asfand| asfand_1|
|  2| saeed|  saeed_2|
|  3|   ali|    ali_3|
|  4|  khan|   khan_4|
+---+------+---------+

In [21]:
df.select(col('id'),concat(col('name'),lit("_"),col('id')).alias('name_id')).show()

+---+--------+
| id| name_id|
+---+--------+
|  1|asfand_1|
|  2| saeed_2|
|  3|   ali_3|
|  4|  khan_4|
+---+--------+

> Note::\
> We will use col() function allot when it comes to applying functions on top of columns

## **SelectExpr**
* It takes strings not col type object like df['id'] and col('id')

In [22]:
help(df.selectExpr)

Help on method selectExpr in module pyspark.sql.dataframe:

selectExpr(*expr) method of pyspark.sql.dataframe.DataFrame instance
    Projects a set of SQL expressions and returns a new :class:`DataFrame`.

    This is a variant of :func:`select` that accepts SQL expressions.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.selectExpr("age * 2", "abs(age)").collect()
    [Row((age * 2)=4, abs(age)=2), Row((age * 2)=10, abs(age)=5)]

> We can only use spark SQL function while using selectEXPR not pyspark.sql.functions. When we are using this we don't need to import the function.

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [2]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second="+92342445552"), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
    }
]

In [3]:
import pandas as pd
df=spark.createDataFrame(pd.DataFrame(usr_Struct))
df.show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

In [5]:
df.select ('id','name').show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
|  4|  khan|
+---+------+

In [6]:
df.select (col('id'),col('name')).show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
|  4|  khan|
+---+------+

In [7]:
df.select(df['id'],df['name']).show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
|  4|  khan|
+---+------+

In [8]:
df.select (['id','name']).show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
|  4|  khan|
+---+------+

In [17]:
df.select('id',length(col('name')),concat(col('name'),lit('_'),col('id')).alias('name_id')).show()

+---+------------+--------+
| id|length(name)| name_id|
+---+------------+--------+
|  1|           6|asfand_1|
|  2|           5| saeed_2|
|  3|           3|   ali_3|
|  4|           4|  khan_4|
+---+------------+--------+

In [14]:
df.selectExpr('id*2',"length(name)","concat(name,'_',id) as name_id").show()

+--------+------------+--------+
|(id * 2)|length(name)| name_id|
+--------+------------+--------+
|       2|           6|asfand_1|
|       4|           5| saeed_2|
|       6|           3|   ali_3|
|       8|           4|  khan_4|
+--------+------------+--------+

In [24]:
df.selectExpr('id*2','name').show()

+--------+------+
|(id * 2)|  name|
+--------+------+
|       2|asfand|
|       4| saeed|
|       6|   ali|
|       8|  khan|
+--------+------+

In [33]:
df.selectExpr("concat(id,'_',name) as ids").show()

+--------+
|     ids|
+--------+
|1_asfand|
| 2_saeed|
|   3_ali|
|  4_khan|
+--------+

In [40]:
df.selectExpr('id','name','phone',"concat(name,'_',id) as ids").show()

+---+------+--------------------+--------+
| id|  name|               phone|     ids|
+---+------+--------------------+--------+
|  1|asfand|{+92329677783, +9...|asfand_1|
|  2| saeed|{+92329622283, +9...| saeed_2|
|  3|   ali|{+92329644483, +9...|   ali_3|
|  4|  khan|        {null, null}|  khan_4|
+---+------+--------------------+--------+

In [44]:
df.createOrReplaceTempView('users')
spark.sql('''select id,name,concat(name,'_',id) as ids from users''').show()

+---+------+--------+
| id|  name|     ids|
+---+------+--------+
|  1|asfand|asfand_1|
|  2| saeed| saeed_2|
|  3|   ali|   ali_3|
|  4|  khan|  khan_4|
+---+------+--------+

In [45]:
full_name=concat(col('name'),lit('_'),col('id')).alias('ids')
df.select('id',full_name).show()

+---+--------+
| id|     ids|
+---+--------+
|  1|asfand_1|
|  2| saeed_2|
|  3|   ali_3|
|  4|  khan_4|
+---+--------+

In [46]:
df.select('*').show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

### **Understanding col function in Spark**
* Select works on column type object that is col('column name') and df['column name'] and string as column name

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *
# from pyspark

spark = SparkSession.builder.getOrCreate()

spark

In [19]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second="+92342445552"), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
    }
]

In [20]:
import pandas as pd
df=spark.createDataFrame(pd.DataFrame(usr_Struct))
df.show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

In [21]:
df['name']

Column<'name'>

In [22]:
col('name')

Column<'name'>

In [53]:
from pyspark.sql.functions import date_format
dates=date_format('update','yyyyMMdd').cast('int').alias('order_date')
df.select('id',dates).dtypes

[('id', 'bigint'), ('order_date', 'int')]

In [23]:
df.columns

['id', 'name', 'is_customer', 'phone', 'update']

In [29]:
colum=['id', 'name', 'is_customer', 'phone', 'update']
dff=df.select (*colum).withColumn('date_froms',to_date(col('update')))

In [30]:
dff.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- phone: struct (nullable = true)
 |    |-- first: string (nullable = true)
 |    |-- Second: string (nullable = true)
 |-- update: timestamp (nullable = true)
 |-- date_froms: date (nullable = true)

> Data_format will get date,timestamp and string as input and as output it will how string what so ever formate you want.

In [37]:
dff.select ("*").withColumn('date_from_int',date_format(col('date_froms'),'yyyyMMdd')).show()

+---+------+-----------+--------------------+-------------------+----------+-------------+
| id|  name|is_customer|               phone|             update|date_froms|date_from_int|
+---+------+-----------+--------------------+-------------------+----------+-------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|2022-04-12|     20220412|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|2021-04-11|     20210411|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|2021-04-22|     20210422|
|  4|  khan|      false|        {null, null}|               null|      null|         null|
+---+------+-----------+--------------------+-------------------+----------+-------------+

In [38]:
dff.select ("*").withColumn('date_from_int',date_format(col('date_froms'),'yyyyMMdd')).printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- phone: struct (nullable = true)
 |    |-- first: string (nullable = true)
 |    |-- Second: string (nullable = true)
 |-- update: timestamp (nullable = true)
 |-- date_froms: date (nullable = true)
 |-- date_from_int: string (nullable = true)

In [41]:
dff.select ("*").withColumn('date_from_int',date_format(col('date_froms'),'yyyyMMdd').cast('integer')).printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- phone: struct (nullable = true)
 |    |-- first: string (nullable = true)
 |    |-- Second: string (nullable = true)
 |-- update: timestamp (nullable = true)
 |-- date_froms: date (nullable = true)
 |-- date_from_int: integer (nullable = true)

In [21]:
df_test=pd.DataFrame(columns=['from_dates'])
df_test['from_dates']=['2023-09-09','2023-09-01']
df_test=df_test.append({'from_dates':'2023-09-03'},ignore_index=True)
print(df_test)

   from_dates
0  2023-09-09
1  2023-09-01
2  2023-09-03

C:\Users\Asfandyar\AppData\Local\Temp\ipykernel_27504\274203270.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_test=df_test.append({'from_dates':'2023-09-03'},ignore_index=True)

In [22]:
df_test_spark=spark.createDataFrame(df_test)
df_test_spark.printSchema()

root
 |-- from_dates: string (nullable = true)

In [23]:
df_test_spark.select ('*').withColumn('dates',date_format(col('from_dates'),'yyyy/MM/dd')).show()

+----------+----------+
|from_dates|     dates|
+----------+----------+
|2023-09-09|2023/09/09|
|2023-09-01|2023/09/01|
|2023-09-03|2023/09/03|
+----------+----------+

In [44]:
print(date_format('2023-09-09','yyyy/MM/dd'))

Column<'date_format(2023-09-09, yyyy/MM/dd)'>

In [42]:
help(date_format)

Help on function date_format in module pyspark.sql.functions:

date_format(date, format)
    Converts a date/timestamp/string to a value of string in the format specified by the date
    format given by the second argument.

    A pattern could be for instance `dd.MM.yyyy` and could return a string like '18.03.1993'. All
    pattern letters of `datetime pattern`_. can be used.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 1.5.0

    Notes
    -----
    Whenever possible, use specialized functions like `year`.

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
    >>> df.select(date_format('dt', 'MM/dd/yyy').alias('date')).collect()
    [Row(date='04/08/2015')]

In [55]:
df.select('id',dates).printSchema()

root
 |-- id: long (nullable = true)
 |-- order_date: integer (nullable = true)

## **Understanding lit() in Spark**
* If we want to add ,subtract or do any sort of operation in spark we can do that by lit as it returns column type object.

In [5]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *
# from pyspark

spark = SparkSession.builder.getOrCreate()

spark

In [3]:
from pyspark.sql  import Row

In [6]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second="+92342445552"), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
     
    }
]

In [7]:
import pandas as pd
df=spark.createDataFrame(pd.DataFrame(usr_Struct))
df.show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

In [9]:
df.selectExpr('id','name').show()

+---+------+
| id|  name|
+---+------+
|  1|asfand|
|  2| saeed|
|  3|   ali|
|  4|  khan|
+---+------+

In [10]:
df.select (col('id'),col('name'),(col('id')+lit(20)).alias ('sum_20')).show()

+---+------+------+
| id|  name|sum_20|
+---+------+------+
|  1|asfand|    21|
|  2| saeed|    22|
|  3|   ali|    23|
|  4|  khan|    24|
+---+------+------+

## **Renaming Spark DataFrame Columns or Expression**
* If we want to add new column we will use withColumn function.
* WithColumn function can help in renaming of the existing columns as well but it will add up new column which we need to drop in future where as withColumnRenamed will just rename the selected column.
* withColumnRenamed function will help in renaming the columns.
* Alias is also used to rename the column.
* to_DF is use to rename bunch of columns.

#### **WithColumn and WithColumnRenamed**

* Task is to use withColumn and withColumnRenamed to show difference between them.

In [12]:
help(df.withColumn)

Help on method withColumn in module pyspark.sql.dataframe:

withColumn(colName, col) method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` by adding a column or replacing the
    existing column that has the same name.

    The column expression must be an expression over this :class:`DataFrame`; attempting to add
    a column from some other :class:`DataFrame` will raise an error.

    .. versionadded:: 1.3.0

    Parameters
    ----------
    colName : str
        string, name of the new column.
    col : :class:`Column`
        a :class:`Column` expression for the new column.

    Notes
    -----
    This method introduces a projection internally. Therefore, calling it multiple
    times, for instance, via loops in order to add multiple columns can generate big
    plans which can cause performance issues and even `StackOverflowException`.
    To avoid this, use :func:`select` with the multiple columns at once.

    Examples
    --------
    >>> df.withColumn('age2', df.age + 2).collect()
    [Row(age=2, name='Alice', age2=4), Row(age=5, name='Bob', age2=7)]

In [ ]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *
# from pyspark

spark = SparkSession.builder.getOrCreate()

spark

In [11]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0),
     'course':[1,2]
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0),
     'course':[1,3,2]},
    
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second="+92342445552"), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0),
     'course':[1,2,4,5]
     
     },
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None, #datetime.datetime(2022,5,1,10,10,0)}
     'course':[]
    }
]

In [12]:
pa=pd.DataFrame(usr_Struct)
pa

,id,name,is_customer,phone,update,course
0,1,asfand,True,"(+92329677783, +92342454672)",2022-04-12 04:10:00,"[1, 2]"
1,2,saeed,True,"(+92329622283, +92342442312)",2021-04-11 04:10:00,"[1, 3, 2]"
2,3,ali,False,"(+92329644483, +92342445552)",2021-04-22 12:10:00,"[1, 2, 4, 5]"
3,4,khan,False,"(None, None)",NaT,[]

In [13]:
df=spark.createDataFrame(pa)

In [17]:
df.select ('id','name','course').withColumn('courses',size(col('course'))).drop(col('course')).show()

+---+------+-------+
| id|  name|courses|
+---+------+-------+
|  1|asfand|      2|
|  2| saeed|      3|
|  3|   ali|      4|
|  4|  khan|      0|
+---+------+-------+

In [19]:
### Lets rename the columns
df.select('id','name','course').withColumnRenamed('course','dep_courses').show()

+---+------+------------+
| id|  name| dep_courses|
+---+------+------------+
|  1|asfand|      [1, 2]|
|  2| saeed|   [1, 3, 2]|
|  3|   ali|[1, 2, 4, 5]|
|  4|  khan|          []|
+---+------+------------+

In [ ]:
from pyspark.sql.functions import size
df.select('id','name','phone').withColumn('cou',size('phone')).\
    show()

In [26]:
df.select (col('id').alias('student_id'),col('name').alias('student_name'),concat(col('name'),lit('_'),col('id')).alias('students')).show()

+----------+------------+--------+
|student_id|student_name|students|
+----------+------------+--------+
|         1|      asfand|asfand_1|
|         2|       saeed| saeed_2|
|         3|         ali|   ali_3|
|         4|        khan|  khan_4|
+----------+------------+--------+

In [27]:
df.select (df['id'].alias('student_id'),df['name'].alias('student_name'),concat(df['name'],lit('_'),df['id']).alias('students')).show()

+----------+------------+--------+
|student_id|student_name|students|
+----------+------------+--------+
|         1|      asfand|asfand_1|
|         2|       saeed| saeed_2|
|         3|         ali|   ali_3|
|         4|        khan|  khan_4|
+----------+------------+--------+

## **using toDF**
* toDF is use to convert list of tuple to spark dataframe and rdd to spark dataframe.
* Here we will use toDF for bulk renaming of the columns.

In [28]:
rdd = spark.sparkContext.parallelize([("Alice", 1), ("Bob", 2), ("Carol", 3)])
print(type(rdd.collect()))
print(rdd.collect())

<class 'list'>
[('Alice', 1), ('Bob', 2), ('Carol', 3)]

In [27]:
print(rdd.toDF(['name','id']).dtypes)
print (type(rdd.toDF(['name','id'])))

[('name', 'string'), ('id', 'bigint')]
<class 'pyspark.sql.dataframe.DataFrame'>

In [29]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second="+92342445552"), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
     
    }
]

In [30]:
import pandas as pd
df=spark.createDataFrame(pd.DataFrame(usr_Struct))
df.show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

In [31]:
original=['id','name','is_customer','phone','update']
new=['user_id','user_name','user_is_customer','user_phone','user_update']

In [37]:
df.select(original).toDF('user_id','user_name','user_is_customer','user_phone','user_update').show(truncate=0)

+-------+---------+----------------+----------------------------+-------------------+
|user_id|user_name|user_is_customer|user_phone                  |user_update        |
+-------+---------+----------------+----------------------------+-------------------+
|1      |asfand   |true            |{+92329677783, +92342454672}|2022-04-12 04:10:00|
|2      |saeed    |true            |{+92329622283, +92342442312}|2021-04-11 04:10:00|
|3      |ali      |false           |{+92329644483, +92342445552}|2021-04-22 12:10:00|
|4      |khan     |false           |{null, null}                |null               |
+-------+---------+----------------+----------------------------+-------------------+

In [38]:
df.select(original).toDF(*new).show(truncate=0)

+-------+---------+----------------+----------------------------+-------------------+
|user_id|user_name|user_is_customer|user_phone                  |user_update        |
+-------+---------+----------------+----------------------------+-------------------+
|1      |asfand   |true            |{+92329677783, +92342454672}|2022-04-12 04:10:00|
|2      |saeed    |true            |{+92329622283, +92342442312}|2021-04-11 04:10:00|
|3      |ali      |false           |{+92329644483, +92342445552}|2021-04-22 12:10:00|
|4      |khan     |false           |{null, null}                |null               |
+-------+---------+----------------+----------------------------+-------------------+

In [30]:
sour=['id','name','is_customer','phone','update']
target=['s_id','s_name','s_is_customer','s_phone','s_update']

In [38]:
df.select (sour).toDF(*target).show()

+----+------+-------------+--------------------+-------------------+
|s_id|s_name|s_is_customer|             s_phone|           s_update|
+----+------+-------------+--------------------+-------------------+
|   1|asfand|         true|{+92329677783, +9...|2022-04-12 04:10:00|
|   2| saeed|         true|{+92329622283, +9...|2021-04-11 04:10:00|
|   3|   ali|        false|{+92329644483, +9...|2021-04-22 12:10:00|
|   4|  khan|        false|        {null, null}|               null|
+----+------+-------------+--------------------+-------------------+

In [36]:
print('toDF' in dir(pd.DataFrame))

False

In [35]:
print(dir(pd.DataFrame))

['T', '_AXIS_LEN', '_AXIS_NAMES', '_AXIS_NUMBERS', '_AXIS_ORDERS', '_AXIS_TO_AXIS_NUMBER', '_HANDLED_TYPES', '__abs__', '__add__', '__and__', '__annotations__', '__array__', '__array_priority__', '__array_ufunc__', '__array_wrap__', '__bool__', '__class__', '__contains__', '__copy__', '__deepcopy__', '__delattr__', '__delitem__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__finalize__', '__floordiv__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__iand__', '__ifloordiv__', '__imod__', '__imul__', '__init__', '__init_subclass__', '__invert__', '__ior__', '__ipow__', '__isub__', '__iter__', '__itruediv__', '__ixor__', '__le__', '__len__', '__lt__', '__matmul__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__nonzero__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmatmul__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__setitem__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__weakref__', '__xor__', '_accessors', '_accum_func', '_add_numeric_operations', '_agg_by_level', '_agg_examples_doc', '_agg_summary_and_see_also_doc', '_align_frame', '_align_series', '_append', '_arith_method', '_as_manager', '_box_col_values', '_can_fast_transpose', '_check_inplace_and_allows_duplicate_labels', '_check_inplace_setting', '_check_is_chained_assignment_possible', '_check_label_or_level_ambiguity', '_check_setitem_copy', '_clear_item_cache', '_clip_with_one_bound', '_clip_with_scalar', '_cmp_method', '_combine_frame', '_consolidate', '_consolidate_inplace', '_construct_axes_dict', '_construct_axes_from_arguments', '_construct_result', '_constructor', '_constructor_sliced', '_convert', '_count_level', '_data', '_dir_additions', '_dir_deletions', '_dispatch_frame_op', '_drop_axis', '_drop_labels_or_levels', '_ensure_valid_index', '_find_valid_index', '_from_arrays', '_from_mgr', '_get_agg_axis', '_get_axis', '_get_axis_name', '_get_axis_number', '_get_axis_resolvers', '_get_block_manager_axis', '_get_bool_data', '_get_cleaned_column_resolvers', '_get_column_array', '_get_index_resolvers', '_get_item_cache', '_get_label_or_level_values', '_get_numeric_data', '_get_value', '_getitem_bool_array', '_getitem_multilevel', '_gotitem', '_hidden_attrs', '_indexed_same', '_info_axis', '_info_axis_name', '_info_axis_number', '_info_repr', '_init_mgr', '_inplace_method', '_internal_names', '_internal_names_set', '_is_copy', '_is_homogeneous_type', '_is_label_or_level_reference', '_is_label_reference', '_is_level_reference', '_is_mixed_type', '_is_view', '_iset_item', '_iset_item_mgr', '_iset_not_inplace', '_iter_column_arrays', '_ixs', '_join_compat', '_logical_func', '_logical_method', '_maybe_cache_changed', '_maybe_update_cacher', '_metadata', '_min_count_stat_function', '_needs_reindex_multi', '_protect_consolidate', '_reduce', '_reduce_axis1', '_reindex_axes', '_reindex_columns', '_reindex_index', '_reindex_multi', '_reindex_with_indexers', '_rename', '_replace_columnwise', '_repr_data_resource_', '_repr_fits_horizontal_', '_repr_fits_vertical_', '_repr_html_', '_repr_latex_', '_reset_cache', '_reset_cacher', '_sanitize_column', '_series', '_set_axis', '_set_axis_name', '_set_axis_nocheck', '_set_is_copy', '_set_item', '_set_item_frame_value', '_set_item_mgr', '_set_value', '_setitem_array', '_setitem_frame', '_setitem_slice', '_slice', '_stat_axis', '_stat_axis_name', '_stat_axis_number', '_stat_function', '_stat_function_ddof', '_take_with_is_copy', '_to_dict_of_blocks', '_typ', '_update_inplace', '_validate_dtype', '_values', '_where', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'applymap', 'asfreq', 'asof', 'assign', 'astype', 'at', 'at_time', 'attrs', 'axes', 'backfill', 'between_time', 'bfill', 'bool', 'boxplot', 'clip', 'columns', 'combine', 'combine_first', 'compare', 'convert_dtypes', 'copy', 'corr', 'corrwith', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'describe', 'diff', 'div', 'divide', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtypes', 'duplicated', 'empty', 'eq', 'equals', 'eval', 'ewm', 'expanding', 'explode', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_dict', 'from_records', 'ge', 'get', 'groupby', 'gt', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'index', 'infer_objects', 'info', 'insert', 'interpolate', 'isin', 'isna', 'isnull', 'items', 'iteritems', 'iterrows', 'itertuples', 'join', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lookup', 'lt', 'mad', 'mask', 'max', 'mean', 'median', 'melt', 'memory_usage', 'merge', 'min', 'mod', 'mode', 'mul', 'multiply', 'ndim', 'ne', 'nlargest', 'notna', 'notnull', 'nsmallest', 'nunique', 'pad', 'pct_change', 'pipe', 'pivot', 'pivot_table', 'plot', 'pop', 'pow', 'prod', 'product', 'quantile', 'query', 'radd', 'rank', 'rdiv', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'select_dtypes', 'sem', 'set_axis', 'set_flags', 'set_index', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'sparse', 'squeeze', 'stack', 'std', 'style', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dict', 'to_excel', 'to_feather', 'to_gbq', 'to_hdf', 'to_html', 'to_json', 'to_latex', 'to_markdown', 'to_numpy', 'to_parquet', 'to_period', 'to_pickle', 'to_records', 'to_sql', 'to_stata', 'to_string', 'to_timestamp', 'to_xarray', 'to_xml', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unstack', 'update', 'value_counts', 'values', 'var', 'where', 'xs']

In [ ]:
help(pd.DataFrame.toDF)

In [ ]:
df.select(sour).toDf(*target).show()

### **Manipulating Columns in Spark Data Frames**

## Function in Pyspark

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *
# from pyspark

spark = SparkSession.builder.getOrCreate()

spark

In [2]:
df=spark.read.csv('orders.csv',header=True)
# ,sc?hema='Row_ID int,Order_ID int,Order_Date string,Ship_Date string,Ship_Mode string,Customer_ID int,Customer_Name string,Segment string,Location string,State string,Postal_Code int,Region string,Product_ID string,Category string,`Sub-Category` string,Product_Name string,Sales  decimal(18,4),Quantity int,Discount  decimal(18,4),Profit decimal(18,4)',header=False).\
    # show()

In [3]:
df.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+--------------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|            Location|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+--------------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156|15/04/2017|1101102016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States,Hen...|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|       0| 41.9136|
|     2|CA-2016-152156|15/04/2018|1101102016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States,Hen...|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|       0| 219.582|
|     3|CA-2016-138688|15/04/2019| 601602016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States,Los...|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|       0|  6.8714|
|     4|US-2015-108966|15/04/2020|1001802015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States,For...|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|15/04/2021|1001802015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States,For...|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|15/04/2022| 601402014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States,Los...|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|       0| 14.1694|
|     7|CA-2014-115812|15/04/2023| 601402014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States,Los...|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|       0|  1.9656|
|     8|CA-2014-115812|15/04/2024| 601402014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States,Los...|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|15/04/2025| 601402014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States,Los...|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|15/04/2026| 601402014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States,Los...|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|       0|   34.47|
|    11|CA-2014-115812|15/04/2027| 601402014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States,Los...|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|15/04/2028| 601402014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States,Los...|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412|15/04/2017| 402002017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States,Con...|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389|15/04/2017|1201002016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States,Sea...|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|22/11/2015|1102602015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States,For...|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|22/11/2015|1102602015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States,For...|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|15/04/2017|1101802014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States,Mad...|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|       0| 13.3176|
|    18|CA-2014-167164|13/05/2014| 501502014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States,Wes...|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|       0|    9.99|
|    19|CA-2014-143336|27/08/2014|  90102014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States,San...|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|       0|  2.4824|
|    20|CA-2014-143336|27/08/2014|  90102014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States,San...|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+--------------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

In [4]:
df.printSchema()

root
 |-- Row ID: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Location: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: string (nullable = true)

In [5]:
df1=df.select('Row ID','Order ID','Ship Date','Order Date').withColumn('order_month',to_date(col('Order Date'),'dd/MM/yyyy').alias('order_month')).dropna(subset=['order_month'])

In [6]:
df2=df1.select('Row ID','Order ID','Ship Date','Order Date','order_month').withColumn('month_data',date_format(col('order_month'),'yyyyMM'))
df2.show()

+------+--------------+----------+----------+-----------+----------+
|Row ID|      Order ID| Ship Date|Order Date|order_month|month_data|
+------+--------------+----------+----------+-----------+----------+
|     1|CA-2016-152156|1101102016|15/04/2017| 2017-04-15|    201704|
|     2|CA-2016-152156|1101102016|15/04/2018| 2018-04-15|    201804|
|     3|CA-2016-138688| 601602016|15/04/2019| 2019-04-15|    201904|
|     4|US-2015-108966|1001802015|15/04/2020| 2020-04-15|    202004|
|     5|US-2015-108966|1001802015|15/04/2021| 2021-04-15|    202104|
|     6|CA-2014-115812| 601402014|15/04/2022| 2022-04-15|    202204|
|     7|CA-2014-115812| 601402014|15/04/2023| 2023-04-15|    202304|
|     8|CA-2014-115812| 601402014|15/04/2024| 2024-04-15|    202404|
|     9|CA-2014-115812| 601402014|15/04/2025| 2025-04-15|    202504|
|    10|CA-2014-115812| 601402014|15/04/2026| 2026-04-15|    202604|
|    11|CA-2014-115812| 601402014|15/04/2027| 2027-04-15|    202704|
|    12|CA-2014-115812| 601402014|15/04/2028| 2028-04-15|    202804|
|    13|CA-2017-114412| 402002017|15/04/2017| 2017-04-15|    201704|
|    14|CA-2016-161389|1201002016|15/04/2017| 2017-04-15|    201704|
|    15|US-2015-118983|1102602015|22/11/2015| 2015-11-22|    201511|
|    16|US-2015-118983|1102602015|22/11/2015| 2015-11-22|    201511|
|    17|CA-2014-105893|1101802014|15/04/2017| 2017-04-15|    201704|
|    18|CA-2014-167164| 501502014|13/05/2014| 2014-05-13|    201405|
|    19|CA-2014-143336|  90102014|27/08/2014| 2014-08-27|    201408|
|    20|CA-2014-143336|  90102014|27/08/2014| 2014-08-27|    201408|
+------+--------------+----------+----------+-----------+----------+
only showing top 20 rows

In [12]:
df2.filter(col('month_data')=='201405').groupBy(col('order_month')).count().orderBy(col('count').desc()).show()

+-----------+-----+
|order_month|count|
+-----------+-----+
| 2014-05-21|   10|
| 2014-05-30|    8|
| 2014-05-26|    8|
| 2014-05-23|    7|
| 2014-05-20|    7|
| 2014-05-13|    6|
| 2014-05-27|    5|
| 2014-05-18|    4|
| 2014-05-25|    3|
| 2014-05-28|    3|
| 2014-05-31|    2|
| 2014-05-16|    2|
| 2014-05-22|    2|
| 2014-05-19|    2|
| 2014-05-14|    1|
| 2014-05-24|    1|
| 2014-05-17|    1|
+-----------+-----+

### **lower Function**

In [16]:
df.select('Row ID','Order ID','Location','State','Postal Code').withColumn('loctions',lower(col('Location'))).withColumn('Locations',initcap(col('loctions'))).show(truncate=0)

+------+--------------+-----------------------------+--------------+-----------+-----------------------------+-----------------------------+
|Row ID|Order ID      |Location                     |State         |Postal Code|loctions                     |Locations                    |
+------+--------------+-----------------------------+--------------+-----------+-----------------------------+-----------------------------+
|1     |CA-2016-152156|United States,Henderson      |Kentucky      |42420      |united states,henderson      |United States,henderson      |
|2     |CA-2016-152156|United States,Henderson      |Kentucky      |42420      |united states,henderson      |United States,henderson      |
|3     |CA-2016-138688|United States,Los Angeles    |California    |90036      |united states,los angeles    |United States,los Angeles    |
|4     |US-2015-108966|United States,Fort Lauderdale|Florida       |33311      |united states,fort lauderdale|United States,fort Lauderdale|
|5     |US-2015-108966|United States,Fort Lauderdale|Florida       |33311      |united states,fort lauderdale|United States,fort Lauderdale|
|6     |CA-2014-115812|United States,Los Angeles    |California    |90032      |united states,los angeles    |United States,los Angeles    |
|7     |CA-2014-115812|United States,Los Angeles    |California    |90032      |united states,los angeles    |United States,los Angeles    |
|8     |CA-2014-115812|United States,Los Angeles    |California    |90032      |united states,los angeles    |United States,los Angeles    |
|9     |CA-2014-115812|United States,Los Angeles    |California    |90032      |united states,los angeles    |United States,los Angeles    |
|10    |CA-2014-115812|United States,Los Angeles    |California    |90032      |united states,los angeles    |United States,los Angeles    |
|11    |CA-2014-115812|United States,Los Angeles    |California    |90032      |united states,los angeles    |United States,los Angeles    |
|12    |CA-2014-115812|United States,Los Angeles    |California    |90032      |united states,los angeles    |United States,los Angeles    |
|13    |CA-2017-114412|United States,Concord        |North Carolina|28027      |united states,concord        |United States,concord        |
|14    |CA-2016-161389|United States,Seattle        |Washington    |98103      |united states,seattle        |United States,seattle        |
|15    |US-2015-118983|United States,Fort Worth     |Texas         |76106      |united states,fort worth     |United States,fort Worth     |
|16    |US-2015-118983|United States,Fort Worth     |Texas         |76106      |united states,fort worth     |United States,fort Worth     |
|17    |CA-2014-105893|United States,Madison        |Wisconsin     |53711      |united states,madison        |United States,madison        |
|18    |CA-2014-167164|United States,West Jordan    |Utah          |84084      |united states,west jordan    |United States,west Jordan    |
|19    |CA-2014-143336|United States,San Francisco  |California    |94109      |united states,san francisco  |United States,san Francisco  |
|20    |CA-2014-143336|United States,San Francisco  |California    |94109      |united states,san francisco  |United States,san Francisco  |
+------+--------------+-----------------------------+--------------+-----------+-----------------------------+-----------------------------+
only showing top 20 rows

### **Concat_ws Function**

In [21]:
df.select ('Row ID','Order ID','Location','State','Location','State','Postal Code').withColumn('combine',concat_ws('_','Location','State')).show(truncate=0)

+------+--------------+-----------------------------+--------------+-----------------------------+--------------+-----------+--------------------------------------+
|Row ID|Order ID      |Location                     |State         |Location                     |State         |Postal Code|combine                               |
+------+--------------+-----------------------------+--------------+-----------------------------+--------------+-----------+--------------------------------------+
|1     |CA-2016-152156|United States,Henderson      |Kentucky      |United States,Henderson      |Kentucky      |42420      |United States,Henderson_Kentucky      |
|2     |CA-2016-152156|United States,Henderson      |Kentucky      |United States,Henderson      |Kentucky      |42420      |United States,Henderson_Kentucky      |
|3     |CA-2016-138688|United States,Los Angeles    |California    |United States,Los Angeles    |California    |90036      |United States,Los Angeles_California  |
|4     |US-2015-108966|United States,Fort Lauderdale|Florida       |United States,Fort Lauderdale|Florida       |33311      |United States,Fort Lauderdale_Florida |
|5     |US-2015-108966|United States,Fort Lauderdale|Florida       |United States,Fort Lauderdale|Florida       |33311      |United States,Fort Lauderdale_Florida |
|6     |CA-2014-115812|United States,Los Angeles    |California    |United States,Los Angeles    |California    |90032      |United States,Los Angeles_California  |
|7     |CA-2014-115812|United States,Los Angeles    |California    |United States,Los Angeles    |California    |90032      |United States,Los Angeles_California  |
|8     |CA-2014-115812|United States,Los Angeles    |California    |United States,Los Angeles    |California    |90032      |United States,Los Angeles_California  |
|9     |CA-2014-115812|United States,Los Angeles    |California    |United States,Los Angeles    |California    |90032      |United States,Los Angeles_California  |
|10    |CA-2014-115812|United States,Los Angeles    |California    |United States,Los Angeles    |California    |90032      |United States,Los Angeles_California  |
|11    |CA-2014-115812|United States,Los Angeles    |California    |United States,Los Angeles    |California    |90032      |United States,Los Angeles_California  |
|12    |CA-2014-115812|United States,Los Angeles    |California    |United States,Los Angeles    |California    |90032      |United States,Los Angeles_California  |
|13    |CA-2017-114412|United States,Concord        |North Carolina|United States,Concord        |North Carolina|28027      |United States,Concord_North Carolina  |
|14    |CA-2016-161389|United States,Seattle        |Washington    |United States,Seattle        |Washington    |98103      |United States,Seattle_Washington      |
|15    |US-2015-118983|United States,Fort Worth     |Texas         |United States,Fort Worth     |Texas         |76106      |United States,Fort Worth_Texas        |
|16    |US-2015-118983|United States,Fort Worth     |Texas         |United States,Fort Worth     |Texas         |76106      |United States,Fort Worth_Texas        |
|17    |CA-2014-105893|United States,Madison        |Wisconsin     |United States,Madison        |Wisconsin     |53711      |United States,Madison_Wisconsin       |
|18    |CA-2014-167164|United States,West Jordan    |Utah          |United States,West Jordan    |Utah          |84084      |United States,West Jordan_Utah        |
|19    |CA-2014-143336|United States,San Francisco  |California    |United States,San Francisco  |California    |94109      |United States,San Francisco_California|
|20    |CA-2014-143336|United States,San Francisco  |California    |United States,San Francisco  |California    |94109      |United States,San Francisco_California|
+------+--------------+-----------------------------+--------------+-----------------------------+--------------+-----------+--------------------------------------+
only showing top 20 rows

In [41]:
from pyspark.sql.functions import date_format
df.withColumn('dates',date_format('update','yyyyMMdd')).show()

+---+------+-----------+--------------------+-------------------+--------+
| id|  name|is_customer|               phone|             update|   dates|
+---+------+-----------+--------------------+-------------------+--------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|20220412|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|20210411|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|20210422|
|  4|  khan|      false|        {null, null}|               null|    null|
+---+------+-----------+--------------------+-------------------+--------+

In [42]:
## Group by
df.groupBy(date_format('update','yyyyMMdd').alias('year')).count().show()

+--------+-----+
|    year|count|
+--------+-----+
|20220412|    1|
|20210411|    1|
|20210422|    1|
|    null|    1|
+--------+-----+

In [45]:
df.orderBy(date_format('update','yyyyMMdd').desc()).show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  4|  khan|      false|        {null, null}|               null|
+---+------+-----------+--------------------+-------------------+

In [47]:
df.orderBy(col('name').desc()).show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  4|  khan|      false|        {null, null}|               null|
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
+---+------+-----------+--------------------+-------------------+

In [48]:
df.orderBy(df['name'].desc()).show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  4|  khan|      false|        {null, null}|               null|
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
+---+------+-----------+--------------------+-------------------+

In [49]:
df.orderBy(df.name.desc()).show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|             update|
+---+------+-----------+--------------------+-------------------+
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|
|  4|  khan|      false|        {null, null}|               null|
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|
+---+------+-----------+--------------------+-------------------+

In [51]:
df.withColumn('names','id'+lit(5)).show()

+---+------+-----------+--------------------+-------------------+-----+
| id|  name|is_customer|               phone|             update|names|
+---+------+-----------+--------------------+-------------------+-----+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00| null|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00| null|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00| null|
|  4|  khan|      false|        {null, null}|               null| null|
+---+------+-----------+--------------------+-------------------+-----+

In [52]:
df.withColumn('names',col('id')+lit(5)).show()

+---+------+-----------+--------------------+-------------------+-----+
| id|  name|is_customer|               phone|             update|names|
+---+------+-----------+--------------------+-------------------+-----+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|    6|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|    7|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|    8|
|  4|  khan|      false|        {null, null}|               null|    9|
+---+------+-----------+--------------------+-------------------+-----+

In [56]:
df.withColumn('new_id',concat(df.name,lit('_'),df.id)).show()

+---+------+-----------+--------------------+-------------------+--------+
| id|  name|is_customer|               phone|             update|  new_id|
+---+------+-----------+--------------------+-------------------+--------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|asfand_1|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00| saeed_2|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|   ali_3|
|  4|  khan|      false|        {null, null}|               null|  khan_4|
+---+------+-----------+--------------------+-------------------+--------+

In [57]:
df.withColumn('new_ids',concat("name",lit('_'),"id")).show()

+---+------+-----------+--------------------+-------------------+--------+
| id|  name|is_customer|               phone|             update| new_ids|
+---+------+-----------+--------------------+-------------------+--------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|asfand_1|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00| saeed_2|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|   ali_3|
|  4|  khan|      false|        {null, null}|               null|  khan_4|
+---+------+-----------+--------------------+-------------------+--------+

In [58]:
df.withColumn('new_ids',concat_ws("_","name","id")).show()

+---+------+-----------+--------------------+-------------------+--------+
| id|  name|is_customer|               phone|             update| new_ids|
+---+------+-----------+--------------------+-------------------+--------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|asfand_1|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00| saeed_2|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|   ali_3|
|  4|  khan|      false|        {null, null}|               null|  khan_4|
+---+------+-----------+--------------------+-------------------+--------+

In [59]:
# take the first element from struct type column
df.withColumn('new_phone',df.phone.first).show()

+---+------+-----------+--------------------+-------------------+------------+
| id|  name|is_customer|               phone|             update|   new_phone|
+---+------+-----------+--------------------+-------------------+------------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|+92329677783|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|+92329622283|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|+92329644483|
|  4|  khan|      false|        {null, null}|               null|        null|
+---+------+-----------+--------------------+-------------------+------------+

## **Substrings**
* If we are working on fixed length record and we want to extract information from that we can use substring.
* Columns like product name ,ID , Status etc are best examples of using substring on top of substring.

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *
# from pyspark

spark = SparkSession.builder.getOrCreate()

spark

* Task is to get the first country code of phone numbers and customer number should be in different column.

In [2]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second="+92342445552"), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
     
    }
]

In [4]:
f=pd.DataFrame(usr_Struct)

In [5]:
df=spark.createDataFrame(f)

In [7]:
df.show(truncate=0)

+---+------+-----------+----------------------------+-------------------+
|id |name  |is_customer|phone                       |update             |
+---+------+-----------+----------------------------+-------------------+
|1  |asfand|true       |{+92329677783, +92342454672}|2022-04-12 04:10:00|
|2  |saeed |true       |{+92329622283, +92342442312}|2021-04-11 04:10:00|
|3  |ali   |false      |{+92329644483, +92342445552}|2021-04-22 12:10:00|
|4  |khan  |false      |{null, null}                |null               |
+---+------+-----------+----------------------------+-------------------+

* Taking position in +ve:

In [12]:
df.select('*').withColumn('phone_customer',substring(col('phone')['first'],4,10)).withColumn('code',substring(col('phone.first'),1,3)).show()

+---+------+-----------+--------------------+-------------------+--------------+----+
| id|  name|is_customer|               phone|             update|phone_customer|code|
+---+------+-----------+--------------------+-------------------+--------------+----+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|     329677783| +92|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|     329622283| +92|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|     329644483| +92|
|  4|  khan|      false|        {null, null}|               null|          null|null|
+---+------+-----------+--------------------+-------------------+--------------+----+

In [13]:
df.select('*').withColumn('phone_customer',substring(col('phone')['first'],-9,10)).withColumn('code',substring(col('phone.first'),-12,3)).show()

+---+------+-----------+--------------------+-------------------+--------------+----+
| id|  name|is_customer|               phone|             update|phone_customer|code|
+---+------+-----------+--------------------+-------------------+--------------+----+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|     329677783| +92|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|     329622283| +92|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|     329644483| +92|
|  4|  khan|      false|        {null, null}|               null|          null|null|
+---+------+-----------+--------------------+-------------------+--------------+----+

In [68]:
df.withColumn('country',substring(df.phone.first,1,3)).show()

+---+------+-----------+--------------------+-------------------+-------+
| id|  name|is_customer|               phone|             update|country|
+---+------+-----------+--------------------+-------------------+-------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|    +92|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|    +92|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|    +92|
|  4|  khan|      false|        {null, null}|               null|   null|
+---+------+-----------+--------------------+-------------------+-------+

### **Extracting Strings Using Split from Spark Data Frame**
* If we are working with variable length column then its best way to first split the data by delimiter and then apply operations.

> **Example 1::**

In [62]:
usr_Struct=[
    {'id':1,
     'name':"asfand",
     'is_customer':True,
     'phone': Row(first="+92329677783", Second="+92342454672"),
     'update': datetime.datetime(2022,4,12,4,10,0)
    },
    {'id':2,
     'name':"saeed",
     'is_customer':True,
     'phone': Row(first="+92329622283", Second="+92342442312"),
     'update': datetime.datetime(2021,4,11,4,10,0)},
    {'id':3,
     'name':"ali",
     'is_customer':False,
     'phone': Row(first="+92329644483", Second="+92342445552"), ## Predefined structure as a Row
     'update': datetime.datetime(2021,4,22,12,10,0)},
    {'id':4,
     'name':"khan",
     'is_customer':False,
     'phone': Row(first=None,Second=None),#['+92329633456','+9234247654'],
     'update': None #datetime.datetime(2022,5,1,10,10,0)}
     
    }
]

In [73]:
df.withColumn('new_phone',lpad(substring(df.phone.first,3,9),11,'0')).show()

+---+------+-----------+--------------------+-------------------+-----------+
| id|  name|is_customer|               phone|             update|  new_phone|
+---+------+-----------+--------------------+-------------------+-----------+
|  1|asfand|       true|{+92329677783, +9...|2022-04-12 04:10:00|00232967778|
|  2| saeed|       true|{+92329622283, +9...|2021-04-11 04:10:00|00232962228|
|  3|   ali|      false|{+92329644483, +9...|2021-04-22 12:10:00|00232964448|
|  4|  khan|      false|        {null, null}|               null|       null|
+---+------+-----------+--------------------+-------------------+-----------+

> **Example 2::**

In [37]:
usr_Struct=[
    (1,
     "asfand",
     True,
     "+92329677783,+92342454672",
     datetime.datetime(2022,4,12,4,10,0)
    ),
    (2,
     "saeed",
     True,
     "+92329622283,+92342442312",
     datetime.datetime(2021,4,11,4,10,0)),
    (3,
     "ali",
     False,
     "+92329644483,+92342445552", ## Predefined structure as a Row
     datetime.datetime(2021,4,22,12,10,0)),
    (4,
     "khan",
     False,
     ",",
     None)#['+92329633456','+9234247654'],
    
]

In [38]:
sec="""
id int,
name string,
is_customer boolean,
phone string,
dates timestamp

"""
df=spark.createDataFrame(usr_Struct,schema=sec)
df.show(truncate=0)

+---+------+-----------+-------------------------+-------------------+
|id |name  |is_customer|phone                    |dates              |
+---+------+-----------+-------------------------+-------------------+
|1  |asfand|true       |+92329677783,+92342454672|2022-04-12 04:10:00|
|2  |saeed |true       |+92329622283,+92342442312|2021-04-11 04:10:00|
|3  |ali   |false      |+92329644483,+92342445552|2021-04-22 12:10:00|
|4  |khan  |false      |,                        |null               |
+---+------+-----------+-------------------------+-------------------+

In [39]:
spark.createDataFrame(usr_Struct,schema=sec).printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- is_customer: boolean (nullable = true)
 |-- phone: string (nullable = true)
 |-- dates: timestamp (nullable = true)

In [40]:
df.select ("*").withColumn('phones',explode(split(col('phone'),','))).show(truncate=0)

+---+------+-----------+-------------------------+-------------------+------------+
|id |name  |is_customer|phone                    |dates              |phones      |
+---+------+-----------+-------------------------+-------------------+------------+
|1  |asfand|true       |+92329677783,+92342454672|2022-04-12 04:10:00|+92329677783|
|1  |asfand|true       |+92329677783,+92342454672|2022-04-12 04:10:00|+92342454672|
|2  |saeed |true       |+92329622283,+92342442312|2021-04-11 04:10:00|+92329622283|
|2  |saeed |true       |+92329622283,+92342442312|2021-04-11 04:10:00|+92342442312|
|3  |ali   |false      |+92329644483,+92342445552|2021-04-22 12:10:00|+92329644483|
|3  |ali   |false      |+92329644483,+92342445552|2021-04-22 12:10:00|+92342445552|
|4  |khan  |false      |,                        |null               |            |
|4  |khan  |false      |,                        |null               |            |
+---+------+-----------+-------------------------+-------------------+------------+

* Now lets count the number of phones.

In [41]:
df.select("*").withColumn('phone',explode(split(col('phone'),','))).groupBy(col('id')).count().show(truncate=0)

+---+-----+
|id |count|
+---+-----+
|1  |2    |
|2  |2    |
|3  |2    |
|4  |2    |
+---+-----+

## **Padding Characters around Strings in Spark DataFrame Columns**
* When we want to make fix length columns we use padding.
* It is good for main frame systems.

### Task ::
* Id should be padded with zeros if the length is not 3.
* The name should be right padded ie '-' on right side.
* The phone num should me right paddded if its less then 9 with '-'.

In [ ]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *
# from pyspark

spark = SparkSession.builder.getOrCreate()

spark

In [46]:
usr_Struct=[
    (1,
     "asfand",
     True,
     "+92329677783,+92342454672",
     datetime.datetime(2022,4,12,4,10,0)
    ),
    (2,
     "saeed",
     True,
     "+92329622283,+92342442312",
     datetime.datetime(2021,4,11,4,10,0)),
    (3,
     "ali",
     False,
     "+92329644483,+92342445552", ## Predefined structure as a Row
     datetime.datetime(2021,4,22,12,10,0)),
    (4,
     "khan",
     False,
     ",",
     None)#['+92329633456','+9234247654'],
    
]

In [44]:
spark.createDataFrame(usr_Struct).show(truncate=0)

+---+------+-----+-------------------------+-------------------+
|_1 |_2    |_3   |_4                       |_5                 |
+---+------+-----+-------------------------+-------------------+
|1  |asfand|true |+92329677783,+92342454672|2022-04-12 04:10:00|
|2  |saeed |true |+92329622283,+92342442312|2021-04-11 04:10:00|
|3  |ali   |false|+92329644483,+92342445552|2021-04-22 12:10:00|
|4  |khan  |false|,                        |null               |
+---+------+-----+-------------------------+-------------------+

In [47]:
df=spark.createDataFrame(usr_Struct).toDF("id","name","is_customer","phone","dates")

In [63]:
df.select (lpad(col('id'),3,'0').alias('id'),rpad(col('name'),6,'-').alias("name"),explode(split(col('phone'),',')).alias('phone')).withColumn('phones',lpad('phone',13,'+')).show(truncate=0)

+---+------+------------+-------------+
|id |name  |phone       |phones       |
+---+------+------------+-------------+
|001|asfand|+92329677783|++92329677783|
|001|asfand|+92342454672|++92342454672|
|002|saeed-|+92329622283|++92329622283|
|002|saeed-|+92342442312|++92342442312|
|003|ali---|+92329644483|++92329644483|
|003|ali---|+92342445552|++92342445552|
|004|khan--|            |+++++++++++++|
|004|khan--|            |+++++++++++++|
+---+------+------------+-------------+

## **Trimming Characters from strings in Spark Data Frame Columns**
* We use rtrim ,ltrim and trim to remove the spaces on right ,left and on both sides.

In [69]:
help(rtrim)

Help on function rtrim in module pyspark.sql.functions:

rtrim(col)
    Trim the spaces from right end for the specified string value.

    .. versionadded:: 1.5

In [70]:
help(ltrim)

Help on function ltrim in module pyspark.sql.functions:

ltrim(col)
    Trim the spaces from left end for the specified string value.

    .. versionadded:: 1.5

In [71]:
help(trim)

Help on function trim in module pyspark.sql.functions:

trim(col)
    Trim the spaces from both ends for the specified string column.

    .. versionadded:: 1.5

In [73]:
spark.sql('DESCRIBE FUNCTION trim').show(truncate=0)

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|function_desc                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|Function: trim                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            |
|Class: org.apache.spark.sql.catalyst.expressions.StringTrim                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               |
|Usage: \n    trim(str) - Removes the leading and trailing space characters from `str`.\n\n    trim(BOTH FROM str) - Removes the leading and trailing space characters from `str`.\n\n    trim(LEADING FROM str) - Removes the leading space characters from `str`.\n\n    trim(TRAILING FROM str) - Removes the trailing space characters from `str`.\n\n    trim(trimStr FROM str) - Remove the leading and trailing `trimStr` characters from `str`.\n\n    trim(BOTH trimStr FROM str) - Remove the leading and trailing `trimStr` characters from `str`.\n\n    trim(LEADING trimStr FROM str) - Remove the leading `trimStr` characters from `str`.\n\n    trim(TRAILING trimStr FROM str) - Remove the trailing `trimStr` characters from `str`.\n  |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

* To remove special character on right side we can use trim(LEADING '.' From col('name')).
* To remove special character on left side we can use trim(TRAILING '' From col('name')).
* To remove special character on both side we can use trim(BOTH '' From col('name')).

In [ ]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *
# from pyspark

spark = SparkSession.builder.getOrCreate()

spark

In [64]:
usr_Struct=[
    (1,
     "asfand",
     True,
     "+92329677783,+92342454672",
     datetime.datetime(2022,4,12,4,10,0)
    ),
    (2,
     "saeed",
     True,
     "+92329622283,+92342442312",
     datetime.datetime(2021,4,11,4,10,0)),
    (3,
     "ali",
     False,
     "+92329644483,+92342445552", ## Predefined structure as a Row
     datetime.datetime(2021,4,22,12,10,0)),
    (4,
     "khan",
     False,
     ",",
     None)#['+92329633456','+9234247654'],
    
]

In [67]:
df=spark.createDataFrame(usr_Struct).toDF("id","name","is_customer","phone","dates")
df.show()

+---+------+-----------+--------------------+-------------------+
| id|  name|is_customer|               phone|              dates|
+---+------+-----------+--------------------+-------------------+
|  1|asfand|       true|+92329677783,+923...|2022-04-12 04:10:00|
|  2| saeed|       true|+92329622283,+923...|2021-04-11 04:10:00|
|  3|   ali|      false|+92329644483,+923...|2021-04-22 12:10:00|
|  4|  khan|      false|                   ,|               null|
+---+------+-----------+--------------------+-------------------+

In [68]:
trim_df=df.select (lpad(col('id'),3,'0').alias('id'),rpad(col('name'),6,'-').alias("name"),explode(split(col('phone'),',')).alias('phone')).withColumn('phones',lpad('phone',13,'+'))
trim_df.show()

+---+------+------------+-------------+
| id|  name|       phone|       phones|
+---+------+------------+-------------+
|001|asfand|+92329677783|++92329677783|
|001|asfand|+92342454672|++92342454672|
|002|saeed-|+92329622283|++92329622283|
|002|saeed-|+92342442312|++92342442312|
|003|ali---|+92329644483|++92329644483|
|003|ali---|+92342445552|++92342445552|
|004|khan--|            |+++++++++++++|
|004|khan--|            |+++++++++++++|
+---+------+------------+-------------+

In [86]:
trim_df.withColumn('name',expr("trim(TRAILING '-' FROM trim(name))")).\
    withColumn('phone',expr("trim(LEADING '+' FROM trim(phone))")).\
        withColumn('phones',expr("trim(BOTH '+' FROM phones)")).show()

+---+------+-----------+-----------+
| id|  name|      phone|     phones|
+---+------+-----------+-----------+
|001|asfand|92329677783|92329677783|
|001|asfand|92342454672|92342454672|
|002| saeed|92329622283|92329622283|
|002| saeed|92342442312|92342442312|
|003|   ali|92329644483|92329644483|
|003|   ali|92342445552|92342445552|
|004|  khan|           |           |
|004|  khan|           |           |
+---+------+-----------+-----------+

### **Dealing with String type data and Converting to time and date datatype**
* If we get any type of time that is in form of string we can convert it to date and timestamp by using to_date() and to_timestamp().

In [95]:
df=spark.createDataFrame([('X',),('Y',)]).toDF('sa')

In [106]:
spark.conf.set("spark.sql.legacy.timeParserPolicy", "LEGACY")
df.withColumn('dates',to_date(lit('20220101010101111'),'yyyyMMddHHmmssSSS')).withColumn('times',to_timestamp(lit('20220101010101111'),'yyyyMMddHHmmssSSS')).show(truncate=0)

+---+----------+-----------------------+
|sa |dates     |times                  |
+---+----------+-----------------------+
|X  |2022-01-01|2022-01-01 01:01:01.111|
|Y  |2022-01-01|2022-01-01 01:01:01.111|
+---+----------+-----------------------+

In [107]:
df.withColumn('dates',to_date(lit('20220101010101111'),'yyyyMMddHHmmssSSS')).withColumn('times',to_timestamp(lit('20220101010101111'),'yyyyMMddHHmmssSSS')).printSchema()

root
 |-- sa: string (nullable = true)
 |-- dates: date (nullable = true)
 |-- times: timestamp (nullable = true)

### **Date and Time Arithmetic using Spark Data Frames**
* Now as we have gone through how to make a date column and timestamp column out of a string of date we will do arithmatic operation on top of the data.
* date_add,date_sub,date_diff,month_between,add_month,sub_month,next_month

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *
# from pyspark

spark = SparkSession.builder.getOrCreate()

spark

In [3]:

dates=[
    ('2014-01-05','2014-01-05 06:20:01 000'),
    ('2013-02-05','2016-01-05 12:32:01 000'),
    ('2015-05-08','2018-07-04 11:00:01 000'),
    ('2018-03-07','2016-04-07 10:22:01 000'),
    ('2019-09-05','2011-05-05 09:32:01 000')   
]
us="""dates String,times String"""
df=spark.createDataFrame(dates,us)
df.show(truncate=0)
df.printSchema()

+----------+-----------------------+
|dates     |times                  |
+----------+-----------------------+
|2014-01-05|2014-01-05 06:20:01 000|
|2013-02-05|2016-01-05 12:32:01 000|
|2015-05-08|2018-07-04 11:00:01 000|
|2018-03-07|2016-04-07 10:22:01 000|
|2019-09-05|2011-05-05 09:32:01 000|
+----------+-----------------------+

root
 |-- dates: string (nullable = true)
 |-- times: string (nullable = true)

In [21]:
df.withColumn('add_dates',date_add(col('dates'),3)).\
    withColumn('add_times',date_add(col('times'),3)).\
        withColumn('sub_date',date_sub(col('dates'),3)).\
            withColumn('sub_date',date_sub(col('dates'),3)).\
                withColumn('sub_time',date_sub(col('times'),3)).\
                    withColumn('add_month',add_months(col('dates'),3)).\
                        withColumn('diff_date',datediff(current_date(),col('dates'))).\
                            withColumn('months_between',round(months_between(current_date(),col('dates')),2)).\
        show(truncate=0)

+----------+-----------------------+----------+----------+----------+----------+----------+---------+--------------+
|dates     |times                  |add_dates |add_times |sub_date  |sub_time  |add_month |diff_date|months_between|
+----------+-----------------------+----------+----------+----------+----------+----------+---------+--------------+
|2014-01-05|2014-01-05 06:20:01 000|2014-01-08|2014-01-08|2014-01-02|2014-01-02|2014-04-05|3521     |115.71        |
|2013-02-05|2016-01-05 12:32:01 000|2013-02-08|2016-01-08|2013-02-02|2016-01-02|2013-05-05|3855     |126.71        |
|2015-05-08|2018-07-04 11:00:01 000|2015-05-11|2018-07-07|2015-05-05|2018-07-01|2015-08-08|3033     |99.61         |
|2018-03-07|2016-04-07 10:22:01 000|2018-03-10|2016-04-10|2018-03-04|2016-04-04|2018-06-07|1999     |65.65         |
|2019-09-05|2011-05-05 09:32:01 000|2019-09-08|2011-05-08|2019-09-02|2011-05-02|2019-12-05|1452     |47.71         |
+----------+-----------------------+----------+----------+----------+----------+----------+---------+--------------+

## Date_Functions
* *date_format()*: Takes date/timestamp/string and convert to desired pattern.
* *to_date*: Takes string or col and then we tell him what value show what and then convert it into yyyy-MM-dd
* *to_timestamp*: Takes string or col and then we tell him what value show what and then convert it into yyyy-MM-dd hh:mm:ss SSS

In [98]:
help(to_timestamp)

Help on function to_timestamp in module pyspark.sql.functions:

to_timestamp(col, format=None)
    Converts a :class:`~pyspark.sql.Column` into :class:`pyspark.sql.types.TimestampType`
    using the optionally specified format. Specify formats according to `datetime pattern`_.
    By default, it follows casting rules to :class:`pyspark.sql.types.TimestampType` if the format
    is omitted. Equivalent to ``col.cast("timestamp")``.

    .. _datetime pattern: https://spark.apache.org/docs/latest/sql-ref-datetime-pattern.html

    .. versionadded:: 2.2.0

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_timestamp(df.t).alias('dt')).collect()
    [Row(dt=datetime.datetime(1997, 2, 28, 10, 30))]

    >>> df = spark.createDataFrame([('1997-02-28 10:30:00',)], ['t'])
    >>> df.select(to_timestamp(df.t, 'yyyy-MM-dd HH:mm:ss').alias('dt')).collect()
    [Row(dt=datetime.datetime(1997, 2, 28, 10, 30))]

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [2]:
date_s=[("2021-01-14","2021-01-14 10:00:21"),
("2018-02-12","2018-02-12 09:10:23"),
("2019-03-11","2019-03-11 11:03:22"),
("2022-04-15","2022-04-15 10:11:21")]
data=spark.createDataFrame(date_s,schema="DATES STRING,TIMES STRING")
data.show()

+----------+-------------------+
|     DATES|              TIMES|
+----------+-------------------+
|2021-01-14|2021-01-14 10:00:21|
|2018-02-12|2018-02-12 09:10:23|
|2019-03-11|2019-03-11 11:03:22|
|2022-04-15|2022-04-15 10:11:21|
+----------+-------------------+

## Date Time operation::
* *date_add*: It will add number of days to the date and then give the result.
* *date_sub*: It will subtract number of days to the date and gie result.
* *date_diff*: It will subtract the dates and give you int value.
* *add_month*: It will add number of months and show the date not timestamp.
* *months_between*:It will show the number of months between the dates.

In [20]:
data.withColumn('date_add',date_add("DATES",7)).\
 withColumn('date',to_date('DATES','yyyy-MM-dd')).\
     withColumn('timess',to_timestamp('DATES','yyyy-MM-dd')).\
         withColumn('date_sub',date_sub('TIMES',8)).\
             withColumn('dates_to_go',datediff("DATES","date_add")).\
                 withColumn('dates_to_go',round(months_between("DATES","date_add"),2)).\
                      withColumn('dates_to_go',add_months("TIMES",4)).\
     show()

+----------+-------------------+----------+----------+-------------------+----------+-----------+
|     DATES|              TIMES|  date_add|      date|             timess|  date_sub|dates_to_go|
+----------+-------------------+----------+----------+-------------------+----------+-----------+
|2021-01-14|2021-01-14 10:00:21|2021-01-21|2021-01-14|2021-01-14 00:00:00|2021-01-06| 2021-05-14|
|2018-02-12|2018-02-12 09:10:23|2018-02-19|2018-02-12|2018-02-12 00:00:00|2018-02-04| 2018-06-12|
|2019-03-11|2019-03-11 11:03:22|2019-03-18|2019-03-11|2019-03-11 00:00:00|2019-03-03| 2019-07-11|
|2022-04-15|2022-04-15 10:11:21|2022-04-22|2022-04-15|2022-04-15 00:00:00|2022-04-07| 2022-08-15|
+----------+-------------------+----------+----------+-------------------+----------+-----------+

## Date and Time Trunc Function
* *trunc()*: will return date and you can take 'MM' as month first date and 'yyyy' as year first date. It will return date there is no timestamp.
* *date_trunc()*: will return timestamp and its very flexible as we can get 'mm' as month first timestamp,'yy' or 'yyyy' as year first timestamp,'HOUR' first timestamp.

In [ ]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [22]:
help(trunc)

Help on function trunc in module pyspark.sql.functions:

trunc(date, format)
    Returns date truncated to the unit specified by the format.

    .. versionadded:: 1.5.0

    Parameters
    ----------
    date : :class:`~pyspark.sql.Column` or str
    format : str
        'year', 'yyyy', 'yy' to truncate by year,
        or 'month', 'mon', 'mm' to truncate by month
        Other options are: 'week', 'quarter'

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28',)], ['d'])
    >>> df.select(trunc(df.d, 'year').alias('year')).collect()
    [Row(year=datetime.date(1997, 1, 1))]
    >>> df.select(trunc(df.d, 'mon').alias('month')).collect()
    [Row(month=datetime.date(1997, 2, 1))]

In [23]:
from pyspark.sql.functions import trunc,date_trunc
date_s=[("2021-01-14","2021-01-14 10:00:21"),
("2018-02-12","2018-02-12 09:10:23"),
("2019-03-11","2019-03-11 11:03:22"),
("2022-04-15","2022-04-15 10:11:21")]
data=spark.createDataFrame(date_s,schema="DATES STRING,TIMES STRING")
data.show()

+----------+-------------------+
|     DATES|              TIMES|
+----------+-------------------+
|2021-01-14|2021-01-14 10:00:21|
|2018-02-12|2018-02-12 09:10:23|
|2019-03-11|2019-03-11 11:03:22|
|2022-04-15|2022-04-15 10:11:21|
+----------+-------------------+

In [28]:
data.withColumn('first_year_date',trunc(col('DATES'),'yy')).\
    withColumn('first_year1_date',trunc(col('DATES'),'yyyy')).\
    withColumn('first_month_date',trunc(col('DATES'),'month')).\
    withColumn('first_week_date',trunc(col('DATES'),'week')).\
    show()

+----------+-------------------+---------------+----------------+----------------+---------------+
|     DATES|              TIMES|first_year_date|first_year1_date|first_month_date|first_week_date|
+----------+-------------------+---------------+----------------+----------------+---------------+
|2021-01-14|2021-01-14 10:00:21|     2021-01-01|      2021-01-01|      2021-01-01|     2021-01-11|
|2018-02-12|2018-02-12 09:10:23|     2018-01-01|      2018-01-01|      2018-02-01|     2018-02-12|
|2019-03-11|2019-03-11 11:03:22|     2019-01-01|      2019-01-01|      2019-03-01|     2019-03-11|
|2022-04-15|2022-04-15 10:11:21|     2022-01-01|      2022-01-01|      2022-04-01|     2022-04-11|
+----------+-------------------+---------------+----------------+----------------+---------------+

In [11]:
help(date_trunc)

Help on function date_trunc in module pyspark.sql.functions:

date_trunc(format, timestamp)
    Returns timestamp truncated to the unit specified by the format.

    .. versionadded:: 2.3.0

    Parameters
    ----------
    format : str
        'year', 'yyyy', 'yy' to truncate by year,
        'month', 'mon', 'mm' to truncate by month,
        'day', 'dd' to truncate by day,
        Other options are:
        'microsecond', 'millisecond', 'second', 'minute', 'hour', 'week', 'quarter'
    timestamp : :class:`~pyspark.sql.Column` or str

    Examples
    --------
    >>> df = spark.createDataFrame([('1997-02-28 05:02:11',)], ['t'])
    >>> df.select(date_trunc('year', df.t).alias('year')).collect()
    [Row(year=datetime.datetime(1997, 1, 1, 0, 0))]
    >>> df.select(date_trunc('mon', df.t).alias('month')).collect()
    [Row(month=datetime.datetime(1997, 2, 1, 0, 0))]

In [34]:
data.withColumn('year',date_trunc('yy',col('TIMES'))).\
    withColumn('month',date_trunc('month',col('TIMES'))).\
    withColumn('quarter',date_trunc('quarter',col('TIMES'))).\
    withColumn('hour',date_trunc('hour',col('TIMES'))).\
    withColumn('second',date_trunc('second',col('TIMES'))).\
    withColumn('week',date_trunc('week',col('TIMES'))).\
    show()

+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|     DATES|              TIMES|               year|              month|            quarter|               hour|             second|               week|
+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+
|2021-01-14|2021-01-14 10:00:21|2021-01-01 00:00:00|2021-01-01 00:00:00|2021-01-01 00:00:00|2021-01-14 10:00:00|2021-01-14 10:00:21|2021-01-11 00:00:00|
|2018-02-12|2018-02-12 09:10:23|2018-01-01 00:00:00|2018-02-01 00:00:00|2018-01-01 00:00:00|2018-02-12 09:00:00|2018-02-12 09:10:23|2018-02-12 00:00:00|
|2019-03-11|2019-03-11 11:03:22|2019-01-01 00:00:00|2019-03-01 00:00:00|2019-01-01 00:00:00|2019-03-11 11:00:00|2019-03-11 11:03:22|2019-03-11 00:00:00|
|2022-04-15|2022-04-15 10:11:21|2022-01-01 00:00:00|2022-04-01 00:00:00|2022-04-01 00:00:00|2022-04-15 10:00:00|2022-04-15 10:11:21|2022-04-11 00:00:00|
+----------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+-------------------+

## Date Time extract Function
As we have worked on Date and timestamps now lets work on extracting information from date and timestamps.
* year
* month
* weekofyear
* dayofyear
* dayofmonth
* dayofweek
* hour
* minute
* second

In [3]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [4]:
from pyspark.sql.functions import year,month,weekofyear,dayofmonth,dayofweek,dayofyear,hour,minute,second
date_s=[("2021-01-14","2021-01-14 10:00:21"),
("2018-02-12","2018-02-12 09:10:23"),
("2019-03-11","2019-03-11 11:03:22"),
("2022-04-15","2022-04-15 10:11:21")]
data=spark.createDataFrame(date_s,schema="DATES STRING,TIMES STRING")
data.show()

+----------+-------------------+
|     DATES|              TIMES|
+----------+-------------------+
|2021-01-14|2021-01-14 10:00:21|
|2018-02-12|2018-02-12 09:10:23|
|2019-03-11|2019-03-11 11:03:22|
|2022-04-15|2022-04-15 10:11:21|
+----------+-------------------+

In [4]:
help(year)

Help on function year in module pyspark.sql.functions:

year(col)
    Extract the year of a given date as integer.

    .. versionadded:: 1.5.0

    Examples
    --------
    >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
    >>> df.select(year('dt').alias('year')).collect()
    [Row(year=2015)]

In [37]:
data.withColumn('year',year(col('TIMES'))).\
    withColumn('month',month(col('TIMES'))).\
    withColumn('weekofyear',weekofyear(col('TIMES'))).\
    withColumn('dayofyear',dayofyear(col('TIMES'))).\
    withColumn('dayofweek',dayofweek(col('TIMES'))).\
    withColumn('hour',hour(col('TIMES'))).\
    withColumn('minute',minute(col('TIMES'))).\
show()

+----------+-------------------+----+-----+----------+---------+---------+----+------+
|     DATES|              TIMES|year|month|weekofyear|dayofyear|dayofweek|hour|minute|
+----------+-------------------+----+-----+----------+---------+---------+----+------+
|2021-01-14|2021-01-14 10:00:21|2021|    1|         2|       14|        5|  10|     0|
|2018-02-12|2018-02-12 09:10:23|2018|    2|         7|       43|        2|   9|    10|
|2019-03-11|2019-03-11 11:03:22|2019|    3|        11|       70|        2|  11|     3|
|2022-04-15|2022-04-15 10:11:21|2022|    4|        15|      105|        6|  10|    11|
+----------+-------------------+----+-----+----------+---------+---------+----+------+

### **Using to_date and to_timestamp on Spark Data Frames**
* to_date(): Is used for converting a string or int or long value to date datatype after sharing what every positional letter means. It convert to yyyy-MM-dd.
* to_timestamp(): Is used for converting a string or int or long value to timestamp datatype after sharing what every positional letter means. It convert to yyyy-MM-dd HH:mm:ss SSS.

In [15]:
data.select(to_date(lit('2023/01/22'),'yyyy/MM/dd').alias('slash'),to_date(lit('2023--01--11 11:11:11'),'yyyy--MM--dd HH:mm:ss').alias('--format')).show()

+----------+----------+
|     slash|  --format|
+----------+----------+
|2023-01-22|2023-01-11|
|2023-01-22|2023-01-11|
|2023-01-22|2023-01-11|
|2023-01-22|2023-01-11|
+----------+----------+

In [11]:
data.select(to_date(lit('2023-May-01'),'yyyy-MMM-dd').alias('MMM'),to_date(lit('2023-March-01'),'yyyy-MMMM-dd').alias('MMMM')).show()

+----------+----------+
|       MMM|      MMMM|
+----------+----------+
|2023-05-01|2023-03-01|
|2023-05-01|2023-03-01|
|2023-05-01|2023-03-01|
|2023-05-01|2023-03-01|
+----------+----------+

In [13]:
data.select(to_date(lit('May ,2023,01'),'MMMM ,yyyy,dd').alias('MMM'),to_timestamp(lit('2023-March-01 07:23:11'),'yyyy-MMMM-dd HH:mm:ss').alias('MMMM')).show()

+----------+-------------------+
|       MMM|               MMMM|
+----------+-------------------+
|2023-05-01|2023-03-01 07:23:11|
|2023-05-01|2023-03-01 07:23:11|
|2023-05-01|2023-03-01 07:23:11|
|2023-05-01|2023-03-01 07:23:11|
+----------+-------------------+

In [ ]:
data.select(to_date(lit('2023-May-01'),'yyyy-MMM-dd').alias('MMM'),to_date(lit('2023-March-01'),'yyyy-MMMM-dd').alias('MMMM')).show()

### **Using date_format Function on Spark Data Frames**
* When we have timestamp or date or string proper formated data and we want to convert into an other formate to make is useful.
* It is converted to string datatype.
* yyyy for year.
* MM for month.
* MMM for alphabetical 3 letter month.
* MMMM for alphabetical full name of month.
* dd for day.
* DD for day in the year.
* HH for hour 24 hour.
* hh for hour 12 hour.
* ss for second.
* SSS for millisecond.
* EE for getting week day short name.
* EEEE for getting week day full name.

In [16]:
from pyspark.sql.functions import year,month,weekofyear,dayofmonth,dayofweek,dayofyear,hour,minute,second
date_s=[("2021-01-14","2021-01-14 10:00:21"),
("2018-02-12","2018-02-12 09:10:23"),
("2019-03-11","2019-03-11 11:03:22"),
("2022-04-15","2022-04-15 10:11:21")]
data=spark.createDataFrame(date_s,schema="DATES STRING,TIMES STRING")
data.show()

+----------+-------------------+
|     DATES|              TIMES|
+----------+-------------------+
|2021-01-14|2021-01-14 10:00:21|
|2018-02-12|2018-02-12 09:10:23|
|2019-03-11|2019-03-11 11:03:22|
|2022-04-15|2022-04-15 10:11:21|
+----------+-------------------+

In [25]:
data.withColumn('years',date_format('DATES','yyyy-MMMM-dd')).\
    withColumn('slash',date_format('DATES','yyyy/MMMM/dd')).\
    withColumn('short_months',date_format('DATES','yyyy-MMM-dd')).\
    withColumn('month',date_format('DATES','MMMM')).\
    withColumn('hour',date_format('TIMES','hh')).\
    withColumn('Day',date_format('TIMES','EE')).\
    withColumn('Day_full',date_format('TIMES','EEEE')).\
    show()

+----------+-------------------+----------------+----------------+------------+--------+----+---+--------+
|     DATES|              TIMES|           years|           slash|short_months|   month|hour|Day|Day_full|
+----------+-------------------+----------------+----------------+------------+--------+----+---+--------+
|2021-01-14|2021-01-14 10:00:21| 2021-January-14| 2021/January/14| 2021-Jan-14| January|  10|Thu|Thursday|
|2018-02-12|2018-02-12 09:10:23|2018-February-12|2018/February/12| 2018-Feb-12|February|  09|Mon|  Monday|
|2019-03-11|2019-03-11 11:03:22|   2019-March-11|   2019/March/11| 2019-Mar-11|   March|  11|Mon|  Monday|
|2022-04-15|2022-04-15 10:11:21|   2022-April-15|   2022/April/15| 2022-Apr-15|   April|  10|Fri|  Friday|
+----------+-------------------+----------------+----------------+------------+--------+----+---+--------+

In [24]:
data.withColumn('years',date_format('DATES','yyyy-MMMM-dd')).\
    withColumn('slash',date_format('DATES','yyyy/MMMM/dd')).\
    withColumn('short_months',date_format('DATES','yyyy-MMM-dd')).\
    withColumn('month',date_format('DATES','MMMM')).\
    withColumn('hour',date_format('TIMES','hh')).\
    printSchema()

root
 |-- DATES: string (nullable = true)
 |-- TIMES: string (nullable = true)
 |-- years: string (nullable = true)
 |-- slash: string (nullable = true)
 |-- short_months: string (nullable = true)
 |-- month: string (nullable = true)
 |-- hour: string (nullable = true)

### **Dealing with Unix Timestamp in Spark Data Frames**
* Unix timestamp is time that has started from 1970 and every second add up a value in it.
* If you want to convert normal date and time stamp to unix timestamp than use function as **unix_timestamp(col(),'formate')**.
* It is important to share the formate as we need to show th unix_timestamp function that want exactly is the date so it could convert it.
* Now if you have unix timestamp value you can convert it into date and time stamp **from_unixtime(col(),'yyyyMMdd')**.
* If we dont share the formate in the function then it will convert to timestamp standard as yyyy-MM-dd HH:mm:ss SSS.

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [26]:
from pyspark.sql.functions import year,month,weekofyear,dayofmonth,dayofweek,dayofyear,hour,minute,second
date_s=[("2021-01-14","2021-01-14 10:00:21"),
("2018-02-12","2018-02-12 09:10:23"),
("2019-03-11","2019-03-11 11:03:22"),
("2022-04-15","2022-04-15 10:11:21")]
data=spark.createDataFrame(date_s,schema="DATES STRING,TIMES STRING")
data.show()

+----------+-------------------+
|     DATES|              TIMES|
+----------+-------------------+
|2021-01-14|2021-01-14 10:00:21|
|2018-02-12|2018-02-12 09:10:23|
|2019-03-11|2019-03-11 11:03:22|
|2022-04-15|2022-04-15 10:11:21|
+----------+-------------------+

In [27]:
data.withColumn('unix_date',unix_timestamp('DATES','yyyy-MM-dd')).\
    withColumn('unix_time',unix_timestamp('TIMES','yyyy-MM-dd HH:mm:ss')).\
    show()

+----------+-------------------+----------+----------+
|     DATES|              TIMES| unix_date| unix_time|
+----------+-------------------+----------+----------+
|2021-01-14|2021-01-14 10:00:21|1610564400|1610600421|
|2018-02-12|2018-02-12 09:10:23|1518375600|1518408623|
|2019-03-11|2019-03-11 11:03:22|1552244400|1552284202|
|2022-04-15|2022-04-15 10:11:21|1649962800|1649999481|
+----------+-------------------+----------+----------+

In [28]:
d=[('1678934400',),
('1681564800',),
('1684204800',),
('1686835200',)]
df=spark.createDataFrame(d,schema="unixs string")
df.show()

+----------+
|     unixs|
+----------+
|1678934400|
|1681564800|
|1684204800|
|1686835200|
+----------+

In [29]:
df.withColumn('dates',from_unixtime('unixs','yyyy-MM-dd')).withColumn('times',from_unixtime('unixs')).show()

+----------+----------+-------------------+
|     unixs|     dates|              times|
+----------+----------+-------------------+
|1678934400|2023-03-16|2023-03-16 07:40:00|
|1681564800|2023-04-15|2023-04-15 18:20:00|
|1684204800|2023-05-16|2023-05-16 07:40:00|
|1686835200|2023-06-15|2023-06-15 18:20:00|
+----------+----------+-------------------+

### **Dealing with nulls in Spark Data Frames**
* To deal with null we have **coalesce,fill,re**

In [6]:
da = [
    {"string_column": "value1", "float_column": 1.23, "int_column": 10, "timestamp_column": "2023-01-15 00:00:00"},
    {"string_column": "", "float_column": None, "int_column": None, "timestamp_column": "2023-02-28 00:00:00"},
    {"string_column": "null", "float_column": 4.56, "int_column": 20, "timestamp_column": None},
    {"string_column": None, "float_column": 7.89, "int_column": 30, "timestamp_column": "2023-03-10 00:00:00"}
]

In [7]:
data=spark.createDataFrame(da)
data.show()

+------------+----------+-------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|
+------------+----------+-------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|
|        null|      null|             |2023-02-28 00:00:00|
|        4.56|        20|         null|               null|
|        7.89|        30|         null|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+

In [8]:
data.printSchema()

root
 |-- float_column: double (nullable = true)
 |-- int_column: long (nullable = true)
 |-- string_column: string (nullable = true)
 |-- timestamp_column: string (nullable = true)

In [9]:
data.withColumn('float_columns',coalesce('float_column',lit('0'))).\
    withColumn('int_columns',coalesce('int_column',lit('0'))).\
    withColumn('string_columns',coalesce('string_column',lit('0'))).\
    withColumn('timestamp_columns',coalesce('timestamp_column',lit('0'))).\
    show()

+------------+----------+-------------+-------------------+-------------+-----------+--------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|float_columns|int_columns|string_columns|  timestamp_columns|
+------------+----------+-------------+-------------------+-------------+-----------+--------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|         1.23|         10|        value1|2023-01-15 00:00:00|
|        null|      null|             |2023-02-28 00:00:00|            0|          0|              |2023-02-28 00:00:00|
|        4.56|        20|         null|               null|         4.56|         20|          null|                  0|
|        7.89|        30|         null|2023-03-10 00:00:00|         7.89|         30|             0|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+-------------+-----------+--------------+-------------------+

* If we want to replace 'null' by 0 then we use nullif to make it to null and then after that using nvl it will convert null value to 0.
* If we have '' then we can do it by using nested nullif function over nullif function.

In [18]:
data.withColumn('strings',expr("nvl(nullif(string_column,'null'),0)")).show()

+------------+----------+-------------+-------------------+-------+
|float_column|int_column|string_column|   timestamp_column|strings|
+------------+----------+-------------+-------------------+-------+
|        1.23|        10|       value1|2023-01-15 00:00:00| value1|
|        null|      null|             |2023-02-28 00:00:00|       |
|        4.56|        20|         null|               null|      0|
|        7.89|        30|         null|2023-03-10 00:00:00|      0|
+------------+----------+-------------+-------------------+-------+

In [20]:
data.withColumn('strings',expr("nvl(nullif(nullif(string_column,'null'),''),0)")).show()

+------------+----------+-------------+-------------------+-------+
|float_column|int_column|string_column|   timestamp_column|strings|
+------------+----------+-------------+-------------------+-------+
|        1.23|        10|       value1|2023-01-15 00:00:00| value1|
|        null|      null|             |2023-02-28 00:00:00|      0|
|        4.56|        20|         null|               null|      0|
|        7.89|        30|         null|2023-03-10 00:00:00|      0|
+------------+----------+-------------+-------------------+-------+

* To deal with **NA,EMPTY values ,and null values** first convert it to int and you will find out that it will convert to null (null is not a value its a property) and then you can use \
    coalesce on top of that result.

In [6]:
data.withColumn('EMPTY',lit('').cast('int')).\
    withColumn('NAs',lit('NA').cast('int')).\
    withColumn('nulls',lit('null').cast('int')).\
    withColumn('coalesce_empty',coalesce(lit('').cast('int'),lit(1))).\
    withColumn('string_columnss',coalesce(col('string_column').cast('int'),lit(1))).\
    show()

+------------+----------+-------------+-------------------+-----+----+-----+--------------+---------------+
|float_column|int_column|string_column|   timestamp_column|EMPTY| NAs|nulls|coalesce_empty|string_columnss|
+------------+----------+-------------+-------------------+-----+----+-----+--------------+---------------+
|        1.23|        10|       value1|2023-01-15 00:00:00| null|null| null|             1|              1|
|        null|      null|             |2023-02-28 00:00:00| null|null| null|             1|              1|
|        4.56|        20|       value3|               null| null|null| null|             1|              1|
|        7.89|        30|         null|2023-03-10 00:00:00| null|null| null|             1|              1|
+------------+----------+-------------+-------------------+-----+----+-----+--------------+---------------+

In [9]:
data.selectExpr('float_column',"nvl(float_column,0)",'int_column',"nvl(int_column,1)").show()

+------------+--------------------+----------+------------------+
|float_column|nvl(float_column, 0)|int_column|nvl(int_column, 1)|
+------------+--------------------+----------+------------------+
|        1.23|                1.23|        10|                10|
|        null|                 0.0|      null|                 1|
|        4.56|                4.56|        20|                20|
|        7.89|                7.89|        30|                30|
+------------+--------------------+----------+------------------+

* Here below the nullif will check is float_column value is equal to '' if yes then it will replace it will null property and then nvl will replace it by default value.

In [21]:
data.selectExpr('float_column',"nvl(nullif(float_column,''),0) as abc",'int_column',"nvl(nullif(int_column,''),1) as bcs").show()

+------------+----+----------+---+
|float_column| abc|int_column|bcs|
+------------+----+----------+---+
|        1.23|1.23|        10| 10|
|        null| 0.0|      null|  1|
|        4.56|4.56|        20| 20|
|        7.89|7.89|        30| 30|
+------------+----+----------+---+

In [22]:
data.withColumn('total',coalesce(col('float_column').cast('float'),lit(0))/lit(2)).show()

+------------+----------+-------------+-------------------+------------------+
|float_column|int_column|string_column|   timestamp_column|             total|
+------------+----------+-------------+-------------------+------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|0.6150000095367432|
|        null|      null|             |2023-02-28 00:00:00|               0.0|
|        4.56|        20|         null|               null|2.2799999713897705|
|        7.89|        30|         null|2023-03-10 00:00:00| 3.944999933242798|
+------------+----------+-------------+-------------------+------------------+

* df.na and df.na.fill and fillna are same.
* df.na.drop and df.dropna() as same.
* df.na.replace and df.replacena() are same.

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [2]:
da = [
    {"string_column": "value1", "float_column": 1.23, "int_column": 10, "timestamp_column": "2023-01-15 00:00:00"},
    {"string_column": "", "float_column": None, "int_column": None, "timestamp_column": "2023-02-28 00:00:00"},
    {"string_column": "null", "float_column": 4.56, "int_column": 20, "timestamp_column": None},
    {"string_column": None, "float_column": 7.89, "int_column": 30, "timestamp_column": "2023-03-10 00:00:00"}
]

In [3]:
data=spark.createDataFrame(da)
data.show()

+------------+----------+-------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|
+------------+----------+-------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|
|        null|      null|             |2023-02-28 00:00:00|
|        4.56|        20|         null|               null|
|        7.89|        30|         null|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+

* If I want to fill string_column column with '0' we can specify that as below.

In [4]:
data.fillna('0','string_column').show()

+------------+----------+-------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|
+------------+----------+-------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|
|        null|      null|             |2023-02-28 00:00:00|
|        4.56|        20|         null|               null|
|        7.89|        30|            0|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+

* If you want to work on whole dataframe you can do it by just using df.fillna('0') as 0 is string type so it will replace the columns data that are string columns.
* If we use df.fillna(0) it will replace all int and long columns.
* you will see null in string even after using fillna function reason is that null in this case is string not a property that is why we spark cant identify it.

In [5]:
data.fillna(0).show()

+------------+----------+-------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|
+------------+----------+-------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|
|         0.0|         0|             |2023-02-28 00:00:00|
|        4.56|        20|         null|               null|
|        7.89|        30|         null|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+

In [29]:
data.fillna('0').show()

+------------+----------+-------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|
+------------+----------+-------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|
|        null|      null|             |2023-02-28 00:00:00|
|        4.56|        20|         null|                  0|
|        7.89|        30|            0|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+

* What if we have list of columns here is the solution for this.

In [30]:
data.fillna(0,['float_column','int_column']).show()

+------------+----------+-------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|
+------------+----------+-------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|
|         0.0|         0|             |2023-02-28 00:00:00|
|        4.56|        20|         null|               null|
|        7.89|        30|         null|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+

In [32]:
help(data.na)

Help on DataFrameNaFunctions in module pyspark.sql.dataframe object:

class DataFrameNaFunctions(builtins.object)
 |  DataFrameNaFunctions(df)
 |
 |  Functionality for working with missing data in :class:`DataFrame`.
 |
 |  .. versionadded:: 1.4
 |
 |  Methods defined here:
 |
 |  __init__(self, df)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  drop(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      .. versionadded:: 1.3.1
 |
 |      Parameters
 |      ----------
 |      how : str, optional
 |          'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      thresh: int, optional
 |          default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      subset : str, tuple or list, optional
 |          optional list of column names to consider.
 |
 |      Examples
 |      --------
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |  fill(self, value, subset=None)
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      .. versionadded:: 1.3.1
 |
 |      Parameters
 |      ----------
 |      value : int, float, string, bool or dict
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping
 |          from column name (string) to replacement value. The replacement value must be
 |          an int, float, boolean, or string.
 |      subset : str, tuple or list, optional
 |          optional list of column names to consider.
 |          Columns specified in subset that do not have matching data type are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      Examples
 |      --------
 |      >>> df4.na.fill(50).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      |  5|    50|  Bob|
 |      | 50|    50|  Tom|
 |      | 50|    50| null|
 |      +---+------+-----+
 |
 |      >>> df5.na.fill(False).show()
 |      +----+-------+-----+
 |      | age|   name|  spy|
 |      +----+-------+-----+
 |      |  10|  Alice|false|
 |      |   5|    Bob|false|
 |      |null|Mallory| true|
 |      +----+-------+-----+
 |
 |      >>> df4.na.fill({'age': 50, 'name': 'unknown'}).show()
 |      +---+------+-------+
 |      |age|height|   name|
 |      +---+------+-------+
 |      | 10|    80|  Alice|
 |      |  5|  null|    Bob|
 |      | 50|  null|    Tom|
 |      | 50|  null|unknown|
 |      +---+------+-------+
 |
 |  replace(self, to_replace, value=<no value>, subset=None)
 |      Returns a new :class:`DataFrame` replacing a value with another value.
 |      :func:`DataFrame.replace` and :func:`DataFrameNaFunctions.replace` are
 |      aliases of each other.
 |      Values to_replace and value must have the same type and can only be numerics, booleans,
 |      or strings. Value can have None. When replacing, the new value will be cast
 |      to the type of the existing column.
 |      For numeric replacements all values to be replaced should have unique
 |      floating point representation. In case of conflicts (for example with `{42: -1, 42.0: 1}`)
 |      and arbitrary replacement will be used.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      to_replace : bool, int, float, string, list or dict
 |          Value to be replaced.
 |          If the value is a dict, then `value` is ignored or can be omitted, and `to_replace`
 |          must be a mapping between a value and a replacement.
 |      value : bool, int, float, string or None, optional
 |          The replacement value must be a bool, int, float, string or None. If `value` is a
 |          list, `value` should be of the same length and type as `to_replace`.
 |          If `value` is a scalar and `to_replace` is a sequence, then `value` is
 |          used as a replacement for each item in `to_replace`.
 |      subset : list, optional
 |          optional list of column names to consider.
 |          Columns specified in subset that do not have matching data type are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      Examples
 |      --------
 |      >>> df4.na.replace(10, 20).show()
 |      +----+------+-----+
 |      | age|height| name|
 |      +----+------+-----+
 |      |  20|    80|Alice|
 |      |   5|  null|  Bob|
 |      |null|  null|  Tom|
 |      |null|  null| null|
 |      +----+------+-----+
 |
 |      >>> df4.na.replace('Alice', None).show()
 |      +----+------+----+
 |      | age|height|name|
 |      +----+------+----+
 |      |  10|    80|null|
 |      |   5|  null| Bob|
 |      |null|  null| Tom|
 |      |null|  null|null|
 |      +----+------+----+
 |
 |      >>> df4.na.replace({'Alice': None}).show()
 |      +----+------+----+
 |      | age|height|name|
 |      +----+------+----+
 |      |  10|    80|null|
 |      |   5|  null| Bob|
 |      |null|  null| Tom|
 |      |null|  null|null|
 |      +----+------+----+
 |
 |      >>> df4.na.replace(['Alice', 'Bob'], ['A', 'B'], 'name').show()
 |      +----+------+----+
 |      | age|height|name|
 |      +----+------+----+
 |      |  10|    80|   A|
 |      |   5|  null|   B|
 |      |null|  null| Tom|
 |      |null|  null|null|
 |      +----+------+----+
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

### **Using CASE and WHEN on Spark Data Frames**
* If there is null values we can use coalesce now we can use case statement as well.
* if we use dataframe expression method we use CASE WHEN THEN ELSE END.
* if we use dataframe method we will use when (condition,value_to_fill_if_satified) ,otherwise(elsevalue).

Create a dataframe using list called as persons and categorize them based up on following rules.
* 0 to 2 Months than New Born
* 2+ Months to 12 Months than Infant
* 12+ Months to 48 Months than Toddler
* 48+ Months to 144 Months than Kids
* 144+ Months than Teenager or Adult

In [6]:
persons = [
    (1, 1),
    (2, 13),
    (3, 18),
    (4, 60),
    (5, 120),
    (6, 0),
    (7, 12),
    (8, 160)
]
personsDF = spark.createDataFrame(persons, schema='id INT, age INT')
personsDF.show()

+---+---+
| id|age|
+---+---+
|  1|  1|
|  2| 13|
|  3| 18|
|  4| 60|
|  5|120|
|  6|  0|
|  7| 12|
|  8|160|
+---+---+

In [7]:
personsDF.withColumn('categorys',expr("""
                                     CASE when age >= 0 AND age <= 2 then 'New Born' 
                                     when age between 2 and 12 then 'Infant'
                                     when age between 12 and 48 then 'Toddler'
                                     when age between 48 and 144 then 'Kids'
                                     when age >144 then 'ADULT' ELSE 'None'                           
                                     END
                                     """)).show()

+---+---+---------+
| id|age|categorys|
+---+---+---------+
|  1|  1| New Born|
|  2| 13|  Toddler|
|  3| 18|  Toddler|
|  4| 60|     Kids|
|  5|120|     Kids|
|  6|  0| New Born|
|  7| 12|   Infant|
|  8|160|    ADULT|
+---+---+---------+

In [8]:
personsDF.withColumn('category',when(col('age').between(0,2),'New Born').\
                                when((col('age')>=2) & (col('age')<=12),'Infant').\
                                when((col('age')>=12) & (col('age')<=48),'Toddler').\
                                when((col('age')>=48) & (col('age')<=144),'Kids').\
                                when((col('age')>144),'ADULT').\
                                    otherwise('None')).\
show()

+---+---+--------+
| id|age|category|
+---+---+--------+
|  1|  1|New Born|
|  2| 13| Toddler|
|  3| 18| Toddler|
|  4| 60|    Kids|
|  5|120|    Kids|
|  6|  0|New Born|
|  7| 12|  Infant|
|  8|160|   ADULT|
+---+---+--------+

In [9]:
personsDF.withColumn('categorys', expr("""
                                      CASE when age >= 0 AND age <= 2 then 'New Born' 
                                      when age between 2 and 12 then 'Infant'
                                      when age between 12 and 48 then 'Toddler'
                                      when age between 48 and 144 then 'Kids'
                                      when age > 144 then 'ADULT' ELSE 'None'                           
                                      END
                                      """)).show()

+---+---+---------+
| id|age|categorys|
+---+---+---------+
|  1|  1| New Born|
|  2| 13|  Toddler|
|  3| 18|  Toddler|
|  4| 60|     Kids|
|  5|120|     Kids|
|  6|  0| New Born|
|  7| 12|   Infant|
|  8|160|    ADULT|
+---+---+---------+

### **Overview of Filter or Where Function on Spark Data Frame**
* When we have Dataframe we can user where as well as filter to filter the values based upon the conditions.
* While using Dataframe we can use filter in both python style syntax as df.filter (df['column']>1).show() or df.filter(col('column)).show().
* We can use SQL type conditions as well as df.filter ("column > 1").show().

In [21]:
from pyspark.sql.types import StructType, StructField, IntegerType, BooleanType

sc=StructType([StructField("id",IntegerType()),
               StructField("age",IntegerType()),
               StructField("status",BooleanType())])

In [2]:
persons = [
    (1, 1,True),
    (2, 13,False),
    (3, 18,False),
    (4, 60,True),
    (5, 120,True),
    (6, 0,False),
    (7, 12,),
    (8, 160,)
]
df=pd.DataFrame(persons,columns=['id','age','status'])
pf=spark.createDataFrame(df)
pf.show()
# personsDF = spark.createDataFrame(persons, schema=sc)
# personsDF.show()

+---+---+------+
| id|age|status|
+---+---+------+
|  1|  1|  true|
|  2| 13| false|
|  3| 18| false|
|  4| 60|  true|
|  5|120|  true|
|  6|  0| false|
|  7| 12|  null|
|  8|160|  null|
+---+---+------+

In [29]:
personsDF.filter(personsDF['age']>13).show()

+---+---+------+
| id|age|status|
+---+---+------+
|  3| 18| false|
|  4| 60|  true|
|  5|120|  true|
|  8|160| false|
+---+---+------+

In [50]:
personsDF.where(col('age')>13).show()

+---+---+
| id|age|
+---+---+
|  3| 18|
|  4| 60|
|  5|120|
|  8|160|
+---+---+

In [52]:
personsDF.filter("age>13").where ("age>18").show()

+---+---+
| id|age|
+---+---+
|  4| 60|
|  5|120|
|  8|160|
+---+---+

### **Overview of Conditions and Operators related to Spark Data Frames**
* Now here we have conditional logic that we can used in filter and where function to filter our data.
* Equal :: == or =
* Not Equal :: !=
* Great than :: >
* Less than :: <
* Great than or Equal to :: >=
* Less than or Equal to :: <=
* In operator :: isin or IN
* Between Operator :: between function or BETWEEN WITH AND

In [11]:
personsDF.show()

+---+---+
| id|age|
+---+---+
|  1|  1|
|  2| 13|
|  3| 18|
|  4| 60|
|  5|120|
|  6|  0|
|  7| 12|
|  8|160|
+---+---+

In [12]:
personsDF.filter(personsDF['age']==1).show()

+---+---+
| id|age|
+---+---+
|  1|  1|
+---+---+

In [13]:
personsDF.filter('age = 1').show()

+---+---+
| id|age|
+---+---+
|  1|  1|
+---+---+

In [14]:
personsDF.where('age = 1').show()

+---+---+
| id|age|
+---+---+
|  1|  1|
+---+---+

In [30]:
personsDF.where('status = true').show()

+---+---+------+
| id|age|status|
+---+---+------+
|  1|  1|  true|
|  4| 60|  true|
|  5|120|  true|
|  7| 12|  true|
+---+---+------+

In [31]:
personsDF.where(expr('status = true')).show()

+---+---+------+
| id|age|status|
+---+---+------+
|  1|  1|  true|
|  4| 60|  true|
|  5|120|  true|
|  7| 12|  true|
+---+---+------+

In [3]:
pf.show()

+---+---+------+
| id|age|status|
+---+---+------+
|  1|  1|  true|
|  2| 13| false|
|  3| 18| false|
|  4| 60|  true|
|  5|120|  true|
|  6|  0| false|
|  7| 12|  null|
|  8|160|  null|
+---+---+------+

In [ ]:
pf.filter()

In [13]:
pf.filter("isnull(status)==False").show()

+---+---+------+
| id|age|status|
+---+---+------+
|  1|  1|  true|
|  2| 13| false|
|  3| 18| false|
|  4| 60|  true|
|  5|120|  true|
|  6|  0| false|
+---+---+------+

* Get all the ids that have status as true. Here you will see that value that are null are ignored. we can bring that back as well.

In [17]:
pf.select('id','status').filter("status != False OR status is null").show()

+---+------+
| id|status|
+---+------+
|  1|  true|
|  4|  true|
|  5|  true|
|  7|  null|
|  8|  null|
+---+------+

In [31]:
pf.select('id', 'status').filter((col('status') != True) | (col('status').isNull())).show()

+---+------+
| id|status|
+---+------+
|  2| false|
|  3| false|
|  6| false|
|  7|  null|
|  8|  null|
+---+------+

### **Filter using Between Operator on Spark Data Frames**
* If we want to use non SQL type syntax then name the dataframe and call the column name and use .between(a,b).
* If we want to use SQL type syntax we will use "between a AND b".

In [ ]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [32]:
da = [
    {"string_column": "value1", "float_column": 1.23, "int_column": 10, "timestamp_column": "2023-01-15 00:00:00"},
    {"string_column": "", "float_column": None, "int_column": None, "timestamp_column": "2023-02-28 00:00:00"},
    {"string_column": "null", "float_column": 4.56, "int_column": 20, "timestamp_column": None},
    {"string_column": None, "float_column": 7.89, "int_column": 30, "timestamp_column": "2023-03-10 00:00:00"}
]

data=spark.createDataFrame(da)
data.show()

+------------+----------+-------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|
+------------+----------+-------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|
|        null|      null|             |2023-02-28 00:00:00|
|        4.56|        20|         null|               null|
|        7.89|        30|         null|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+

In [35]:
data.select('string_column','timestamp_column').filter(data.timestamp_column.between('2023-01-01','2023-02-28 01:00:11')).show()

+-------------+-------------------+
|string_column|   timestamp_column|
+-------------+-------------------+
|       value1|2023-01-15 00:00:00|
|             |2023-02-28 00:00:00|
+-------------+-------------------+

In [37]:
data.select('string_column','timestamp_column').filter(data['timestamp_column'].between('2023-01-01','2023-02-28 01:00:11')).show()

+-------------+-------------------+
|string_column|   timestamp_column|
+-------------+-------------------+
|       value1|2023-01-15 00:00:00|
|             |2023-02-28 00:00:00|
+-------------+-------------------+

* SQL Style Method

In [38]:
data.select('string_column','timestamp_column').filter("timestamp_column BETWEEN '2023-01-01' AND '2023-02-29'").show()

+-------------+-------------------+
|string_column|   timestamp_column|
+-------------+-------------------+
|       value1|2023-01-15 00:00:00|
|             |2023-02-28 00:00:00|
+-------------+-------------------+

### **Dealing with Null Values while Filtering Data in Spark Data Frames**

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql  import Row
import datetime
import pandas as pd
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark

In [2]:
da = [
    {"string_column": "value1", "float_column": 1.23, "int_column": 10, "timestamp_column": "2023-01-15 00:00:00"},
    {"string_column": "", "float_column": None, "int_column": None, "timestamp_column": "2023-02-28 00:00:00"},
    {"string_column": "null", "float_column": 4.56, "int_column": 20, "timestamp_column": None},
    {"string_column": None, "float_column": 7.89, "int_column": 30, "timestamp_column": "2023-03-10 00:00:00"}
]

data=spark.createDataFrame(da)
data.show()

+------------+----------+-------------+-------------------+
|float_column|int_column|string_column|   timestamp_column|
+------------+----------+-------------+-------------------+
|        1.23|        10|       value1|2023-01-15 00:00:00|
|        null|      null|             |2023-02-28 00:00:00|
|        4.56|        20|         null|               null|
|        7.89|        30|         null|2023-03-10 00:00:00|
+------------+----------+-------------+-------------------+

In [3]:
data.select('float_column','string_column').filter(col('string_column').isNotNull()).show()

+------------+-------------+
|float_column|string_column|
+------------+-------------+
|        1.23|       value1|
|        null|             |
|        4.56|         null|
+------------+-------------+

In [4]:
data.select('float_column','string_column').filter(col('string_column').isNull()).show()

+------------+-------------+
|float_column|string_column|
+------------+-------------+
|        7.89|         null|
+------------+-------------+

In [5]:
data.select('float_column','string_column').filter(expr('string_column is not null')).show()

+------------+-------------+
|float_column|string_column|
+------------+-------------+
|        1.23|       value1|
|        null|             |
|        4.56|         null|
+------------+-------------+

* Show the ids that have vehical null and empty

In [6]:
persons = [
    (1, 1,True,'car'),
    (2, 13,False,'buss'),
    (3, 18,False,'bike'),
    (4, 60,True,'null'),
    (5, 120,True,None),
    (6, 0,False,''),
    (7, 12,None,'cycle'),
    (8, 160,None, '')
]
df=pd.DataFrame(persons,columns=['id','age','status','vehical'])
pf=spark.createDataFrame(df)
pf.show()
# personsDF = spark.createDataFrame(persons, schema=sc)
# personsDF.show()

+---+---+------+-------+
| id|age|status|vehical|
+---+---+------+-------+
|  1|  1|  true|    car|
|  2| 13| false|   buss|
|  3| 18| false|   bike|
|  4| 60|  true|   null|
|  5|120|  true|   null|
|  6|  0| false|       |
|  7| 12|  null|  cycle|
|  8|160|  null|       |
+---+---+------+-------+

In [7]:
pf.select ('*').filter((col('vehical').isNull()) | (col('vehical') == '')).show()

+---+---+------+-------+
| id|age|status|vehical|
+---+---+------+-------+
|  5|120|  true|   null|
|  6|  0| false|       |
|  8|160|  null|       |
+---+---+------+-------+

* SQL Type syntax.

In [8]:
pf.select('*').filter ("vehical is null or vehical == ''").show()

+---+---+------+-------+
| id|age|status|vehical|
+---+---+------+-------+
|  5|120|  true|   null|
|  6|  0| false|       |
|  8|160|  null|       |
+---+---+------+-------+

In [9]:
pf.select('*').filter ("vehical is null or vehical == ''").show()

+---+---+------+-------+
| id|age|status|vehical|
+---+---+------+-------+
|  5|120|  true|   null|
|  6|  0| false|       |
|  8|160|  null|       |
+---+---+------+-------+

In [10]:
pf.show()

+---+---+------+-------+
| id|age|status|vehical|
+---+---+------+-------+
|  1|  1|  true|    car|
|  2| 13| false|   buss|
|  3| 18| false|   bike|
|  4| 60|  true|   null|
|  5|120|  true|   null|
|  6|  0| false|       |
|  7| 12|  null|  cycle|
|  8|160|  null|       |
+---+---+------+-------+

* Now show me records that have vehical as car bike and null.
* Here you need to use isnull function separately as Null is not a value it is a property.

In [11]:
pf.select('*').filter (col('vehical').isin('car','bike')|col('vehical').isNull()).show()

+---+---+------+-------+
| id|age|status|vehical|
+---+---+------+-------+
|  1|  1|  true|    car|
|  3| 18| false|   bike|
|  5|120|  true|   null|
+---+---+------+-------+

* SQL style syntax.

In [12]:
pf.select('*').filter("vehical IN ('car','bike') or vehical is null" ).show()

+---+---+------+-------+
| id|age|status|vehical|
+---+---+------+-------+
|  1|  1|  true|    car|
|  3| 18| false|   bike|
|  5|120|  true|   null|
+---+---+------+-------+

In [16]:
pf.filter((col('vehical') == 'car') & (col('status').isNull())).select('*').show()

+---+---+------+-------+
| id|age|status|vehical|
+---+---+------+-------+
+---+---+------+-------+

* SQL Style Syntax

In [20]:
pf.filter("vehical = 'car' and status is null").select('id','status').show()

+---+------+
| id|status|
+---+------+
+---+------+

### **Creating Spark Data Frame for Dropping Columns**
* Lets now come up with some smart work.
* Create a file sources.ipynb and then place the script of creating session and dataframes and also print out what is created over there.
* We can use col('column name') and df['column name'] and string of column names to drop a columns.
* The column you want to drop if that does not exist then it will not throw an error.

In [1]:
%run ./sources.ipynb

created dataframe for employees us sm as name of spark dataframe
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [31]:
help(sm.drop)

Help on method drop in module pyspark.sql.dataframe:

drop(*cols) method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` that drops the specified column.
    This is a no-op if schema doesn't contain the given column name(s).

    .. versionadded:: 1.4.0

    Parameters
    ----------
    cols: str or :class:`Column`
        a name of the column, or the :class:`Column` to drop

    Examples
    --------
    >>> df.drop('age').collect()
    [Row(name='Alice'), Row(name='Bob')]

    >>> df.drop(df.age).collect()
    [Row(name='Alice'), Row(name='Bob')]

    >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
    [Row(age=5, height=85, name='Bob')]

    >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
    [Row(age=5, name='Bob', height=85)]

    >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
    [Row(name='Bob')]

In [32]:
sm.show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [34]:
sm.drop('nationality','bonus').show()

+-----------+----------+---------+------+----------------+-----------+
|employee_id|first_name|last_name|salary|    phone_number|        ssn|
+-----------+----------+---------+------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+----------------+-----------+

In [45]:
sm.drop('nationality','first_name','last_name').show()

+-----------+------+-----+----------------+-----------+
|employee_id|salary|bonus|    phone_number|        ssn|
+-----------+------+-----+----------------+-----------+
|          1|1000.0|   10| +1 123 456 7890|123 45 6789|
|          2|1250.0| null|+91 234 567 8901|456 78 9123|
|          3| 750.0|     |+44 111 111 1111|222 33 4444|
|          4|1500.0|   10|+61 987 654 3210|789 12 6118|
+-----------+------+-----+----------------+-----------+

In [47]:
sm.show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [46]:
sm.drop(*['nationality','first_name','last_name']).show()

+-----------+------+-----+----------------+-----------+
|employee_id|salary|bonus|    phone_number|        ssn|
+-----------+------+-----+----------------+-----------+
|          1|1000.0|   10| +1 123 456 7890|123 45 6789|
|          2|1250.0| null|+91 234 567 8901|456 78 9123|
|          3| 750.0|     |+44 111 111 1111|222 33 4444|
|          4|1500.0|   10|+61 987 654 3210|789 12 6118|
+-----------+------+-----+----------------+-----------+

### **Dropping Duplicate Records from Spark Data Frames**
* Distinct , dropDuplicates are doing same job.
* If you pass a column name through dropDuplicates(['id']) it will start droping bases of this column.
* We can pass list of columns to see for duplicated on the bases of those columns and then remove the duplicates.

In [48]:
help(sm.distinct)

Help on method distinct in module pyspark.sql.dataframe:

distinct() method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.

    .. versionadded:: 1.3.0

    Examples
    --------
    >>> df.distinct().count()
    2

In [49]:
help(sm.dropDuplicates)

Help on method dropDuplicates in module pyspark.sql.dataframe:

dropDuplicates(subset=None) method of pyspark.sql.dataframe.DataFrame instance
    Return a new :class:`DataFrame` with duplicate rows removed,
    optionally only considering certain columns.

    For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
    :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
    duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
    be and system will accordingly limit the state. In addition, too late data older than
    watermark will be dropped to avoid any possibility of duplicates.

    :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.

    .. versionadded:: 1.4.0

    Examples
    --------
    >>> from pyspark.sql import Row
    >>> df = sc.parallelize([ \
    ...     Row(name='Alice', age=5, height=80), \
    ...     Row(name='Alice', age=5, height=80), \
    ...     Row(name='Alice', age=10, height=80)]).toDF()
    >>> df.dropDuplicates().show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    |Alice| 10|    80|
    +-----+---+------+

    >>> df.dropDuplicates(['name', 'height']).show()
    +-----+---+------+
    | name|age|height|
    +-----+---+------+
    |Alice|  5|    80|
    +-----+---+------+

In [1]:
# %run ./sources.ipynb
%run ./sources.ipynb

created dataframe for employees us sm as name of spark dataframe
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [52]:
sm.distinct().show()

+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

In [3]:
data = [
    {"ID": 1, "Name": "Alice", "Age": 34},
    {"ID": 2, "Name": "Bob", "Age": 30},
    {"ID": 1, "Name": "Alice", "Age": 25},  # Duplicate row
    {"ID": 3, "Name": "Charlie", "Age": 35},
    {"ID": 2, "Name": "Bob", "Age": 30},  # Duplicate row and ID column
    {"ID": 4, "Name": "David", "Age": 40},
    {"ID": 5, "Name": "Eve", "Age": 28},
    {"ID": 1, "Name": "Alice", "Age": 25}, 
    {"ID": 6, "Name": "Alice", "Age": 34}# Duplicate row
]

In [4]:
pandas_df = pd.DataFrame(data)
spark_df = spark.createDataFrame(pandas_df)

# Show the Spark DataFrame
spark_df.show()

+---+-------+---+
| ID|   Name|Age|
+---+-------+---+
|  1|  Alice| 34|
|  2|    Bob| 30|
|  1|  Alice| 25|
|  3|Charlie| 35|
|  2|    Bob| 30|
|  4|  David| 40|
|  5|    Eve| 28|
|  1|  Alice| 25|
|  6|  Alice| 34|
+---+-------+---+

In [5]:
spark_df.count()

9

In [7]:
spark_df.distinct().count()

7

In [13]:
spark_df.distinct().show()

+---+-------+---+
| ID|   Name|Age|
+---+-------+---+
|  1|  Alice| 34|
|  2|    Bob| 30|
|  1|  Alice| 25|
|  3|Charlie| 35|
|  4|  David| 40|
|  5|    Eve| 28|
|  6|  Alice| 34|
+---+-------+---+

* Lets drop the rows based on the duplication of the columns

In [14]:
spark_df.distinct().dropDuplicates(['Name','Age']).show()

+---+-------+---+
| ID|   Name|Age|
+---+-------+---+
|  5|    Eve| 28|
|  4|  David| 40|
|  1|  Alice| 34|
|  1|  Alice| 25|
|  3|Charlie| 35|
|  2|    Bob| 30|
+---+-------+---+

In [39]:
sm['nationality']

Column<'nationality'>

In [41]:
sm['first_name','last_name']

DataFrame[first_name: string, last_name: string]

In [ ]:
sm['first_name','last_name'].show()

In [30]:
dfs=spark_df.withColumn('col_trimright',lit("++92321")).withColumn('Names',lit('Companies....'))
dfs.show()

+---+-------+---+-------------+-------------+
| ID|   Name|Age|col_trimright|        Names|
+---+-------+---+-------------+-------------+
|  1|  Alice| 34|      ++92321|Companies....|
|  2|    Bob| 30|      ++92321|Companies....|
|  1|  Alice| 25|      ++92321|Companies....|
|  3|Charlie| 35|      ++92321|Companies....|
|  2|    Bob| 30|      ++92321|Companies....|
|  4|  David| 40|      ++92321|Companies....|
|  5|    Eve| 28|      ++92321|Companies....|
|  1|  Alice| 25|      ++92321|Companies....|
|  6|  Alice| 34|      ++92321|Companies....|
+---+-------+---+-------------+-------------+

In [31]:
dfs.select ('ID',expr("trim(LEADING '+' From col_trimright) as phone"),expr("trim(TRAILING '.' From Names) as companies")).show()

+---+-----+---------+
| ID|phone|companies|
+---+-----+---------+
|  1|92321|Companies|
|  2|92321|Companies|
|  1|92321|Companies|
|  3|92321|Companies|
|  2|92321|Companies|
|  4|92321|Companies|
|  5|92321|Companies|
|  1|92321|Companies|
|  6|92321|Companies|
+---+-----+---------+

### **Dropping Null based Records from Spark Data Frames**
* using dropna() will by default search for NULL columns and then if it finds a row with a single null value it will drop the complete row.
* using dropna(how='all') will drop a rows that have full row as null.
* using dropna(how='any') will drop a row that have any of the value of the column as null.
* using dropna(subset=['c1',c2]) will find out any value is null it will drop all the row.
* using dropna(thres=3) will search for columns that have non null values if there are less then 3 it will drop that if its more than then it will not.
* using dropna(how='all',subset=['c1','c2']) it will look for all values of these columns if find null then drop the columns.
* using dropna(how='any',subset=['c1','c2']) it will look for any value if its null it will drop the full row.
* When we use dropna(how='any',thres=3,subset=['Name','Age']) the effect of how='any' get disappeared.

In [44]:
datas = [
    {"ID": 1, "Name": "Alice", "Age": 34,"class":"mid"},
    {"ID": 2, "Name": None, "Age": 30,"class":"mid"},
    {"ID": 1, "Name": "Alice", "Age": 25,"class":"high"},  # Duplicate row
    {"ID": 2, "Name": None, "Age": None,"class":"Low"},
    {"ID": 2, "Name": "Bob", "Age": 30,"class":"Low"},  # Duplicate row and ID column
    {"ID":3, "Name": None, "Age": None,"class":None},
    {"ID": 5, "Name": "Eve", "Age": 28,"class":"mid"},
    {"ID": 1, "Name": "", "Age": 25,"class":"Low"}, 
    {"ID": 6, "Name": None, "Age": 34,"class":"Low"}# Duplicate row
]

In [48]:
data=spark.createDataFrame(pd.DataFrame(datas))
# data.show()
print(f'count:: {data.count()}')
data.show()

count:: 9
+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|Alice|34.0|  mid|
|  2| null|30.0|  mid|
|  1|Alice|25.0| high|
|  2| null| NaN|  Low|
|  2|  Bob|30.0|  Low|
|  3| null| NaN| null|
|  5|  Eve|28.0|  mid|
|  1|     |25.0|  Low|
|  6| null|34.0|  Low|
+---+-----+----+-----+

In [30]:
data.dropna(how='any').show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|Alice|34.0|  mid|
|  1|Alice|25.0| high|
|  2|  Bob|30.0|  Low|
|  5|  Eve|28.0|  mid|
|  1|     |25.0|  Low|
+---+-----+----+-----+

In [47]:
data.dropna(how='all',subset=[ 'Name','class']).count()

8

In [50]:
data.dropna(how='any',subset=['Name','class']).count()

5

* Here we are just looking at three columns so if we get null in any of these column the whole row will be dropped.

In [53]:
data.dropna(how='any',thresh=3,subset=['Name','class','Age']).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|Alice|34.0|  mid|
|  1|Alice|25.0| high|
|  2|  Bob|30.0|  Low|
|  5|  Eve|28.0|  mid|
|  1|     |25.0|  Low|
+---+-----+----+-----+

In [8]:
from pyspark.sql.types import StructType, StructField, IntegerType, DateType

# schema = StructType([
#     StructField("id", IntegerType(), True),
#     StructField("visit_date", DateType(), True),
#     StructField("people", IntegerType(), True)
# ])

# Define the data
data = [
    (1, "2017-02-01", 10),
    (2, "2017-01-02", 109),
    (3, "2017-01-03", 150),
    (4, "2017-01-04", 99),
    (5, "2017-01-05", 145),
    (6, "2017-01-06", 1455),
    (7, "2017-01-07", 199),
    (8, "2017-01-09", 188)
]
pp=pd.DataFrame(data,columns=['id','visit_date','people'])
# Create the DataFrame and convert the date strings to DateType
df = spark.createDataFrame(pp)
df = df.withColumn("visit_date", to_date(df["visit_date"], "yyyy-MM-dd"))
# pp
# Show the DataFrame
df.show()

+---+----------+------+
| id|visit_date|people|
+---+----------+------+
|  1|2017-02-01|    10|
|  2|2017-01-02|   109|
|  3|2017-01-03|   150|
|  4|2017-01-04|    99|
|  5|2017-01-05|   145|
|  6|2017-01-06|  1455|
|  7|2017-01-07|   199|
|  8|2017-01-09|   188|
+---+----------+------+

In [13]:
df.filter('people > 100').withColumn('difference',expr("10-id")).filter(expr'difference+id').show()

+---+----------+------+----------+
| id|visit_date|people|difference|
+---+----------+------+----------+
|  2|2017-01-02|   109|         8|
|  3|2017-01-03|   150|         7|
|  5|2017-01-05|   145|         5|
|  6|2017-01-06|  1455|         4|
|  7|2017-01-07|   199|         3|
|  8|2017-01-09|   188|         2|
+---+----------+------+----------+

### **Overview of Sorting a Spark Data Frame**
* sort() we can pass string ,col type and list of columns.
* sort()

In [1]:
%run ./sources.ipynb

created dataframe for employees us sm as name of spark dataframe
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

* Sort the data on bases of ID column.

In [2]:
datas = [
    {"ID": 1, "Name": "Alice", "Age": 34,"class":"mid"},
    {"ID": 2, "Name": None, "Age": 30,"class":"mid"},
    {"ID": 1, "Name": "Alice", "Age": 25,"class":"high"},  # Duplicate row
    {"ID": 2, "Name": None, "Age": None,"class":"Low"},
    {"ID": 2, "Name": "Bob", "Age": 30,"class":"Low"},  # Duplicate row and ID column
    {"ID":3, "Name": None, "Age": None,"class":None},
    {"ID": 5, "Name": "Eve", "Age": 28,"class":"mid"},
    {"ID": 1, "Name": "", "Age": 25,"class":"Low"}, 
    {"ID": 6, "Name": None, "Age": 34,"class":"Low"}# Duplicate row
]

In [3]:
data=spark.createDataFrame(pd.DataFrame(datas))
# data.show()
print(f'count:: {data.count()}')
data.show()

count:: 9
+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|Alice|34.0|  mid|
|  2| null|30.0|  mid|
|  1|Alice|25.0| high|
|  2| null| NaN|  Low|
|  2|  Bob|30.0|  Low|
|  3| null| NaN| null|
|  5|  Eve|28.0|  mid|
|  1|     |25.0|  Low|
|  6| null|34.0|  Low|
+---+-----+----+-----+

In [4]:
data.sort('ID').show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|     |25.0|  Low|
|  1|Alice|34.0|  mid|
|  1|Alice|25.0| high|
|  2| null|30.0|  mid|
|  2| null| NaN|  Low|
|  2|  Bob|30.0|  Low|
|  3| null| NaN| null|
|  5|  Eve|28.0|  mid|
|  6| null|34.0|  Low|
+---+-----+----+-----+

In [5]:
data.sort(data['ID']).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|     |25.0|  Low|
|  1|Alice|34.0|  mid|
|  1|Alice|25.0| high|
|  2|  Bob|30.0|  Low|
|  2| null|30.0|  mid|
|  2| null| NaN|  Low|
|  3| null| NaN| null|
|  5|  Eve|28.0|  mid|
|  6| null|34.0|  Low|
+---+-----+----+-----+

In [6]:
data.sort(data.ID).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|     |25.0|  Low|
|  1|Alice|34.0|  mid|
|  1|Alice|25.0| high|
|  2| null| NaN|  Low|
|  2|  Bob|30.0|  Low|
|  2| null|30.0|  mid|
|  3| null| NaN| null|
|  5|  Eve|28.0|  mid|
|  6| null|34.0|  Low|
+---+-----+----+-----+

In [7]:
data.sort(col('ID')).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|Alice|25.0| high|
|  1|     |25.0|  Low|
|  1|Alice|34.0|  mid|
|  2| null| NaN|  Low|
|  2|  Bob|30.0|  Low|
|  2| null|30.0|  mid|
|  3| null| NaN| null|
|  5|  Eve|28.0|  mid|
|  6| null|34.0|  Low|
+---+-----+----+-----+

### **Sorting by DESC**

In [5]:
%run ./sources.ipynb

created dataframe for employees us sm as name of spark dataframe
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

data count:: 9
+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  1|Alice|34.0|  mid|  222|
|  2| null|30.0|  mid|  201|
|  1|Alice|25.0| high|  100|
|  2| null| NaN|  Low|  400|
|  2|  Bob|30.0|  Low|  200|
|  3| null| NaN| null|  222|
|  5|  Eve|28.0|  mid|  150|
|  1|     |25.0|  Low|   80|
|  6| null|34.0|  Low|  180|
+---+-----+----+-----+-----+

In [9]:
data.sort('ID',ascending=False).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  6| null|34.0|  Low|
|  5|  Eve|28.0|  mid|
|  3| null| NaN| null|
|  2|  Bob|30.0|  Low|
|  2| null| NaN|  Low|
|  2| null|30.0|  mid|
|  1|Alice|34.0|  mid|
|  1|     |25.0|  Low|
|  1|Alice|25.0| high|
+---+-----+----+-----+

In [10]:
data.sort(data['ID'],ascending=False).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  6| null|34.0|  Low|
|  5|  Eve|28.0|  mid|
|  3| null| NaN| null|
|  2| null| NaN|  Low|
|  2| null|30.0|  mid|
|  2|  Bob|30.0|  Low|
|  1|Alice|34.0|  mid|
|  1|Alice|25.0| high|
|  1|     |25.0|  Low|
+---+-----+----+-----+

In [11]:
data.sort(col('ID'),ascending=False).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  6| null|34.0|  Low|
|  5|  Eve|28.0|  mid|
|  3| null| NaN| null|
|  2| null|30.0|  mid|
|  2|  Bob|30.0|  Low|
|  2| null| NaN|  Low|
|  1|Alice|25.0| high|
|  1|Alice|34.0|  mid|
|  1|     |25.0|  Low|
+---+-----+----+-----+

In [12]:
data.sort(col('ID').desc()).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  6| null|34.0|  Low|
|  5|  Eve|28.0|  mid|
|  3| null| NaN| null|
|  2| null|30.0|  mid|
|  2|  Bob|30.0|  Low|
|  2| null| NaN|  Low|
|  1|Alice|34.0|  mid|
|  1|     |25.0|  Low|
|  1|Alice|25.0| high|
+---+-----+----+-----+

In [13]:
data.sort(data['ID'].desc()).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  6| null|34.0|  Low|
|  5|  Eve|28.0|  mid|
|  3| null| NaN| null|
|  2|  Bob|30.0|  Low|
|  2| null|30.0|  mid|
|  2| null| NaN|  Low|
|  1|Alice|34.0|  mid|
|  1|Alice|25.0| high|
|  1|     |25.0|  Low|
+---+-----+----+-----+

### **Task**
Q: Find the top 3 most purchased items from the input data using

In [7]:
da = [(1,'Fruit','Apple'),(2,'Fruit','Orange'),(3,'Fruit','Apple'),(4,'Fruit','Grapes'),(5,'Fruit','Apple'),(6,'Fruit','Apple'),(7,'Fruit','Apple'),(8,'Fruit','Banana'),(9,'Fruit','Orange'),(10,'Fruit','Pineapple'),(11,'Fruit','Apple'),(12,'Fruit','Orange'),(13,'Fruit','Banana'),(14,'Fruit','Apple'),(15,'Fruit','Grapes'),(16,'Fruit','watermelon')]
schema = ['orderNum','catrgory','itemName']
df = spark.createDataFrame(da,schema)

In [20]:
df.groupBy(col('itemName')).agg(expr('count(itemName) as counts')).sort('counts',ascending=False).limit(3).show()

+--------+------+
|itemName|counts|
+--------+------+
|   Apple|     7|
|  Orange|     3|
|  Grapes|     2|
+--------+------+

### **Dealing with Nulls while sorting Spark Data Frame**
* When we have null in the column according to which we want to round-off the data then we can use .asc_nulls_first(),.asc_nulls_last(),desc_nulls_first(),desc_nulls_last().
* The data is in asc and nulls are at the top if we write nulls_first or at the last when we write nulls_last().

In [6]:
data.show()

+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  1|Alice|34.0|  mid|  222|
|  2| null|30.0|  mid|  201|
|  1|Alice|25.0| high|  100|
|  2| null| NaN|  Low|  400|
|  2|  Bob|30.0|  Low|  200|
|  3| null| NaN| null|  222|
|  5|  Eve|28.0|  mid|  150|
|  1|     |25.0|  Low|   80|
|  6| null|34.0|  Low|  180|
+---+-----+----+-----+-----+

In [7]:
data.orderBy (col('class').asc_nulls_first()).show()

+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  3| null| NaN| null|  222|
|  2|  Bob|30.0|  Low|  200|
|  2| null| NaN|  Low|  400|
|  1|     |25.0|  Low|   80|
|  6| null|34.0|  Low|  180|
|  1|Alice|25.0| high|  100|
|  2| null|30.0|  mid|  201|
|  1|Alice|34.0|  mid|  222|
|  5|  Eve|28.0|  mid|  150|
+---+-----+----+-----+-----+

In [12]:
data.orderBy (col('class').desc_nulls_first()).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  3| null| NaN| null|
|  1|Alice|34.0|  mid|
|  2| null|30.0|  mid|
|  5|  Eve|28.0|  mid|
|  1|Alice|25.0| high|
|  2| null| NaN|  Low|
|  6| null|34.0|  Low|
|  1|     |25.0|  Low|
|  2|  Bob|30.0|  Low|
+---+-----+----+-----+

In [13]:
data.orderBy (col('class').desc_nulls_last()).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  5|  Eve|28.0|  mid|
|  1|Alice|34.0|  mid|
|  2| null|30.0|  mid|
|  1|Alice|25.0| high|
|  2|  Bob|30.0|  Low|
|  2| null| NaN|  Low|
|  1|     |25.0|  Low|
|  6| null|34.0|  Low|
|  3| null| NaN| null|
+---+-----+----+-----+

In [14]:
data.orderBy (data['class'].desc_nulls_first()).show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  3| null| NaN| null|
|  2| null|30.0|  mid|
|  5|  Eve|28.0|  mid|
|  1|Alice|34.0|  mid|
|  1|Alice|25.0| high|
|  2|  Bob|30.0|  Low|
|  2| null| NaN|  Low|
|  1|     |25.0|  Low|
|  6| null|34.0|  Low|
+---+-----+----+-----+

In [ ]:
data.orderBy (data['class'].desc_nulls_first()).show()

### **Composite Sorting of a Data Frame**
* sort the data according to id in asc and name in descending.

In [2]:
data.show()

+---+-----+----+-----+
| ID| Name| Age|class|
+---+-----+----+-----+
|  1|Alice|34.0|  mid|
|  2| null|30.0|  mid|
|  1|Alice|25.0| high|
|  2| null| NaN|  Low|
|  2|  Bob|30.0|  Low|
|  3| null| NaN| null|
|  5|  Eve|28.0|  mid|
|  1|     |25.0|  Low|
|  6| null|34.0|  Low|
+---+-----+----+-----+

In [9]:
data.sort(col('marks').desc(),col('id').asc()).show()

+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  2| null| NaN|  Low|  400|
|  1|Alice|34.0|  mid|  222|
|  3| null| NaN| null|  222|
|  2| null|30.0|  mid|  201|
|  2|  Bob|30.0|  Low|  200|
|  6| null|34.0|  Low|  180|
|  5|  Eve|28.0|  mid|  150|
|  1|Alice|25.0| high|  100|
|  1|     |25.0|  Low|   80|
+---+-----+----+-----+-----+

In [12]:
data.sort(data['ID'].desc(),data['marks'].asc()).show()

+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  6| null|34.0|  Low|  180|
|  5|  Eve|28.0|  mid|  150|
|  3| null| NaN| null|  222|
|  2|  Bob|30.0|  Low|  200|
|  2| null|30.0|  mid|  201|
|  2| null| NaN|  Low|  400|
|  1|     |25.0|  Low|   80|
|  1|Alice|25.0| high|  100|
|  1|Alice|34.0|  mid|  222|
+---+-----+----+-----+-----+

In [13]:
data.sort(desc('ID'),asc('marks')).show()

+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  6| null|34.0|  Low|  180|
|  5|  Eve|28.0|  mid|  150|
|  3| null| NaN| null|  222|
|  2|  Bob|30.0|  Low|  200|
|  2| null|30.0|  mid|  201|
|  2| null| NaN|  Low|  400|
|  1|     |25.0|  Low|   80|
|  1|Alice|25.0| high|  100|
|  1|Alice|34.0|  mid|  222|
+---+-----+----+-----+-----+

In [17]:
data.sort(['id','marks'],ascending=[1,0]).show()

+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  1|Alice|34.0|  mid|  222|
|  1|Alice|25.0| high|  100|
|  1|     |25.0|  Low|   80|
|  2| null| NaN|  Low|  400|
|  2| null|30.0|  mid|  201|
|  2|  Bob|30.0|  Low|  200|
|  3| null| NaN| null|  222|
|  5|  Eve|28.0|  mid|  150|
|  6| null|34.0|  Low|  180|
+---+-----+----+-----+-----+

### **Prioritized Sorting of a Spark Data Frame**

In [4]:
%run ./sources.ipynb

created dataframe for employees us sm as name of spark dataframe
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

data count:: 9
+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  1|Alice|34.0|  mid|  222|
|  2| null|30.0|  mid|  201|
|  1|Alice|25.0| high|  100|
|  2| null| NaN|  Low|  400|
|  2|  Bob|30.0|  Low|  200|
|  3| null| NaN| null|  222|
|  5|  Eve|28.0|  mid|  150|
|  1|     |25.0|  Low|   80|
|  6| null|34.0|  Low|  180|
+---+-----+----+-----+-----+

+--------+------------+---------+--------+------+
|CourseId|  Complexity|     Name|Enrolled| Price|
+--------+------------+---------+--------+------+
|       1|    Beginner| Course 1|     150| 99.99|
|       2|Intermediate| Course 2|     120|129.99|
|       3|    Advanced| Course 3|     180|149.99|
|       4|    Beginner| Course 4|      90| 79.99|
|       5|Intermediate| Course 5|     160|119.99|
|       6|    Advanced| Course 6|     190|159.99|
|       7|    Beginner| Course 7|     110| 89.99|
|       8|Intermediate| Course 8|     140|109.99|
|       9|    Advanced| Course 9|     170|139.99|
|      10|    Beginner|Course 10|      70| 69.99|
|      11|Intermediate|Course 11|     130| 99.99|
|      12|    Advanced|Course 12|     200|169.99|
|      13|    Beginner|Course 13|      95| 79.99|
|      14|Intermediate|Course 14|     175|129.99|
|      15|    Advanced|Course 15|     185|149.99|
|      16|    Beginner|Course 16|     105| 89.99|
|      17|Intermediate|Course 17|     145|119.99|
|      18|    Advanced|Course 18|     195|159.99|
|      19|    Beginner|Course 19|      75| 69.99|
|      20|Intermediate|Course 20|     125| 99.99|
+--------+------------+---------+--------+------+
only showing top 20 rows

In [5]:
spark_dfs.sort(when(col('Complexity')=='Beginner',0).when(col('Complexity')=='Intermediate',1).otherwise(2),col('Price').desc()).show()

+--------+------------+---------+--------+------+
|CourseId|  Complexity|     Name|Enrolled| Price|
+--------+------------+---------+--------+------+
|       1|    Beginner| Course 1|     150| 99.99|
|      16|    Beginner|Course 16|     105| 89.99|
|       7|    Beginner| Course 7|     110| 89.99|
|      22|    Beginner|Course 22|     100| 79.99|
|      28|    Beginner|Course 28|     105| 79.99|
|      13|    Beginner|Course 13|      95| 79.99|
|       4|    Beginner| Course 4|      90| 79.99|
|      19|    Beginner|Course 19|      75| 69.99|
|      10|    Beginner|Course 10|      70| 69.99|
|      25|    Beginner|Course 25|      85| 69.99|
|      14|Intermediate|Course 14|     175|129.99|
|      23|Intermediate|Course 23|     155|129.99|
|       2|Intermediate| Course 2|     120|129.99|
|       5|Intermediate| Course 5|     160|119.99|
|      17|Intermediate|Course 17|     145|119.99|
|      29|Intermediate|Course 29|     140|119.99|
|       8|Intermediate| Course 8|     140|109.99|
|      26|Intermediate|Course 26|     115| 99.99|
|      11|Intermediate|Course 11|     130| 99.99|
|      20|Intermediate|Course 20|     125| 99.99|
+--------+------------+---------+--------+------+
only showing top 20 rows

* SQL Style Syntax.

In [11]:
cas=expr("case when Complexity == 'Beginner' then 0 when Complexity == 'Intermediate' then 1 else 2 end")

In [12]:
spark_dfs.sort(cas,col('Price').desc()).show()

+--------+------------+---------+--------+------+
|CourseId|  Complexity|     Name|Enrolled| Price|
+--------+------------+---------+--------+------+
|       1|    Beginner| Course 1|     150| 99.99|
|       7|    Beginner| Course 7|     110| 89.99|
|      16|    Beginner|Course 16|     105| 89.99|
|      28|    Beginner|Course 28|     105| 79.99|
|      22|    Beginner|Course 22|     100| 79.99|
|       4|    Beginner| Course 4|      90| 79.99|
|      13|    Beginner|Course 13|      95| 79.99|
|      10|    Beginner|Course 10|      70| 69.99|
|      19|    Beginner|Course 19|      75| 69.99|
|      25|    Beginner|Course 25|      85| 69.99|
|       2|Intermediate| Course 2|     120|129.99|
|      23|Intermediate|Course 23|     155|129.99|
|      14|Intermediate|Course 14|     175|129.99|
|      17|Intermediate|Course 17|     145|119.99|
|       5|Intermediate| Course 5|     160|119.99|
|      29|Intermediate|Course 29|     140|119.99|
|       8|Intermediate| Course 8|     140|109.99|
|      11|Intermediate|Course 11|     130| 99.99|
|      26|Intermediate|Course 26|     115| 99.99|
|      20|Intermediate|Course 20|     125| 99.99|
+--------+------------+---------+--------+------+
only showing top 20 rows

In [1]:
%run ./sources.ipynb

created dataframe for employees us sm as name of spark dataframe
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

data count:: 9
+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  1|Alice|34.0|  mid|  222|
|  2| null|30.0|  mid|  201|
|  1|Alice|25.0| high|  100|
|  2| null| NaN|  Low|  400|
|  2|  Bob|30.0|  Low|  200|
|  3| null| NaN| null|  222|
|  5|  Eve|28.0|  mid|  150|
|  1|     |25.0|  Low|   80|
|  6| null|34.0|  Low|  180|
+---+-----+----+-----+-----+

+--------+------------+---------+--------+------+
|CourseId|  Complexity|     Name|Enrolled| Price|
+--------+------------+---------+--------+------+
|       1|    Beginner| Course 1|     150| 99.99|
|       2|Intermediate| Course 2|     120|129.99|
|       3|    Advanced| Course 3|     180|149.99|
|       4|    Beginner| Course 4|      90| 79.99|
|       5|Intermediate| Course 5|     160|119.99|
|       6|    Advanced| Course 6|     190|159.99|
|       7|    Beginner| Course 7|     110| 89.99|
|       8|Intermediate| Course 8|     140|109.99|
|       9|    Advanced| Course 9|     170|139.99|
|      10|    Beginner|Course 10|      70| 69.99|
|      11|Intermediate|Course 11|     130| 99.99|
|      12|    Advanced|Course 12|     200|169.99|
|      13|    Beginner|Course 13|      95| 79.99|
|      14|Intermediate|Course 14|     175|129.99|
|      15|    Advanced|Course 15|     185|149.99|
|      16|    Beginner|Course 16|     105| 89.99|
|      17|Intermediate|Course 17|     145|119.99|
|      18|    Advanced|Course 18|     195|159.99|
|      19|    Beginner|Course 19|      75| 69.99|
|      20|Intermediate|Course 20|     125| 99.99|
+--------+------------+---------+--------+------+
only showing top 20 rows

#### **Subset and calculate**
After you've extracted values from a list, you can use them to perform additional calculations. Take this example, where the second and fourth element of a list x are extracted. The strings that result are pasted together using the + operator:

x = ["a", "b", "c", "d"]\
print(x[1] + x[3])

### **Aggregations on a Spark Data Frame**
1. Get revenue using order_item_subtotal for a given order_item_order_id eg 2
2. Get number of items , total quantity as well as revenue for given items order id eg 2.

In [2]:
df=spark.read.json('../Source_data/retail_db_json/order_items/')
df.show(truncate=0)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|1            |1                  |957                  |299.98                  |1                  |299.98             |
|2            |2                  |1073                 |199.99                  |1                  |199.99             |
|3            |2                  |502                  |50.0                    |5                  |250.0              |
|4            |2                  |403                  |129.99                  |1                  |129.99             |
|5            |4                  |897                  |24.99                   |2                  |49.98              |
|6            |4                  |365                  |59.99                   |5                  |299.95             |
|7            |4                  |502                  |50.0                    |3                  |150.0              |
|8            |4                  |1014                 |49.98                   |4                  |199.92             |
|9            |5                  |957                  |299.98                  |1                  |299.98             |
|10           |5                  |365                  |59.99                   |5                  |299.95             |
|11           |5                  |1014                 |49.98                   |2                  |99.96              |
|12           |5                  |957                  |299.98                  |1                  |299.98             |
|13           |5                  |403                  |129.99                  |1                  |129.99             |
|14           |7                  |1073                 |199.99                  |1                  |199.99             |
|15           |7                  |957                  |299.98                  |1                  |299.98             |
|16           |7                  |926                  |15.99                   |5                  |79.95              |
|17           |8                  |365                  |59.99                   |3                  |179.97             |
|18           |8                  |365                  |59.99                   |5                  |299.95             |
|19           |8                  |1014                 |49.98                   |4                  |199.92             |
|20           |8                  |502                  |50.0                    |1                  |50.0               |
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 20 rows

In [3]:
df.dtypes

[('order_item_id', 'bigint'),
 ('order_item_order_id', 'bigint'),
 ('order_item_product_id', 'bigint'),
 ('order_item_product_price', 'double'),
 ('order_item_quantity', 'bigint'),
 ('order_item_subtotal', 'double')]

In [5]:
df.filter('order_item_order_id = 2').select (sum('order_item_subtotal').alias('total')).show()
# select(sum(col('order_item_subtotal'))).show()

+------+
| total|
+------+
|579.98|
+------+

In [6]:
df.filter('order_item_order_id = 2').select (count('order_item_quantity').alias("number_of_items"),sum('order_item_quantity').alias('total_quantites'),sum('order_item_subtotal').alias('total_revenue')).show()

+---------------+---------------+-------------+
|number_of_items|total_quantites|total_revenue|
+---------------+---------------+-------------+
|              3|              7|       579.98|
+---------------+---------------+-------------+

### **Getting Count of a Spark Data Frame**
* If we use df.count() it will count the recording in the dataframe.
* When we use df.select (count('*')).show() it will count the recording as by using function count()

In [7]:
df.count()

172198

In [8]:
df.select (count('*')).show()

+--------+
|count(1)|
+--------+
|  172198|
+--------+

### **Overview of groupBy on Spark Data Frame**
* If i write df.groupBy().min().show() it will apply group by and min on all the numeric columns.

In [2]:
%run ./sources.ipynb

created dataframe for employees us sm as name of spark dataframe
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|employee_id|first_name|last_name|salary|bonus|   nationality|    phone_number|        ssn|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+
|          1|     Scott|    Tiger|1000.0|   10| united states| +1 123 456 7890|123 45 6789|
|          2|     Henry|     Ford|1250.0| null|         India|+91 234 567 8901|456 78 9123|
|          3|      Nick|   Junior| 750.0|     |united KINGDOM|+44 111 111 1111|222 33 4444|
|          4|      Bill|    Gomes|1500.0|   10|     AUSTRALIA|+61 987 654 3210|789 12 6118|
+-----------+----------+---------+------+-----+--------------+----------------+-----------+

data count:: 9
+---+-----+----+-----+-----+
| ID| Name| Age|class|marks|
+---+-----+----+-----+-----+
|  1|Alice|34.0|  mid|  222|
|  2| null|30.0|  mid|  201|
|  1|Alice|25.0| high|  100|
|  2| null| NaN|  Low|  400|
|  2|  Bob|30.0|  Low|  200|
|  3| null| NaN| null|  222|
|  5|  Eve|28.0|  mid|  150|
|  1|     |25.0|  Low|   80|
|  6| null|34.0|  Low|  180|
+---+-----+----+-----+-----+

+--------+------------+---------+--------+------+
|CourseId|  Complexity|     Name|Enrolled| Price|
+--------+------------+---------+--------+------+
|       1|    Beginner| Course 1|     150| 99.99|
|       2|Intermediate| Course 2|     120|129.99|
|       3|    Advanced| Course 3|     180|149.99|
|       4|    Beginner| Course 4|      90| 79.99|
|       5|Intermediate| Course 5|     160|119.99|
|       6|    Advanced| Course 6|     190|159.99|
|       7|    Beginner| Course 7|     110| 89.99|
|       8|Intermediate| Course 8|     140|109.99|
|       9|    Advanced| Course 9|     170|139.99|
|      10|    Beginner|Course 10|      70| 69.99|
|      11|Intermediate|Course 11|     130| 99.99|
|      12|    Advanced|Course 12|     200|169.99|
|      13|    Beginner|Course 13|      95| 79.99|
|      14|Intermediate|Course 14|     175|129.99|
|      15|    Advanced|Course 15|     185|149.99|
|      16|    Beginner|Course 16|     105| 89.99|
|      17|Intermediate|Course 17|     145|119.99|
|      18|    Advanced|Course 18|     195|159.99|
|      19|    Beginner|Course 19|      75| 69.99|
|      20|Intermediate|Course 20|     125| 99.99|
+--------+------------+---------+--------+------+
only showing top 20 rows

In [3]:
df=spark.read.json('../Source_data/retail_db_json/order_items/')
df.show(3)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 3 rows

In [4]:
df.groupBy().min().show()

+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
|min(order_item_id)|min(order_item_order_id)|min(order_item_product_id)|min(order_item_product_price)|min(order_item_quantity)|min(order_item_subtotal)|
+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
|                 1|                       1|                        19|                         9.99|                       1|                    9.99|
+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+

In [5]:
df.groupBy().count().show()

+------+
| count|
+------+
|172198|
+------+

In [6]:
dfo=spark.read.json('../Source_data/retail_db_json/orders/')
dfo.show(truncate=0,n=3)

+-----------------+---------------------+--------+---------------+
|order_customer_id|order_date           |order_id|order_status   |
+-----------------+---------------------+--------+---------------+
|11599            |2013-07-25 00:00:00.0|1       |CLOSED         |
|256              |2013-07-25 00:00:00.0|2       |PENDING_PAYMENT|
|12111            |2013-07-25 00:00:00.0|3       |COMPLETE       |
+-----------------+---------------------+--------+---------------+
only showing top 3 rows

In [10]:
dfo.dtypes

[('order_customer_id', 'bigint'),
 ('order_date', 'string'),
 ('order_id', 'bigint'),
 ('order_status', 'string')]

### **Perform Grouped Aggregations using direct functions on a Spark Data Frame**
* When we want to used group aggregation using direct function we can use one aggregation function like max,sum,count etc. When we want to use multiple aggregation we can use\
    function call agg()
* When we apply direct function without specifying a column name it will perform aggregation on all the columns.
* To perform aggregation on a column we need to write the name in string formate.
* once we use df.groupBy() it is changed to grouped Dataframe type and we can use agg function on top to this datatype.
* When we apply sum function we cant apply round directly on it we have to use withColumn and then use round aggregation.

In [12]:
dfo.groupBy('order_customer_id').sum().show(3)

+-----------------+----------------------+-------------+
|order_customer_id|sum(order_customer_id)|sum(order_id)|
+-----------------+----------------------+-------------+
|            11938|                 71628|       215124|
|             1950|                 17550|       261294|
|             2529|                 15174|       269506|
+-----------------+----------------------+-------------+
only showing top 3 rows

> Note::\
> Here you cant see any sort of string column

In [13]:
df=spark.read.json('../Source_data/retail_db_json/order_items/')
df.show(3)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 3 rows

In [17]:
df_group=df.groupBy('order_item_order_id')
type(df_group)

pyspark.sql.group.GroupedData

In [18]:
## We we see no aggregation on top of string column
df_group.sum().show(4)

+-------------------+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_id)|sum(order_item_order_id)|sum(order_item_product_id)|sum(order_item_product_price)|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
|                 29|               425|                     145|                      3897|            909.9300000000001|                       9|                 1109.85|
|                474|              5815|                    2370|                      4508|           374.94000000000005|                      13|       774.8199999999999|
|                964|              9586|                    3856|                      2964|           499.95000000000005|                      11|       739.8800000000001|
|               1677|             20860|                    8385|                      2357|                       277.97|                      14|       649.9200000000001|
+-------------------+------------------+------------------------+--------------------------+-----------------------------+------------------------+------------------------+
only showing top 4 rows

In [19]:
### To be very much specific now we can pass the column names in aggregate function
## we cant use round on top of it first we need to change the names and the go for rounding the function.
df_group.sum('order_item_product_price','order_item_quantity','order_item_subtotal').show(4)

+-------------------+-----------------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_product_price)|sum(order_item_quantity)|sum(order_item_subtotal)|
+-------------------+-----------------------------+------------------------+------------------------+
|                 29|            909.9300000000001|                       9|                 1109.85|
|                474|           374.94000000000005|                      13|       774.8199999999999|
|                964|           499.95000000000005|                      11|       739.8800000000001|
|               1677|                       277.97|                      14|       649.9200000000001|
+-------------------+-----------------------------+------------------------+------------------------+
only showing top 4 rows

In [22]:
df_group.sum('order_item_product_price','order_item_quantity','order_item_subtotal').select('order_item_order_id','sum(order_item_product_price)','sum(order_item_quantity)','sum(order_item_subtotal)').\
    toDF('order_item_order_id','order_item_product_price','order_item_quantity','order_item_subtotal').\
        withColumn('order_item_product_price',round('order_item_product_price',2)).\
        withColumn('order_item_subtotal',round('order_item_subtotal',2)).\
show(4)

+-------------------+------------------------+-------------------+-------------------+
|order_item_order_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------------+------------------------+-------------------+-------------------+
|                 29|                  909.93|                  9|            1109.85|
|                474|                  374.94|                 13|             774.82|
|                964|                  499.95|                 11|             739.88|
|               1677|                  277.97|                 14|             649.92|
+-------------------+------------------------+-------------------+-------------------+
only showing top 4 rows

### **Perform Grouped Aggregations using Agg on a Spark Data Frame**
* In group aggregation we have two approaches first is using dict and other is using column style approach.
* Dict has its limitations so mostly we use list type syntax.
* In case of Dict we cant apply round function on top of the sum function.
* If we want to work on same column but use different function we cant use that as in Dictionary we are suppose to use unique keys.

In [ ]:
%run ./sources.ipynb

In [23]:
df=spark.read.json('../Source_data/retail_db_json/order_items/')
df.show(3)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|            1|                  1|                  957|                  299.98|                  1|             299.98|
|            2|                  2|                 1073|                  199.99|                  1|             199.99|
|            3|                  2|                  502|                    50.0|                  5|              250.0|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 3 rows

In [24]:
df_group=df.groupBy('order_item_order_id')

df_group.agg({'order_item_product_price':'sum','order_item_subtotal':'sum'}).show(4)

+-------------------+-----------------------------+------------------------+
|order_item_order_id|sum(order_item_product_price)|sum(order_item_subtotal)|
+-------------------+-----------------------------+------------------------+
|                 29|            909.9300000000001|                 1109.85|
|                474|           374.94000000000005|       774.8199999999999|
|                964|           499.95000000000005|       739.8800000000001|
|               1677|                       277.97|       649.9200000000001|
+-------------------+-----------------------------+------------------------+
only showing top 4 rows

In [26]:
df_group.agg({'order_item_product_price':'sum','order_item_subtotal':'sum'}).\
    toDF('order_item_order_id','order_item_product_price','order_item_subtotal').\
    withColumn('order_item_product_price',round('order_item_product_price',2)).\
    withColumn('order_item_subtotal',round('order_item_subtotal',2)).\
    show(4)

+-------------------+------------------------+-------------------+
|order_item_order_id|order_item_product_price|order_item_subtotal|
+-------------------+------------------------+-------------------+
|                 29|                  909.93|            1109.85|
|                474|                  374.94|             774.82|
|                964|                  499.95|             739.88|
|               1677|                  277.97|             649.92|
+-------------------+------------------------+-------------------+
only showing top 4 rows

In [30]:
df_group.agg(round(sum('order_item_product_price'),2),round(sum('order_item_subtotal'),2)).\
    toDF('order_item_order_id','order_item_product_price','order_item_subtotal').\
    show(4)

+-------------------+---------------------------------------+----------------------------------+
|order_item_order_id|round(sum(order_item_product_price), 2)|round(sum(order_item_subtotal), 2)|
+-------------------+---------------------------------------+----------------------------------+
|                 29|                                 909.93|                           1109.85|
|                474|                                 374.94|                            774.82|
|                964|                                 499.95|                            739.88|
|               1677|                                 277.97|                            649.92|
+-------------------+---------------------------------------+----------------------------------+
only showing top 4 rows

> Note: \
If we want to work on same column but use different function we cant use that as in Dictionary we are suppose to use unique keys.\
It was support show 3 columns but its show the min column.\
Lets go for list type syntax this problem is solved over there.

In [31]:
df_group.agg({'order_item_quantity':'sum','order_item_quantity':'min'}).\
    show(4)

+-------------------+------------------------+
|order_item_order_id|min(order_item_quantity)|
+-------------------+------------------------+
|                 29|                       1|
|                474|                       1|
|                964|                       1|
|               1677|                       1|
+-------------------+------------------------+
only showing top 4 rows

In [33]:
df_group.agg(sum('order_item_quantity'),min('order_item_quantity')).show(4)

+-------------------+------------------------+------------------------+
|order_item_order_id|sum(order_item_quantity)|min(order_item_quantity)|
+-------------------+------------------------+------------------------+
|                 29|                       9|                       1|
|                474|                      13|                       1|
|                964|                      11|                       1|
|               1677|                      14|                       1|
+-------------------+------------------------+------------------------+
only showing top 4 rows