In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark import SparkConf,SparkContext

spark = SparkSession.builder.getOrCreate()

spark

In [13]:
df1=spark.read.csv("employee_data.csv",header=True,inferSchema=True)
df1.show()

+------+----+-----------+---+--------+------+-----+-----+
|gender|  ID|     depart|age|    name|Salary|bonus|State|
+------+----+-----------+---+--------+------+-----+-----+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|
|  male|1120|Pakstudeies| 40|   Smith|  5800| 5250|   WA|
|  male|1121|Pakstudeies| 38|  Thomas|  4000| 3450|   NY|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|
|  male|1123|    physics| 37|   Davis|  7800| 7250|   WA|
|female|1124|    physics| 40|  Wilson|  5000| 4450|   CA|
|female|1125|    physics| 39|  Garcia|  6900| 6350|   CA|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|
|female|1127|       Urdu| 38|   Lopez|  1800| 1250|   NY|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|
|female|1129|       Urdu| 39|  Morgan|  5400| 4850|   AK|
+------+----+-----------+---+--------+------+-----+-----+

In [11]:
df1.printSchema()

root
 |-- gender: string (nullable = true)
 |-- ID: integer (nullable = true)
 |-- depart: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- bonus: integer (nullable = true)
 |-- State: string (nullable = true)

In [18]:
type(df1.columns[:2])
df1.columns[:2]

['gender', 'ID']

In [20]:
df1.select(col("depart"),"age").show()

+-----------+---+
|     depart|age|
+-----------+---+
|    biology| 41|
|    biology| 41|
|       Chem| 44|
|       Chem| 42|
|      Maths| 40|
|      Maths| 42|
|      Maths| 46|
|Pakstudeies| 40|
|Pakstudeies| 33|
|Pakstudeies| 46|
|Pakstudeies| 40|
|Pakstudeies| 38|
|    physics| 44|
|    physics| 37|
|    physics| 40|
|    physics| 39|
|    physics| 43|
|       Urdu| 38|
|       Urdu| 45|
|       Urdu| 39|
+-----------+---+

In [21]:
df1.withColumn("Updated_Salary",col("Salary")+5000).show()

+------+----+-----------+---+--------+------+-----+-----+--------------+
|gender|  ID|     depart|age|    name|Salary|bonus|State|Updated_Salary|
+------+----+-----------+---+--------+------+-----+-----+--------------+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|         12200|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|         11900|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|         14000|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|          9700|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|         12600|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|         12100|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|         13800|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|          9000|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|         11400|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|          8800|
|  male|1120|Pakstudeies| 40|   Smith|  5800| 5250|   WA|         10800|
|  male|1121|Pakstudeies| 38|  Thomas|  4000| 3450|   NY|          9000|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|         11500|
|  male|1123|    physics| 37|   Davis|  7800| 7250|   WA|         12800|
|female|1124|    physics| 40|  Wilson|  5000| 4450|   CA|         10000|
|female|1125|    physics| 39|  Garcia|  6900| 6350|   CA|         11900|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|         13800|
|female|1127|       Urdu| 38|   Lopez|  1800| 1250|   NY|          6800|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|          9600|
|female|1129|       Urdu| 39|  Morgan|  5400| 4850|   AK|         10400|
+------+----+-----------+---+--------+------+-----+-----+--------------+

### **Casting a column**

In [22]:
df11=df1.withColumn('age_in_string',col("age").cast("string"))
df11.printSchema()
df11.show()

root
 |-- gender: string (nullable = true)
 |-- ID: integer (nullable = true)
 |-- depart: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- bonus: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- age_in_string: string (nullable = true)

+------+----+-----------+---+--------+------+-----+-----+-------------+
|gender|  ID|     depart|age|    name|Salary|bonus|State|age_in_string|
+------+----+-----------+---+--------+------+-----+-----+-------------+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|           41|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|           41|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|           44|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|           42|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|           40|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|           42|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|           46|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|           40|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|           33|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|           46|
|  male|1120|Pakstudeies| 40|   Smith|  5800| 5250|   WA|           40|
|  male|1121|Pakstudeies| 38|  Thomas|  4000| 3450|   NY|           38|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|           44|
|  male|1123|    physics| 37|   Davis|  7800| 7250|   WA|           37|
|female|1124|    physics| 40|  Wilson|  5000| 4450|   CA|           40|
|female|1125|    physics| 39|  Garcia|  6900| 6350|   CA|           39|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|           43|
|female|1127|       Urdu| 38|   Lopez|  1800| 1250|   NY|           38|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|           45|
|female|1129|       Urdu| 39|  Morgan|  5400| 4850|   AK|           39|
+------+----+-----------+---+--------+------+-----+-----+-------------+

In [30]:
df11=df1.withColumn('age_in_string',col("age").cast("int"))
df11.printSchema()
df11.show()

root
 |-- gender: string (nullable = true)
 |-- ID: integer (nullable = true)
 |-- depart: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- bonus: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- age_in_string: integer (nullable = true)

+------+----+-----------+---+--------+------+-----+-----+-------------+
|gender|  ID|     depart|age|    name|Salary|bonus|State|age_in_string|
+------+----+-----------+---+--------+------+-----+-----+-------------+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|           41|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|           41|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|           44|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|           42|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|           40|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|           42|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|           46|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|           40|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|           33|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|           46|
|  male|1120|Pakstudeies| 40|   Smith|  5800| 5250|   WA|           40|
|  male|1121|Pakstudeies| 38|  Thomas|  4000| 3450|   NY|           38|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|           44|
|  male|1123|    physics| 37|   Davis|  7800| 7250|   WA|           37|
|female|1124|    physics| 40|  Wilson|  5000| 4450|   CA|           40|
|female|1125|    physics| 39|  Garcia|  6900| 6350|   CA|           39|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|           43|
|female|1127|       Urdu| 38|   Lopez|  1800| 1250|   NY|           38|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|           45|
|female|1129|       Urdu| 39|  Morgan|  5400| 4850|   AK|           39|
+------+----+-----------+---+--------+------+-----+-----+-------------+

In [28]:
df12=df11.withColumnRenamed('age_in_string',"age_in_integer")
df12.printSchema()
df12.show()

root
 |-- gender: string (nullable = true)
 |-- ID: integer (nullable = true)
 |-- depart: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- Salary: integer (nullable = true)
 |-- bonus: integer (nullable = true)
 |-- State: string (nullable = true)
 |-- age_in_integer: integer (nullable = true)

+------+----+-----------+---+--------+------+-----+-----+--------------+
|gender|  ID|     depart|age|    name|Salary|bonus|State|age_in_integer|
+------+----+-----------+---+--------+------+-----+-----+--------------+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|            41|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|            41|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|            44|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|            42|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|            40|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|            42|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|            46|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|            40|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|            33|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|            46|
|  male|1120|Pakstudeies| 40|   Smith|  5800| 5250|   WA|            40|
|  male|1121|Pakstudeies| 38|  Thomas|  4000| 3450|   NY|            38|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|            44|
|  male|1123|    physics| 37|   Davis|  7800| 7250|   WA|            37|
|female|1124|    physics| 40|  Wilson|  5000| 4450|   CA|            40|
|female|1125|    physics| 39|  Garcia|  6900| 6350|   CA|            39|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|            43|
|female|1127|       Urdu| 38|   Lopez|  1800| 1250|   NY|            38|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|            45|
|female|1129|       Urdu| 39|  Morgan|  5400| 4850|   AK|            39|
+------+----+-----------+---+--------+------+-----+-----+--------------+

### **lit()**
add a fix String or value

In [31]:
from pyspark.sql.functions import lit
df1.withColumn("age_add",lit(500)).show()

+------+----+-----------+---+--------+------+-----+-----+-------+
|gender|  ID|     depart|age|    name|Salary|bonus|State|age_add|
+------+----+-----------+---+--------+------+-----+-----+-------+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|    500|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|    500|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|    500|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|    500|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|    500|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|    500|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|    500|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|    500|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|    500|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|    500|
|  male|1120|Pakstudeies| 40|   Smith|  5800| 5250|   WA|    500|
|  male|1121|Pakstudeies| 38|  Thomas|  4000| 3450|   NY|    500|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|    500|
|  male|1123|    physics| 37|   Davis|  7800| 7250|   WA|    500|
|female|1124|    physics| 40|  Wilson|  5000| 4450|   CA|    500|
|female|1125|    physics| 39|  Garcia|  6900| 6350|   CA|    500|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|    500|
|female|1127|       Urdu| 38|   Lopez|  1800| 1250|   NY|    500|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|    500|
|female|1129|       Urdu| 39|  Morgan|  5400| 4850|   AK|    500|
+------+----+-----------+---+--------+------+-----+-----+-------+

In [33]:
df1.withColumn("age_add",lit(500)).withColumn("Age_Updt",col("age_add")+col("age")).withColumnRenamed("Age_Updt","NEW_AGES").show()

+------+----+-----------+---+--------+------+-----+-----+-------+--------+
|gender|  ID|     depart|age|    name|Salary|bonus|State|age_add|NEW_AGES|
+------+----+-----------+---+--------+------+-----+-----+-------+--------+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|    500|     541|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|    500|     541|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|    500|     544|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|    500|     542|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|    500|     540|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|    500|     542|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|    500|     546|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|    500|     540|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|    500|     533|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|    500|     546|
|  male|1120|Pakstudeies| 40|   Smith|  5800| 5250|   WA|    500|     540|
|  male|1121|Pakstudeies| 38|  Thomas|  4000| 3450|   NY|    500|     538|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|    500|     544|
|  male|1123|    physics| 37|   Davis|  7800| 7250|   WA|    500|     537|
|female|1124|    physics| 40|  Wilson|  5000| 4450|   CA|    500|     540|
|female|1125|    physics| 39|  Garcia|  6900| 6350|   CA|    500|     539|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|    500|     543|
|female|1127|       Urdu| 38|   Lopez|  1800| 1250|   NY|    500|     538|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|    500|     545|
|female|1129|       Urdu| 39|  Morgan|  5400| 4850|   AK|    500|     539|
+------+----+-----------+---+--------+------+-----+-----+-------+--------+

### **Filter/Where**

In [40]:
df12.filter(col("State")=="CA").show()

+------+----+-------+---+--------+------+-----+-----+--------------+
|gender|  ID| depart|age|    name|Salary|bonus|State|age_in_integer|
+------+----+-------+---+--------+------+-----+-----+--------------+
|female|1110|biology| 41|    John|  7200| 6650|   CA|            41|
|  male|1114|  Maths| 40|    Mike|  7600| 7050|   CA|            40|
|female|1115|  Maths| 42|Jennifer|  7100| 6550|   CA|            42|
|female|1116|  Maths| 46| Jessica|  8800| 8250|   CA|            46|
|female|1124|physics| 40|  Wilson|  5000| 4450|   CA|            40|
|female|1125|physics| 39|  Garcia|  6900| 6350|   CA|            39|
+------+----+-------+---+--------+------+-----+-----+--------------+

In [43]:
df12.show(10)

+------+----+-----------+---+--------+------+-----+-----+--------------+
|gender|  ID|     depart|age|    name|Salary|bonus|State|age_in_integer|
+------+----+-----------+---+--------+------+-----+-----+--------------+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|            41|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|            41|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|            44|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|            42|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|            40|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|            42|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|            46|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|            40|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|            33|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|            46|
+------+----+-----------+---+--------+------+-----+-----+--------------+
only showing top 10 rows

In [44]:
colum=["CA","AK"]
df12.filter(col("State").isin(colum)).show()

+------+----+-------+---+--------+------+-----+-----+--------------+
|gender|  ID| depart|age|    name|Salary|bonus|State|age_in_integer|
+------+----+-------+---+--------+------+-----+-----+--------------+
|female|1110|biology| 41|    John|  7200| 6650|   CA|            41|
|female|1111|biology| 41|    Jane|  6900| 6350|   AK|            41|
|  male|1113|   Chem| 42|   Frank|  4700| 4150|   AK|            42|
|  male|1114|  Maths| 40|    Mike|  7600| 7050|   CA|            40|
|female|1115|  Maths| 42|Jennifer|  7100| 6550|   CA|            42|
|female|1116|  Maths| 46| Jessica|  8800| 8250|   CA|            46|
|female|1124|physics| 40|  Wilson|  5000| 4450|   CA|            40|
|female|1125|physics| 39|  Garcia|  6900| 6350|   CA|            39|
|  male|1128|   Urdu| 45|  Samuel|  4600| 4050|   AK|            45|
|female|1129|   Urdu| 39|  Morgan|  5400| 4850|   AK|            39|
+------+----+-------+---+--------+------+-----+-----+--------------+

In [48]:
df12.filter((col("State")== "CA")| (col("State")=="AK")).show()

+------+----+-------+---+--------+------+-----+-----+--------------+
|gender|  ID| depart|age|    name|Salary|bonus|State|age_in_integer|
+------+----+-------+---+--------+------+-----+-----+--------------+
|female|1110|biology| 41|    John|  7200| 6650|   CA|            41|
|female|1111|biology| 41|    Jane|  6900| 6350|   AK|            41|
|  male|1113|   Chem| 42|   Frank|  4700| 4150|   AK|            42|
|  male|1114|  Maths| 40|    Mike|  7600| 7050|   CA|            40|
|female|1115|  Maths| 42|Jennifer|  7100| 6550|   CA|            42|
|female|1116|  Maths| 46| Jessica|  8800| 8250|   CA|            46|
|female|1124|physics| 40|  Wilson|  5000| 4450|   CA|            40|
|female|1125|physics| 39|  Garcia|  6900| 6350|   CA|            39|
|  male|1128|   Urdu| 45|  Samuel|  4600| 4050|   AK|            45|
|female|1129|   Urdu| 39|  Morgan|  5400| 4850|   AK|            39|
+------+----+-------+---+--------+------+-----+-----+--------------+

In [49]:
df12.filter((col("name").startswith("J"))).show()

+------+----+-------+---+--------+------+-----+-----+--------------+
|gender|  ID| depart|age|    name|Salary|bonus|State|age_in_integer|
+------+----+-------+---+--------+------+-----+-----+--------------+
|female|1110|biology| 41|    John|  7200| 6650|   CA|            41|
|female|1111|biology| 41|    Jane|  6900| 6350|   AK|            41|
|female|1115|  Maths| 42|Jennifer|  7100| 6550|   CA|            42|
|female|1116|  Maths| 46| Jessica|  8800| 8250|   CA|            46|
+------+----+-------+---+--------+------+-----+-----+--------------+

In [50]:
df12.filter((col("name").endswith("e"))).show()

+------+----+-----------+---+----+------+-----+-----+--------------+
|gender|  ID|     depart|age|name|Salary|bonus|State|age_in_integer|
+------+----+-----------+---+----+------+-----+-----+--------------+
|female|1111|    biology| 41|Jane|  6900| 6350|   AK|            41|
|  male|1114|      Maths| 40|Mike|  7600| 7050|   CA|            40|
|female|1119|Pakstudeies| 46| Doe|  3800| 3250|   NY|            46|
+------+----+-----------+---+----+------+-----+-----+--------------+

In [53]:
df12.filter(df12.name.like("%ik%")).show()

+------+----+------+---+----+------+-----+-----+--------------+
|gender|  ID|depart|age|name|Salary|bonus|State|age_in_integer|
+------+----+------+---+----+------+-----+-----+--------------+
|  male|1114| Maths| 40|Mike|  7600| 7050|   CA|            40|
+------+----+------+---+----+------+-----+-----+--------------+

In [54]:
df12.filter(col("name").like("%ik%")).show()

+------+----+------+---+----+------+-----+-----+--------------+
|gender|  ID|depart|age|name|Salary|bonus|State|age_in_integer|
+------+----+------+---+----+------+-----+-----+--------------+
|  male|1114| Maths| 40|Mike|  7600| 7050|   CA|            40|
+------+----+------+---+----+------+-----+-----+--------------+

In [55]:
df12.filter('name like "%ke%"').show()

+------+----+------+---+----+------+-----+-----+--------------+
|gender|  ID|depart|age|name|Salary|bonus|State|age_in_integer|
+------+----+------+---+----+------+-----+-----+--------------+
|  male|1114| Maths| 40|Mike|  7600| 7050|   CA|            40|
+------+----+------+---+----+------+-----+-----+--------------+

In [ ]:
df12.filter('name contains "ke"').show()

In [58]:
df12.filter(col("name").contains("ke")).show()

+------+----+------+---+----+------+-----+-----+--------------+
|gender|  ID|depart|age|name|Salary|bonus|State|age_in_integer|
+------+----+------+---+----+------+-----+-----+--------------+
|  male|1114| Maths| 40|Mike|  7600| 7050|   CA|            40|
+------+----+------+---+----+------+-----+-----+--------------+

## **Quiz**

In [60]:
student=spark.read.csv("StudentsPerformance.csv",inferSchema=True,header=True)
student.show(10)

+------+------+-------+-----+---+--------+
|gender|Rollno|subject|marks|age|    name|
+------+------+-------+-----+---+--------+
|female|  1110|biology|   72| 41|    John|
|female|  1111|biology|   69| 41|    Jane|
|female|  1112|biology|   90| 44|   Sarah|
|  male|  1113|biology|   47| 42|   Frank|
|  male|  1114|biology|   76| 40|    Mike|
|female|  1115|biology|   71| 42|Jennifer|
|female|  1116|biology|   88| 46| Jessica|
|  male|  1117|biology|   40| 40|    Fred|
|  male|  1118|biology|   64| 33|     Bob|
|female|  1119|biology|   38| 46|     Doe|
+------+------+-------+-----+---+--------+
only showing top 10 rows

In [85]:
student1=student.withColumn("Total_Marks",lit(120)).withColumn("avg_marks",(col("marks")/col("Total_Marks"))*100).filter((col("avg_marks")>=80) & (col("subject")=="Maths"))

In [86]:
student1.show()

+------+------+-------+-----+---+------+-----------+-----------------+
|gender|Rollno|subject|marks|age|  name|Total_Marks|        avg_marks|
+------+------+-------+-----+---+------+-----------+-----------------+
|  male|  1144|  Maths|   97| 40|Wilson|        120|80.83333333333333|
+------+------+-------+-----+---+------+-----------+-----------------+

In [95]:
student=student_back
student_back.show()

+------+------+-------+-----+---+--------+
|gender|Rollno|subject|marks|age|    name|
+------+------+-------+-----+---+--------+
|female|  1110|biology|   72| 41|    John|
|female|  1111|biology|   69| 41|    Jane|
|female|  1112|biology|   90| 44|   Sarah|
|  male|  1113|biology|   47| 42|   Frank|
|  male|  1114|biology|   76| 40|    Mike|
|female|  1115|biology|   71| 42|Jennifer|
|female|  1116|biology|   88| 46| Jessica|
|  male|  1117|biology|   40| 40|    Fred|
|  male|  1118|biology|   64| 33|     Bob|
|female|  1119|biology|   38| 46|     Doe|
|  male|  1120|biology|   58| 40|   Smith|
|  male|  1121|biology|   40| 38|  Thomas|
|female|  1122|biology|   65| 44|   Brown|
|  male|  1123|biology|   78| 37|   Davis|
|female|  1124|biology|   50| 40|  Wilson|
|female|  1125|biology|   69| 39|  Garcia|
|  male|  1126|biology|   88| 43|   Clark|
|female|  1127|biology|   18| 38|   Lopez|
|  male|  1128|biology|   46| 45|  Samuel|
|female|  1129|biology|   54| 39|  Morgan|
+------+------+-------+-----+---+--------+
only showing top 20 rows

In [94]:
print("before: ",student.count())
student=student.dropDuplicates(["gender","subject"])
print("After: ",student.count())

before:  126
After:  12

In [102]:
student.select(["gender","subject"]).distinct().show()

+------+-----------+
|gender|    subject|
+------+-----------+
|female|      Maths|
|  male|       Chem|
|female|    biology|
|  male|       Urdu|
|female|       Chem|
|  male|      Maths|
|  male|    physics|
|  male|Pakstudeies|
|female|Pakstudeies|
|female|    physics|
|  male|    biology|
|female|       Urdu|
+------+-----------+

## **Quiz**

In [105]:
student.show(10)

+------+------+-------+-----+---+--------+
|gender|Rollno|subject|marks|age|    name|
+------+------+-------+-----+---+--------+
|female|  1110|biology|   72| 41|    John|
|female|  1111|biology|   69| 41|    Jane|
|female|  1112|biology|   90| 44|   Sarah|
|  male|  1113|biology|   47| 42|   Frank|
|  male|  1114|biology|   76| 40|    Mike|
|female|  1115|biology|   71| 42|Jennifer|
|female|  1116|biology|   88| 46| Jessica|
|  male|  1117|biology|   40| 40|    Fred|
|  male|  1118|biology|   64| 33|     Bob|
|female|  1119|biology|   38| 46|     Doe|
+------+------+-------+-----+---+--------+
only showing top 10 rows

In [106]:
student.select (["age","gender","subject"]).distinct().show()

+---+------+-----------+
|age|gender|    subject|
+---+------+-----------+
| 37|  male|    biology|
| 40|female|    biology|
| 40|female|       Chem|
| 51|  male|    physics|
| 45|female|      Maths|
| 59|  male|       Urdu|
| 57|female|       Urdu|
| 44|  male|       Chem|
| 42|  male|    physics|
| 60|female|       Urdu|
| 45|  male|Pakstudeies|
| 43|  male|    physics|
| 45|female|    physics|
| 39|  male|      Maths|
| 41|  male|    physics|
| 41|  male|       Chem|
| 44|female|    physics|
| 39|female|Pakstudeies|
| 55|  male|       Urdu|
| 40|  male|Pakstudeies|
+---+------+-----------+
only showing top 20 rows

In [111]:
print("B: ",student.count())
student11=student.dropDuplicates(["age","gender","subject"])
print("A: ",student11.count())

B:  126
A:  87

## **Sort/OrderBy**

In [116]:
student.sort(["age","marks"]).show(4)

+------+------+-----------+-----+---+------+
|gender|Rollno|    subject|marks|age|  name|
+------+------+-----------+-----+---+------+
|female|  1158|Pakstudeies|   57| 33|   Bob|
|female|  1198|    physics|   58| 33|Philip|
|  male|  1178|    physics|   61| 33|   Bob|
|  male|  1118|    biology|   64| 33|   Bob|
+------+------+-----------+-----+---+------+
only showing top 4 rows

In [115]:
student.sort("age","marks").show(5)

+------+------+-----------+-----+---+------+
|gender|Rollno|    subject|marks|age|  name|
+------+------+-----------+-----+---+------+
|female|  1158|Pakstudeies|   57| 33|   Bob|
|female|  1198|    physics|   58| 33|Philip|
|  male|  1178|    physics|   61| 33|   Bob|
|  male|  1118|    biology|   64| 33|   Bob|
|  male|  1138|       Chem|   70| 33|   Bob|
+------+------+-----------+-----+---+------+
only showing top 5 rows

In [121]:
student.sort(student.age.asc(),student.marks.desc()).show(10)

+------+------+-----------+-----+---+------+
|gender|Rollno|    subject|marks|age|  name|
+------+------+-----------+-----+---+------+
|  male|  1138|       Chem|   70| 33|   Bob|
|  male|  1118|    biology|   64| 33|   Bob|
|  male|  1178|    physics|   61| 33|   Bob|
|female|  1198|    physics|   58| 33|Philip|
|female|  1158|Pakstudeies|   57| 33|   Bob|
|  male|  1214|       Urdu|   98| 35|  Jane|
|  male|  1163|Pakstudeies|   88| 37| Davis|
|  male|  1123|    biology|   78| 37| Davis|
|  male|  1183|    physics|   61| 37| Davis|
|  male|  1203|    physics|   43| 37| Hanks|
+------+------+-----------+-----+---+------+
only showing top 10 rows

## **Quiz**

In [123]:
df1.show(10)

+------+----+-----------+---+--------+------+-----+-----+
|gender|  ID|     depart|age|    name|Salary|bonus|State|
+------+----+-----------+---+--------+------+-----+-----+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|
+------+----+-----------+---+--------+------+-----+-----+
only showing top 10 rows

Order by ascending on bonus

In [126]:
df1.sort("bonus").show(10)

+------+----+-----------+---+------+------+-----+-----+
|gender|  ID|     depart|age|  name|Salary|bonus|State|
+------+----+-----------+---+------+------+-----+-----+
|female|1127|       Urdu| 38| Lopez|  1800| 1250|   NY|
|female|1119|Pakstudeies| 46|   Doe|  3800| 3250|   NY|
|  male|1117|Pakstudeies| 40|  Fred|  4000| 3450|   LA|
|  male|1121|Pakstudeies| 38|Thomas|  4000| 3450|   NY|
|  male|1128|       Urdu| 45|Samuel|  4600| 4050|   AK|
|  male|1113|       Chem| 42| Frank|  4700| 4150|   AK|
|female|1124|    physics| 40|Wilson|  5000| 4450|   CA|
|female|1129|       Urdu| 39|Morgan|  5400| 4850|   AK|
|  male|1120|Pakstudeies| 40| Smith|  5800| 5250|   WA|
|  male|1118|Pakstudeies| 33|   Bob|  6400| 5850|   LA|
+------+----+-----------+---+------+------+-----+-----+
only showing top 10 rows

In [129]:
df1.sort(df1.age.desc(),df1.Salary.asc()).show(10)

+------+----+-----------+---+--------+------+-----+-----+
|gender|  ID|     depart|age|    name|Salary|bonus|State|
+------+----+-----------+---+--------+------+-----+-----+
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|
|female|1110|    biology| 41|    John|  7200| 6650|   CA|
+------+----+-----------+---+--------+------+-----+-----+
only showing top 10 rows

In [130]:
df1.sort(df1.age.desc(),df1.bonus.desc(),df1.Salary.asc()).show(10)

+------+----+-----------+---+--------+------+-----+-----+
|gender|  ID|     depart|age|    name|Salary|bonus|State|
+------+----+-----------+---+--------+------+-----+-----+
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|
|female|1110|    biology| 41|    John|  7200| 6650|   CA|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|
+------+----+-----------+---+--------+------+-----+-----+
only showing top 10 rows

In [133]:
student.show(10)

+------+------+-------+-----+---+--------+
|gender|Rollno|subject|marks|age|    name|
+------+------+-------+-----+---+--------+
|female|  1110|biology|   72| 41|    John|
|female|  1111|biology|   69| 41|    Jane|
|female|  1112|biology|   90| 44|   Sarah|
|  male|  1113|biology|   47| 42|   Frank|
|  male|  1114|biology|   76| 40|    Mike|
|female|  1115|biology|   71| 42|Jennifer|
|female|  1116|biology|   88| 46| Jessica|
|  male|  1117|biology|   40| 40|    Fred|
|  male|  1118|biology|   64| 33|     Bob|
|female|  1119|biology|   38| 46|     Doe|
+------+------+-------+-----+---+--------+
only showing top 10 rows

In [135]:
student.groupBy("subject").agg(max("marks").alias('max_marks'),min("marks").alias('mini_marks'),sum("marks").alias("sum_marks")).show()

+-----------+---------+----------+---------+
|    subject|max_marks|mini_marks|sum_marks|
+-----------+---------+----------+---------+
|       Urdu|       99|        51|     1668|
|Pakstudeies|       88|         0|     1267|
|       Chem|       74|        44|      659|
|    biology|       90|        18|     1221|
|      Maths|       97|        40|      937|
|    physics|       85|        27|     2211|
+-----------+---------+----------+---------+

## **Quiz**
1. Total number of student enrolled in each course?
2. Total number of male and female students enrolled in each course.
3. total marks achieved my each gender in each course.
4. Display the min and max and avg marks in each course by each group age.

In [137]:
student.groupBy("subject").agg(count("*").alias("total_students")).show()

+-----------+--------------+
|    subject|total_students|
+-----------+--------------+
|       Urdu|            23|
|Pakstudeies|            21|
|       Chem|            10|
|    biology|            20|
|      Maths|            15|
|    physics|            37|
+-----------+--------------+

In [139]:
student.groupBy("gender","subject").agg(count("*").alias ("student_per_subject")).show()

+------+-----------+-------------------+
|gender|    subject|student_per_subject|
+------+-----------+-------------------+
|female|      Maths|                  9|
|  male|       Chem|                  6|
|female|    biology|                 11|
|  male|       Urdu|                  9|
|female|       Chem|                  4|
|  male|      Maths|                  6|
|  male|    physics|                 19|
|  male|Pakstudeies|                 12|
|female|Pakstudeies|                  9|
|female|    physics|                 18|
|  male|    biology|                  9|
|female|       Urdu|                 14|
+------+-----------+-------------------+

In [140]:
student.groupBy("gender","subject").agg(sum("marks")).show()

+------+-----------+----------+
|gender|    subject|sum(marks)|
+------+-----------+----------+
|female|      Maths|       548|
|  male|       Chem|       396|
|female|    biology|       684|
|  male|       Urdu|       661|
|female|       Chem|       263|
|  male|      Maths|       389|
|  male|    physics|      1077|
|  male|Pakstudeies|       775|
|female|Pakstudeies|       492|
|female|    physics|      1134|
|  male|    biology|       537|
|female|       Urdu|      1007|
+------+-----------+----------+

In [142]:
student.groupBy("subject","age").agg(max("marks").alias("maxmum_marks"),min("marks").alias("minimum_marks")).show()

+-----------+---+------------+-------------+
|    subject|age|maxmum_marks|minimum_marks|
+-----------+---+------------+-------------+
|      Maths| 41|          58|           55|
|       Urdu| 52|          70|           70|
|       Urdu| 55|          66|           66|
|      Maths| 39|          81|           57|
|Pakstudeies| 37|          88|           88|
|    physics| 40|          79|           42|
|    physics| 45|          61|           58|
|       Chem| 46|          69|           62|
|       Chem| 40|          74|           67|
|    biology| 42|          71|           47|
|    physics| 41|          49|           47|
|    biology| 40|          76|           40|
|      Maths| 44|          56|           53|
|      Maths| 42|          59|           59|
|      Maths| 40|          97|           50|
|    biology| 46|          88|           38|
|      Maths| 38|          63|           50|
|    biology| 45|          46|           46|
|       Chem| 44|          44|           44|
|Pakstudeies| 46|          82|           55|
+-----------+---+------------+-------------+
only showing top 20 rows

## **Quiz_Word_Count**

In [143]:
dfs=spark.read.text("text1.txt")
dfs.show()

+-------+
|  value|
+-------+
|payeein|
|    One|
| Eleven|
|   ball|
|  mango|
|   ball|
|   paji|
|payeein|
|  apple|
|   ball|
|payeein|
+-------+

In [144]:
dfs.groupBy("value").agg(count("*").alias("number_of_things")).show()

+-------+----------------+
|  value|number_of_things|
+-------+----------------+
|    One|               1|
|  apple|               1|
|  mango|               1|
| Eleven|               1|
|   ball|               3|
|   paji|               1|
|payeein|               3|
+-------+----------------+

## **UFD**
find the total salary = salary + bonus

In [ ]:
def get_counts(salary,b)

In [147]:
df1.show(5)

+------+----+-------+---+-----+------+-----+-----+
|gender|  ID| depart|age| name|Salary|bonus|State|
+------+----+-------+---+-----+------+-----+-----+
|female|1110|biology| 41| John|  7200| 6650|   CA|
|female|1111|biology| 41| Jane|  6900| 6350|   AK|
|female|1112|   Chem| 44|Sarah|  9000| 8450|   LA|
|  male|1113|   Chem| 42|Frank|  4700| 4150|   AK|
|  male|1114|  Maths| 40| Mike|  7600| 7050|   CA|
+------+----+-------+---+-----+------+-----+-----+
only showing top 5 rows

In [173]:
from pyspark.sql.types import IntegerType,FloatType,DoubleType
def get_bonus(salary,bonus):
    return salary+bonus
transbon=udf(lambda x,y: get_bonus(x,y),IntegerType())

In [153]:
df1.withColumn("total_salary",transbon(df1.Salary,df1.bonus)).show(5)

+------+----+-------+---+-----+------+-----+-----+------------+
|gender|  ID| depart|age| name|Salary|bonus|State|total_salary|
+------+----+-------+---+-----+------+-----+-----+------------+
|female|1110|biology| 41| John|  7200| 6650|   CA|       13850|
|female|1111|biology| 41| Jane|  6900| 6350|   AK|       13250|
|female|1112|   Chem| 44|Sarah|  9000| 8450|   LA|       17450|
|  male|1113|   Chem| 42|Frank|  4700| 4150|   AK|        8850|
|  male|1114|  Maths| 40| Mike|  7600| 7050|   CA|       14650|
+------+----+-------+---+-----+------+-----+-----+------------+
only showing top 5 rows

In [149]:
df1.withColumn("total_salary",col("Salary")+col("bonus")).show(5)

+------+----+-------+---+-----+------+-----+-----+------------+
|gender|  ID| depart|age| name|Salary|bonus|State|total_salary|
+------+----+-------+---+-----+------+-----+-----+------------+
|female|1110|biology| 41| John|  7200| 6650|   CA|       13850|
|female|1111|biology| 41| Jane|  6900| 6350|   AK|       13250|
|female|1112|   Chem| 44|Sarah|  9000| 8450|   LA|       17450|
|  male|1113|   Chem| 42|Frank|  4700| 4150|   AK|        8850|
|  male|1114|  Maths| 40| Mike|  7600| 7050|   CA|       14650|
+------+----+-------+---+-----+------+-----+-----+------------+
only showing top 5 rows

## **Quiz**

In [178]:
def get_increment(State,Salary,bonus):
    salaries=0
    if State =="NY":
        print("NY")
        salaries=(Salary*0.1)+(bonus*0.05)
    elif State == "CA":
        salaries=Salary*0.12+(bonus*0.03)
    return salaries
udfs=udf(lambda x,y,z: get_increment(x,y,z),DoubleType())

In [165]:
get_increment("NY",1000,122)

NY

106.1

In [156]:
df1.show(5)

+------+----+-------+---+-----+------+-----+-----+
|gender|  ID| depart|age| name|Salary|bonus|State|
+------+----+-------+---+-----+------+-----+-----+
|female|1110|biology| 41| John|  7200| 6650|   CA|
|female|1111|biology| 41| Jane|  6900| 6350|   AK|
|female|1112|   Chem| 44|Sarah|  9000| 8450|   LA|
|  male|1113|   Chem| 42|Frank|  4700| 4150|   AK|
|  male|1114|  Maths| 40| Mike|  7600| 7050|   CA|
+------+----+-------+---+-----+------+-----+-----+
only showing top 5 rows

In [179]:
df1.withColumn("increment_salary",udfs(df1.State,df1.Salary,df1.bonus)).show()

+------+----+-----------+---+--------+------+-----+-----+----------------+
|gender|  ID|     depart|age|    name|Salary|bonus|State|increment_salary|
+------+----+-----------+---+--------+------+-----+-----+----------------+
|female|1110|    biology| 41|    John|  7200| 6650|   CA|          1063.5|
|female|1111|    biology| 41|    Jane|  6900| 6350|   AK|            null|
|female|1112|       Chem| 44|   Sarah|  9000| 8450|   LA|            null|
|  male|1113|       Chem| 42|   Frank|  4700| 4150|   AK|            null|
|  male|1114|      Maths| 40|    Mike|  7600| 7050|   CA|          1123.5|
|female|1115|      Maths| 42|Jennifer|  7100| 6550|   CA|          1048.5|
|female|1116|      Maths| 46| Jessica|  8800| 8250|   CA|          1303.5|
|  male|1117|Pakstudeies| 40|    Fred|  4000| 3450|   LA|            null|
|  male|1118|Pakstudeies| 33|     Bob|  6400| 5850|   LA|            null|
|female|1119|Pakstudeies| 46|     Doe|  3800| 3250|   NY|           542.5|
|  male|1120|Pakstudeies| 40|   Smith|  5800| 5250|   WA|            null|
|  male|1121|Pakstudeies| 38|  Thomas|  4000| 3450|   NY|           572.5|
|female|1122|    physics| 44|   Brown|  6500| 5950|   NY|           947.5|
|  male|1123|    physics| 37|   Davis|  7800| 7250|   WA|            null|
|female|1124|    physics| 40|  Wilson|  5000| 4450|   CA|           733.5|
|female|1125|    physics| 39|  Garcia|  6900| 6350|   CA|          1018.5|
|  male|1126|    physics| 43|   Clark|  8800| 8250|   NY|          1292.5|
|female|1127|       Urdu| 38|   Lopez|  1800| 1250|   NY|           242.5|
|  male|1128|       Urdu| 45|  Samuel|  4600| 4050|   AK|            null|
|female|1129|       Urdu| 39|  Morgan|  5400| 4850|   AK|            null|
+------+----+-----------+---+--------+------+-----+-----+----------------+

In [181]:
df1.show(3)

+------+----+-------+---+-----+------+-----+-----+
|gender|  ID| depart|age| name|Salary|bonus|State|
+------+----+-------+---+-----+------+-----+-----+
|female|1110|biology| 41| John|  7200| 6650|   CA|
|female|1111|biology| 41| Jane|  6900| 6350|   AK|
|female|1112|   Chem| 44|Sarah|  9000| 8450|   LA|
+------+----+-------+---+-----+------+-----+-----+
only showing top 3 rows

In [187]:
df1.select ("gender","ID").distinct().count()

20

In [191]:
df1.groupBy("depart").agg(approx_count_distinct("gender")).show()

+-----------+-----------------------------+
|     depart|approx_count_distinct(gender)|
+-----------+-----------------------------+
|       Urdu|                            2|
|Pakstudeies|                            2|
|       Chem|                            2|
|    biology|                            1|
|      Maths|                            2|
|    physics|                            2|
+-----------+-----------------------------+

In [192]:
df1.groupBy("depart").agg(countDistinct("gender")).show()

+-----------+-------------+
|     depart|count(gender)|
+-----------+-------------+
|       Urdu|            2|
|Pakstudeies|            2|
|       Chem|            2|
|    biology|            1|
|      Maths|            2|
|    physics|            2|
+-----------+-------------+

In [194]:
df1.groupBy("depart").agg(collect_list("age")).show()

+-----------+--------------------+
|     depart|   collect_list(age)|
+-----------+--------------------+
|       Urdu|        [38, 45, 39]|
|Pakstudeies|[40, 33, 46, 40, 38]|
|       Chem|            [44, 42]|
|    biology|            [41, 41]|
|      Maths|        [40, 42, 46]|
|    physics|[44, 37, 40, 39, 43]|
+-----------+--------------------+

In [195]:
df1.groupBy("depart").agg(sumDistinct("Salary")).show()

c:\Users\Asfandyar\AppData\Local\Programs\Python\Python310\lib\site-packages\pyspark\sql\functions.py:214: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

+-----------+--------------------+
|     depart|sum(DISTINCT Salary)|
+-----------+--------------------+
|       Urdu|               11800|
|Pakstudeies|               20000|
|       Chem|               13700|
|    biology|               14100|
|      Maths|               23500|
|    physics|               35000|
+-----------+--------------------+

# **Spark by ITversity**
### **Create the Spark DataFrame from List**

In [200]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
name=["Asfand","Saeed","Sidra","Mamoon"]
df=spark.createDataFrame(name,StringType())
df.printSchema

### **Multi column Spark DataFrame using Python**

In [ ]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark import SparkConf,SparkContext

spark = SparkSession.builder.getOrCreate()

spark

In [204]:
from pyspark.sql.functions import *
from pyspark.sql.types import *
### No. of tuple elements is showing the rows
## Elements inside the single tuple show the number of columns
#
agelist=[(12,),(13,),(14,)]
df=spark.createDataFrame(agelist,"age int")
df.show()
df.printSchema()

+---+
|age|
+---+
| 12|
| 13|
| 14|
+---+

root
 |-- age: integer (nullable = true)

In [209]:
### Lets increase the number of elements inside the tuples
##
#
age_list=[(12,"Asfand"),(13,"saeed"),(14,"sidra"),(15,"Mamoon")]
df=spark.createDataFrame(age_list,'age int, user_name string')
df.show()
df.printSchema()

+---+---------+
|age|user_name|
+---+---------+
| 12|   Asfand|
| 13|    saeed|
| 14|    sidra|
| 15|   Mamoon|
+---+---------+

root
 |-- age: integer (nullable = true)
 |-- user_name: string (nullable = true)

In [210]:
df.collect()

[Row(age=12, user_name='Asfand'),
 Row(age=13, user_name='saeed'),
 Row(age=14, user_name='sidra'),
 Row(age=15, user_name='Mamoon')]

### **Overview of ROW**

In [261]:
a=df.columns
a

['age', 'names']

In [235]:
dfff=spark.createDataFrame(age_list,a)
dfff.show()
dfff.printSchema()

+---+---------+
|age|user_name|
+---+---------+
| 12|   Asfand|
| 13|    saeed|
| 14|    sidra|
| 15|   Mamoon|
+---+---------+

root
 |-- age: long (nullable = true)
 |-- user_name: string (nullable = true)

In [219]:
df.schema

StructType(List(StructField(age,IntegerType,true),StructField(user_name,StringType,true)))

In [247]:
from pyspark.sql import Row
dfff.collect()

[Row(age=12, user_name='Asfand'),
 Row(age=13, user_name='saeed'),
 Row(age=14, user_name='sidra'),
 Row(age=15, user_name='Mamoon')]

In [248]:
dfff.collect()[1].age

13

In [254]:
ro=Row(age=22,names="asfandss")
ro.names

'asfandss'

In [256]:
nams=[[1,"sah"],[2,"gg"],[3,"HH"]]
df=spark.createDataFrame(nams,'age int,names string')
df.show()
df.collect()

+---+-----+
|age|names|
+---+-----+
|  1|  sah|
|  2|   gg|
|  3|   HH|
+---+-----+

[Row(age=1, names='sah'), Row(age=2, names='gg'), Row(age=3, names='HH')]

In [ ]:
help(spark.createDataFrame)

In [258]:
nams=[[1,"sah"],[2,"gg"],[3,"HH"]]
ros=[Row(*usr) for usr in nams]
ros

In [268]:
dfs=spark.createDataFrame(ros,['age', 'names'])
dfs.show()
dfs.printSchema()

+---+-----+
|age|names|
+---+-----+
|  1|  sah|
|  2|   gg|
|  3|   HH|
+---+-----+

root
 |-- age: long (nullable = true)
 |-- names: string (nullable = true)

In [269]:
dfs.collect()

[Row(age=1, names='sah'), Row(age=2, names='gg'), Row(age=3, names='HH')]

### **Convert List of Dicts into SparkDataFrame using Row**

In [278]:

user_dic=[{'age':12,'names':"Asfand"},{'age':13,'names':"Saeed"},{'age':15,'names':"Peoples"}]
# user_dic.value()
df=spark.createDataFrame(user_dic,'age int,names string')
df.show()
df.printSchema()
df.collect()

+---+-------+
|age|  names|
+---+-------+
| 12| Asfand|
| 13|  Saeed|
| 15|Peoples|
+---+-------+

root
 |-- age: integer (nullable = true)
 |-- names: string (nullable = true)

[Row(age=12, names='Asfand'),
 Row(age=13, names='Saeed'),
 Row(age=15, names='Peoples')]

### **Convert the Dic to Row and then to SparkDataFrame**

In [281]:
user_dic=[{'age':12,'names':"Asfand"},{'age':13,'names':"Saeed"},{'age':15,'names':"Peoples"}]
ros_user=[Row(**usr )for usr in user_dic]
print(ros_user)
df=spark.createDataFrame(ros_user)
df.show()
df.printSchema()

[Row(age=12, names='Asfand'), Row(age=13, names='Saeed'), Row(age=15, names='Peoples')]
+---+-------+
|age|  names|
+---+-------+
| 12| Asfand|
| 13|  Saeed|
| 15|Peoples|
+---+-------+

root
 |-- age: long (nullable = true)
 |-- names: string (nullable = true)

In [285]:
user_dic=[{'age':12,'names':"Asfand"},{'age':13,'names':"Saeed"},{'age':15,'names':"Peoples"}]
ros_user=[Row(usr.values) for usr in user_dic]
print(ros_user)
df=spark.createDataFrame(user_dic)
df.printSchema()
df.show()
df.collect()

[<Row(<built-in method values of dict object at 0x00000156BA9FB780>)>, <Row(<built-in method values of dict object at 0x00000156BA818600>)>, <Row(<built-in method values of dict object at 0x00000156BA819380>)>]
root
 |-- age: long (nullable = true)
 |-- names: string (nullable = true)

+---+-------+
|age|  names|
+---+-------+
| 12| Asfand|
| 13|  Saeed|
| 15|Peoples|
+---+-------+

[Row(age=12, names='Asfand'),
 Row(age=13, names='Saeed'),
 Row(age=15, names='Peoples')]

### **Overview of Basic Data Types in Spark**

In [291]:
import datetime
user_list=[
    {
        'first':'asfand',
        'last':'saeed',
        'email':'asfand@gmail.com',
        'amount_paid':1000.02,
        'customer_time':datetime.date(2022,1,22)
        
        
    },
    {
        'first':'faizan',
        'last':'ali',
        'email':'faizan@gmail.com',
        'amount_paid':1020.02,
        'customer_time':datetime.date(2022,2,22)
    }    
]

In [294]:
user_list

[{'first': 'asfand',
  'last': 'saeed',
  'email': 'asfand@gmail.com',
  'amount_paid': 1000.02,
  'customer_time': datetime.date(2022, 1, 22)},
 {'first': 'faizan',
  'last': 'ali',
  'email': 'faizan@gmail.com',
  'amount_paid': 1020.02,
  'customer_time': datetime.date(2022, 2, 22)}]

In [296]:
df=spark.createDataFrame(Row(**uses) for uses in user_list)
df.show()
df.printSchema()
df.collect()

+------+-----+----------------+-----------+-------------+
| first| last|           email|amount_paid|customer_time|
+------+-----+----------------+-----------+-------------+
|asfand|saeed|asfand@gmail.com|    1000.02|   2022-01-22|
|faizan|  ali|faizan@gmail.com|    1020.02|   2022-02-22|
+------+-----+----------------+-----------+-------------+

root
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_time: date (nullable = true)

[Row(first='asfand', last='saeed', email='asfand@gmail.com', amount_paid=1000.02, customer_time=datetime.date(2022, 1, 22)),
 Row(first='faizan', last='ali', email='faizan@gmail.com', amount_paid=1020.02, customer_time=datetime.date(2022, 2, 22))]

### **Specifying Schema for Spark Dataframe using String**

In [297]:
names_list=[
    (1,
     "Asfand",
     "Saeed",
     "asfand@gmail.com",
     datetime.date(2022,12,1),
     datetime.datetime(2022,12,1,11,22)),
    (2,
     "Ali",
     "zafar",
     "ali@gmail.com",
     datetime.date(2021,2,1),
     datetime.datetime(2021,12,1,11,22))
]

In [300]:
schem='''
id INT,
name STRING,
last STRING,
email STRING,
purchase DATE,
times TIMESTAMP
'''

In [301]:
df = spark.createDataFrame(names_list,schem)
df.show()
df.printSchema()

+---+------+-----+----------------+----------+-------------------+
| id|  name| last|           email|  purchase|              times|
+---+------+-----+----------------+----------+-------------------+
|  1|Asfand|Saeed|asfand@gmail.com|2022-12-01|2022-12-01 11:22:00|
|  2|   Ali|zafar|   ali@gmail.com|2021-02-01|2021-12-01 11:22:00|
+---+------+-----+----------------+----------+-------------------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- purchase: date (nullable = true)
 |-- times: timestamp (nullable = true)

### **Specifying Schema for Spark Dataframe using List**
*we will just pass the columns names the datatype will be infer from the data*

In [302]:
names_list=[
    (1,
     "Asfand",
     "Saeed",
     "asfand@gmail.com",
     datetime.date(2022,12,1),
     datetime.datetime(2022,12,1,11,22)),
    (2,
     "Ali",
     "zafar",
     "ali@gmail.com",
     datetime.date(2021,2,1),
     datetime.datetime(2021,12,1,11,22))
]

In [303]:
col=[
    'id',
    'first_name',
    'second_name',
    'email',
    'purchase_date',
    'time_purchase'
]
df=spark.createDataFrame(names_list,col)
df.show()
df.printSchema()

+---+----------+-----------+----------------+-------------+-------------------+
| id|first_name|second_name|           email|purchase_date|      time_purchase|
+---+----------+-----------+----------------+-------------+-------------------+
|  1|    Asfand|      Saeed|asfand@gmail.com|   2022-12-01|2022-12-01 11:22:00|
|  2|       Ali|      zafar|   ali@gmail.com|   2021-02-01|2021-12-01 11:22:00|
+---+----------+-----------+----------------+-------------+-------------------+

root
 |-- id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- second_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- purchase_date: date (nullable = true)
 |-- time_purchase: timestamp (nullable = true)

### **Specifying Schema using Spark Types**
1. *Import the spark Type class*
2. *Find out the Spark Type API*
3. *Make the schema*

In [304]:
names_list=[
    (1,
     "Asfand",
     "Saeed",
     "asfand@gmail.com",
     datetime.date(2022,12,1),
     datetime.datetime(2022,12,1,11,22)),
    (2,
     "Ali",
     "zafar",
     "ali@gmail.com",
     datetime.date(2021,2,1),
     datetime.datetime(2021,12,1,11,22))
]

In [305]:
from pyspark.sql.types import *
scha=StructType([
    StructField('id', IntegerType()),
    StructField('first', StringType()),
    StructField('last', StringType()),
    StructField('email', StringType()),
    StructField('purchase_date', DateType()),
    StructField('time_purchase', TimestampType())
])
df=spark.createDataFrame(names_list,scha)
df.show()
df.printSchema()

+---+------+-----+----------------+-------------+-------------------+
| id| first| last|           email|purchase_date|      time_purchase|
+---+------+-----+----------------+-------------+-------------------+
|  1|Asfand|Saeed|asfand@gmail.com|   2022-12-01|2022-12-01 11:22:00|
|  2|   Ali|zafar|   ali@gmail.com|   2021-02-01|2021-12-01 11:22:00|
+---+------+-----+----------------+-------------+-------------------+

root
 |-- id: integer (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- purchase_date: date (nullable = true)
 |-- time_purchase: timestamp (nullable = true)

### **Create Spark Dataframe using Pandas Dataframe**

In [306]:
import datetime
user_list=[
    {
        'first':'asfand',
        'last':'saeed',
        'email':'asfand@gmail.com',
        'amount_paid':1000.02,
        'customer_time':datetime.date(2022,1,22)
        
        
    },
    {
        'first':'faizan',
        'last':'ali',
        'email':'faizan@gmail.com',
        'amount_paid':1020.02,
        'customer_time':datetime.date(2022,2,22)
    }    
]

In [309]:
import pandas as pd
# pd.DataFrame([Row(**use) for use in user_list])
pd.DataFrame(user_list)

    first   last             email  amount_paid customer_time
0  asfand  saeed  asfand@gmail.com      1000.02    2022-01-22
1  faizan    ali  faizan@gmail.com      1020.02    2022-02-22

In [310]:
df=spark.createDataFrame(pd.DataFrame(user_list))
df.show()
df.printSchema()

+------+-----+----------------+-----------+-------------+
| first| last|           email|amount_paid|customer_time|
+------+-----+----------------+-----------+-------------+
|asfand|saeed|asfand@gmail.com|    1000.02|   2022-01-22|
|faizan|  ali|faizan@gmail.com|    1020.02|   2022-02-22|
+------+-----+----------------+-----------+-------------+

root
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- customer_time: date (nullable = true)

### **Overview of Special Data Types in Spark**
1. ARRAY (python list)
2. MAP (python DIC)
3. STRUCT

In [322]:
from pyspark.sql.types import *
from pyspark.sql import Row
user_list=[
    {
        'first':'asfand',
        'last':'saeed',
        'email':'asfand@gmail.com',
        'amount_paid':1000.02,
        'phones': ['+923339555855','+923129677783'],
        'customer_time':datetime.date(2022,1,22)
        
        
    },
    {
        'first':'faizan',
        'last':'ali',
        'email':'faizan@gmail.com',
        'amount_paid':1020.02,
        'phones':None,
        'customer_time':datetime.date(2022,2,22)
    }    
]

> Due to Expolde the record that doesnt have phone number is eleminated and by using the explode_outer it is again present

In [328]:
from pyspark.sql.functions import *
df=spark.createDataFrame([Row(**user) for user in user_list])
dff=df.withColumn("phone",explode(col('phones')))
dff.printSchema()
dff.show()

root
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- phones: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- customer_time: date (nullable = true)
 |-- phone: string (nullable = true)

+------+-----+----------------+-----------+--------------------+-------------+-------------+
| first| last|           email|amount_paid|              phones|customer_time|        phone|
+------+-----+----------------+-----------+--------------------+-------------+-------------+
|asfand|saeed|asfand@gmail.com|    1000.02|[+923339555855, +...|   2022-01-22|+923339555855|
|asfand|saeed|asfand@gmail.com|    1000.02|[+923339555855, +...|   2022-01-22|+923129677783|
+------+-----+----------------+-----------+--------------------+-------------+-------------+

In [336]:
df=spark.createDataFrame([Row(**user) for user in user_list])
dff=df.withColumn("Ufone",col("phones")[0]).withColumn("Zong",col("phones")[1])
dff.show()

+------+-----+----------------+-----------+--------------------+-------------+-------------+-------------+
| first| last|           email|amount_paid|              phones|customer_time|        Ufone|         Zong|
+------+-----+----------------+-----------+--------------------+-------------+-------------+-------------+
|asfand|saeed|asfand@gmail.com|    1000.02|[+923339555855, +...|   2022-01-22|+923339555855|+923129677783|
|faizan|  ali|faizan@gmail.com|    1020.02|                null|   2022-02-22|         null|         null|
+------+-----+----------------+-----------+--------------------+-------------+-------------+-------------+

In [337]:
df=spark.createDataFrame([Row(**user) for user in user_list])
dff=df.withColumn("phone",explode_outer(col('phones'))).withColumn("ufone",col("phones")[0])
dff.printSchema()
dff.show()

root
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- phones: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- customer_time: date (nullable = true)
 |-- phone: string (nullable = true)
 |-- ufone: string (nullable = true)

+------+-----+----------------+-----------+--------------------+-------------+-------------+-------------+
| first| last|           email|amount_paid|              phones|customer_time|        phone|        ufone|
+------+-----+----------------+-----------+--------------------+-------------+-------------+-------------+
|asfand|saeed|asfand@gmail.com|    1000.02|[+923339555855, +...|   2022-01-22|+923339555855|+923339555855|
|asfand|saeed|asfand@gmail.com|    1000.02|[+923339555855, +...|   2022-01-22|+923129677783|+923339555855|
|faizan|  ali|faizan@gmail.com|    1020.02|                null|   2022-02-22|         null|         null|
+------+-----+----------------+-----------+--------------------+-------------+-------------+-------------+

### **Map Type Columns in Spark Dataframes**

In [338]:
from pyspark.sql.types import *
from pyspark.sql import Row
user_list=[
    {
        'first':'asfand',
        'last':'saeed',
        'email':'asfand@gmail.com',
        'amount_paid':1000.02,
        'phones': {'mobile': '+923339555855','home':'+923129677783'},
        'customer_time':datetime.date(2022,1,22)
        
        
    },
    {
        'first':'faizan',
        'last':'ali',
        'email':'faizan@gmail.com',
        'amount_paid':1020.02,
        'phones':None,
        'customer_time':datetime.date(2022,2,22)
    }    
]

> We can not alias explode column in

In [360]:
df=spark.createDataFrame([Row(**user) for user in user_list])
df.show()
df.printSchema()
df.select (col('phones.home')).show()
df.select (col('phones.mobile'),col('phones.home')).show()
dff=df.select ('first',explode('phones')).withColumn('handset',col('key')).withColumn('Number',col('value'))
dff.show()

+------+-----+----------------+-----------+--------------------+-------------+
| first| last|           email|amount_paid|              phones|customer_time|
+------+-----+----------------+-----------+--------------------+-------------+
|asfand|saeed|asfand@gmail.com|    1000.02|{mobile -> +92333...|   2022-01-22|
|faizan|  ali|faizan@gmail.com|    1020.02|                null|   2022-02-22|
+------+-----+----------------+-----------+--------------------+-------------+

root
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- phones: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- customer_time: date (nullable = true)

+-------------+
|         home|
+-------------+
|+923129677783|
|         null|
+-------------+

+-------------+-------------+
|       mobile|         home|
+-------------+-------------+
|+923339555855|+923129677783|
|         null|         null|
+-------------+-------------+

+------+------+-------------+-------+-------------+
| first|   key|        value|handset|       Number|
+------+------+-------------+-------+-------------+
|asfand|mobile|+923339555855| mobile|+923339555855|
|asfand|  home|+923129677783|   home|+923129677783|
+------+------+-------------+-------+-------------+

### **Struct Type Columns in Spark Dataframes**

In [381]:
from pyspark.sql.types import *
from pyspark.sql import Row
user_list=[
    {
        'first':'asfand',
        'last':'saeed',
        'email':'asfand@gmail.com',
        'amount_paid':1000.02,
        "phones": Row(mobile="+923339555855",home="+923129677783"),
        # 'phones': {'mobile': '+923339555855','home':'+923129677783'},
        'customer_time':datetime.date(2022,1,22)
        
        
    },
    {
        'first':'faizan',
        'last':'ali',
        'email':'faizan@gmail.com',
        'amount_paid':1020.02,
        "phones": Row(mobile=None,home=None),
        'customer_time':datetime.date(2022,2,22)
    }    
]

In [382]:
user_list

[{'first': 'asfand',
  'last': 'saeed',
  'email': 'asfand@gmail.com',
  'amount_paid': 1000.02,
  'phones': Row(mobile='+923339555855', home='+923129677783'),
  'customer_time': datetime.date(2022, 1, 22)},
 {'first': 'faizan',
  'last': 'ali',
  'email': 'faizan@gmail.com',
  'amount_paid': 1020.02,
  'phones': Row(mobile=None, home=None),
  'customer_time': datetime.date(2022, 2, 22)}]

In [384]:
from pyspark.sql.types import *
df=spark.createDataFrame([Row(**use) for use in user_list])
df.show()
df.printSchema()

+------+-----+----------------+-----------+--------------------+-------------+
| first| last|           email|amount_paid|              phones|customer_time|
+------+-----+----------------+-----------+--------------------+-------------+
|asfand|saeed|asfand@gmail.com|    1000.02|{+923339555855, +...|   2022-01-22|
|faizan|  ali|faizan@gmail.com|    1020.02|        {null, null}|   2022-02-22|
+------+-----+----------------+-----------+--------------------+-------------+

In [386]:
df.select ('first',col('phones.mobile')).show()

+------+-------------+
| first|       mobile|
+------+-------------+
|asfand|+923339555855|
|faizan|         null|
+------+-------------+

In [387]:
df.select ('first',col('phones.*')).show()

+------+-------------+-------------+
| first|       mobile|         home|
+------+-------------+-------------+
|asfand|+923339555855|+923129677783|
|faizan|         null|         null|
+------+-------------+-------------+

In [388]:
from pyspark.sql.types import *
from pyspark.sql import Row
user_list=[
    {
        'first':'asfand',
        'last':'saeed',
        'email':'asfand@gmail.com',
        'amount_paid':1000.02,
        "phones": Row(mobile="+923339555855",home="+923129677783"),
        # 'phones': {'mobile': '+923339555855','home':'+923129677783'},
        'customer_time':datetime.date(2022,1,22),
        'items':['boy','football']
        
        
    },
    {
        'first':'faizan',
        'last':'ali',
        'email':'faizan@gmail.com',
        'amount_paid':1020.02,
        "phones": Row(mobile=None,home=None),
        'customer_time':datetime.date(2022,2,22),
        'items':[]
    }    
]

In [389]:
df=spark.createDataFrame([Row(**use) for use in user_list])
df.printSchema()
df.show()

root
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- amount_paid: double (nullable = true)
 |-- phones: struct (nullable = true)
 |    |-- mobile: string (nullable = true)
 |    |-- home: string (nullable = true)
 |-- customer_time: date (nullable = true)
 |-- items: array (nullable = true)
 |    |-- element: string (containsNull = true)

+------+-----+----------------+-----------+--------------------+-------------+---------------+
| first| last|           email|amount_paid|              phones|customer_time|          items|
+------+-----+----------------+-----------+--------------------+-------------+---------------+
|asfand|saeed|asfand@gmail.com|    1000.02|{+923339555855, +...|   2022-01-22|[boy, football]|
|faizan|  ali|faizan@gmail.com|    1020.02|        {null, null}|   2022-02-22|             []|
+------+-----+----------------+-----------+--------------------+-------------+---------------+

### **38. Overview of Select on Spark Data Frame**
1. Select takes *
2. select takes string
3. select take list and combination of lists.

In [390]:
df.show()

+------+-----+----------------+-----------+--------------------+-------------+---------------+
| first| last|           email|amount_paid|              phones|customer_time|          items|
+------+-----+----------------+-----------+--------------------+-------------+---------------+
|asfand|saeed|asfand@gmail.com|    1000.02|{+923339555855, +...|   2022-01-22|[boy, football]|
|faizan|  ali|faizan@gmail.com|    1020.02|        {null, null}|   2022-02-22|             []|
+------+-----+----------------+-----------+--------------------+-------------+---------------+

In [391]:
df.select ('first','last').show()

+------+-----+
| first| last|
+------+-----+
|asfand|saeed|
|faizan|  ali|
+------+-----+

In [393]:
df.select('*').show()

+------+-----+----------------+-----------+--------------------+-------------+---------------+
| first| last|           email|amount_paid|              phones|customer_time|          items|
+------+-----+----------------+-----------+--------------------+-------------+---------------+
|asfand|saeed|asfand@gmail.com|    1000.02|{+923339555855, +...|   2022-01-22|[boy, football]|
|faizan|  ali|faizan@gmail.com|    1020.02|        {null, null}|   2022-02-22|             []|
+------+-----+----------------+-----------+--------------------+-------------+---------------+

In [401]:
df.alias('u').select ('u.first','u.last').show()
df.alias('u').select (col('u.first'),'u.last').show()
df.alias('u').select ('u.first','u.last',concat(col('u.first'),col('u.last')).alias("full_name")).show()
df.alias('u').select (['u.first','u.last']).show()
df.alias('u').select ([col('u.email'),col('u.amount_paid')]).show()

+------+-----+
| first| last|
+------+-----+
|asfand|saeed|
|faizan|  ali|
+------+-----+

+------+-----+
| first| last|
+------+-----+
|asfand|saeed|
|faizan|  ali|
+------+-----+

+------+-----+-----------+
| first| last|  full_name|
+------+-----+-----------+
|asfand|saeed|asfandsaeed|
|faizan|  ali|  faizanali|
+------+-----+-----------+

+------+-----+
| first| last|
+------+-----+
|asfand|saeed|
|faizan|  ali|
+------+-----+

+----------------+-----------+
|           email|amount_paid|
+----------------+-----------+
|asfand@gmail.com|    1000.02|
|faizan@gmail.com|    1020.02|
+----------------+-----------+

### **39. Overview of selectExpr on Spark Data Frame**
1. *if we want to use function like SQL using it we can use selectExpr that wil help us.*
2. *For selectExpr we don't need to import functions like concat,lit,alias etc it has built configuration.*

In [403]:

df.selectExpr('first','last',"concat(first,', ',last) AS FUll_Name").show()

+------+-----+-------------+
| first| last|    FUll_Name|
+------+-----+-------------+
|asfand|saeed|asfand, saeed|
|faizan|  ali|  faizan, ali|
+------+-----+-------------+

In [405]:
df.createOrReplaceTempView('tab1')
spark.sql("""select first,last,concat(first,', ',last) As Full_name from tab1""").show()

+------+-----+-------------+
| first| last|    Full_name|
+------+-----+-------------+
|asfand|saeed|asfand, saeed|
|faizan|  ali|  faizan, ali|
+------+-----+-------------+

### **40. Referring Columns using Spark Data Frame Names**
1. when we use df['first'] it returns column type object.
2. when we use col('first') it return column type object.
3. We cant use column type object df['first'],col('first') in SelectExpr.
4. we can not use alias as u['first'] as column type object but we can use it as col('u.first').

In [406]:
df.alias('u').select ('u.first',col('u.last')).show()

+------+-----+
| first| last|
+------+-----+
|asfand|saeed|
|faizan|  ali|
+------+-----+

In [407]:
df['first']

Column<'first'>

In [408]:
col('first')

Column<'first'>

In [410]:
df.alias('u').selectExpr('u.first',"concat(u.first,', ',u.last) as Full").show()

+------+-------------+
| first|         Full|
+------+-------------+
|asfand|asfand, saeed|
|faizan|  faizan, ali|
+------+-------------+

### **41. Understanding col function in Spark**
1. *all the function in pyspark.sql.functions applied on the column also returns column*.
2. *select (\*cols) if cols=[col('first'),col('last')] and alse select(cols) if cols=[col('first'),col('last')]**

In [415]:
a=df['first']
b=col('last')
c=[col('email'),date_format(col('customer_time'),'yyyyMMdd')]
df.select(c).show()
df.select(a,b).show()

+----------------+------------------------------------+
|           email|date_format(customer_time, yyyyMMdd)|
+----------------+------------------------------------+
|asfand@gmail.com|                            20220122|
|faizan@gmail.com|                            20220222|
+----------------+------------------------------------+

+------+-----+
| first| last|
+------+-----+
|asfand|saeed|
|faizan|  ali|
+------+-----+

In [421]:
c=[col('email'),date_format(col('customer_time'),'yyyyMMdd').cast('int').alias("date_int")]
df.select(c).show()
df.select(c).schema

+----------------+--------+
|           email|date_int|
+----------------+--------+
|asfand@gmail.com|20220122|
|faizan@gmail.com|20220222|
+----------------+--------+

StructType(List(StructField(email,StringType,true),StructField(date_int,IntegerType,true)))

### **42. Invoking Functions using Spark Column Objects**

### **43. Understanding lit function in Spark**
1. lit() returns column type object.
2. In select we are using every element as column type object.
3. Cast sort,filter,contains,alias are build on top of col type

In [8]:
from pyspark.sql.functions import lit
from pyspark.sql.types import *
from pyspark.sql import Row
user_list=[
    {
        'first':'asfand',
        'last':'saeed',
        'email':'asfand@gmail.com',
        'amount_paid':1000.02,
        "phones": Row(mobile="+923339555855",home="+923129677783"),
        # 'phones': {'mobile': '+923339555855','home':'+923129677783'},
        'customer_time':datetime.date(2022,1,22),
        'items':['boy','football']
        
        
    },
    {
        'first':'faizan',
        'last':'ali',
        'email':'faizan@gmail.com',
        'amount_paid':1020.02,
        "phones": Row(mobile=None,home=None),
        'customer_time':datetime.date(2022,2,22),
        'items':[]
    }    
]
df=spark.createDataFrame([Row(**use) for use in user_list])
df.show()

NameError: name 'datetime' is not defined

In [423]:
lit(25)

Column<'25'>

In [425]:
df.select ('first',col('last'),(col('amount_paid')+lit(3)).alias('total')).show()

+------+-----+-------+
| first| last|  total|
+------+-----+-------+
|asfand|saeed|1003.02|
|faizan|  ali|1023.02|
+------+-----+-------+

In [427]:
### Please dont type column type object in selectExpr like df['first],col['first]
##
#
df.selectExpr('first','last',"amount_paid+3 as total").show()

+------+-----+-------+
| first| last|  total|
+------+-----+-------+
|asfand|saeed|1003.02|
|faizan|  ali|1023.02|
+------+-----+-------+

### **44. Overview of Renaming Spark Data Frame Columns or Expressions**
1. withColumn() is used to give column name after Row level operations.
2. alias to rename columns
3. toDF is use to rename bunch of columns

### **45. Naming derived columns using withColumn**
1. withColumn takes colname,col_type_object
2. If we do replacement of the column names then we will see that the new column name location is changed.

In [429]:
df.select('first','last').withColumn('full',concat('first',lit(', '),'last')).show()

+------+-----+-------------+
| first| last|         full|
+------+-----+-------------+
|asfand|saeed|asfand, saeed|
|faizan|  ali|  faizan, ali|
+------+-----+-------------+

In [430]:
df.select('first','last').withColumn('full',concat(df['first'],lit(', '),df['last'])).show()

+------+-----+-------------+
| first| last|         full|
+------+-----+-------------+
|asfand|saeed|asfand, saeed|
|faizan|  ali|  faizan, ali|
+------+-----+-------------+

In [434]:
### dont use just the name of column as that is not col type
##
#
df.withColumn('full',col('first')).show()

+------+-----+----------------+-----------+--------------------+-------------+---------------+------+
| first| last|           email|amount_paid|              phones|customer_time|          items|  full|
+------+-----+----------------+-----------+--------------------+-------------+---------------+------+
|asfand|saeed|asfand@gmail.com|    1000.02|{+923339555855, +...|   2022-01-22|[boy, football]|asfand|
|faizan|  ali|faizan@gmail.com|    1020.02|        {null, null}|   2022-02-22|             []|faizan|
+------+-----+----------------+-----------+--------------------+-------------+---------------+------+

### **46. Renaming Columns using withColumnRenamed**
1. columns withColumnRenamed will take 2 string one is of what column to replace name and the second what should be the column name.
2. withColumnRenamed does not take any col type object.

In [435]:
df.withColumnRenamed('first','full').show()

+------+-----+----------------+-----------+--------------------+-------------+---------------+
|  full| last|           email|amount_paid|              phones|customer_time|          items|
+------+-----+----------------+-----------+--------------------+-------------+---------------+
|asfand|saeed|asfand@gmail.com|    1000.02|{+923339555855, +...|   2022-01-22|[boy, football]|
|faizan|  ali|faizan@gmail.com|    1020.02|        {null, null}|   2022-02-22|             []|
+------+-----+----------------+-----------+--------------------+-------------+---------------+

In [ ]:
df.withColumnRenamed('full').show()

### **48. Renaming and Reordering multiple Spark Data Frame Columns**
1. *It is hard to pass a string to convert the multiple columns so here toDF will help us alot.*
2. *toDF will need to pass every column name as string it doesnt support any sort of list.*

In [438]:
src_cols=df.columns
targ_cols=['Sir','final','gmail','paid','number','times','things']
# df.select()

In [439]:
df.select(src_cols).toDF(*targ_cols).show()

+------+-----+----------------+-------+--------------------+----------+---------------+
|   Sir|final|           gmail|   paid|              number|     times|         things|
+------+-----+----------------+-------+--------------------+----------+---------------+
|asfand|saeed|asfand@gmail.com|1000.02|{+923339555855, +...|2022-01-22|[boy, football]|
|faizan|  ali|faizan@gmail.com|1020.02|        {null, null}|2022-02-22|             []|
+------+-----+----------------+-------+--------------------+----------+---------------+

### **50. Predefined Functions using Spark Data Frame APIs**
1. filter\\where ,groupBy,Sort,Date_Format,Select ,alias.
2. In date_format we can pass date/timestamp/string to convert it.

In [11]:
from pyspark.sql.types import datetime

In [12]:
names_list=[
    (1,
     "Asfand",
     "Saeed",
     "asfand12@gmail.com",
     datetime.date(2022,12,1),
     datetime.datetime(2022,12,1,11,22)),
    (2,
     "Ali",
     "zafar",
     "ali34@gmail.com",
     datetime.date(2021,2,1),
     datetime.datetime(2021,12,1,11,22))
]
scha=['id','first','last','email','date_purchase','time_purchase']
df=spark.createDataFrame(names_list,scha)
df.show()
df.printSchema()

+---+------+-----+------------------+-------------+-------------------+
| id| first| last|             email|date_purchase|      time_purchase|
+---+------+-----+------------------+-------------+-------------------+
|  1|Asfand|Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|
|  2|   Ali|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|
+---+------+-----+------------------+-------------+-------------------+

root
 |-- id: long (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_purchase: date (nullable = true)
 |-- time_purchase: timestamp (nullable = true)

In [13]:
### convert the timesstamp to int value as it is converted to string after date_formate()
##
#
from pyspark.sql.functions import date_format
dff=df.select('*',date_format(col('time_purchase'),'yyyyMM').cast ('int').alias("date_int"))
dff.printSchema()
dff.show()

root
 |-- id: long (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_purchase: date (nullable = true)
 |-- time_purchase: timestamp (nullable = true)
 |-- date_int: integer (nullable = true)

+---+------+-----+------------------+-------------+-------------------+--------+
| id| first| last|             email|date_purchase|      time_purchase|date_int|
+---+------+-----+------------------+-------------+-------------------+--------+
|  1|Asfand|Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|  202212|
|  2|   Ali|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|  202112|
+---+------+-----+------------------+-------------+-------------------+--------+

In [450]:
df.filter(date_format(col('time_purchase'),'yyyyMM').cast ('int').alias("date_int")== '202212').show()

+---+------+-----+----------------+-------------+-------------------+
| id| first| last|           email|date_purchase|      time_purchase|
+---+------+-----+----------------+-------------+-------------------+
|  1|Asfand|Saeed|asfand@gmail.com|   2022-12-01|2022-12-01 11:22:00|
+---+------+-----+----------------+-------------+-------------------+

In [461]:
from pyspark.sql.functions import current_date
df.groupBy(date_format(col('time_purchase'),'yyyyMM').cast ('int').alias("date_int")).count().withColumn ('now',current_date()).show()
df.groupBy(date_format(col('time_purchase'),'yyyyMM').cast ('int').alias("date_int")).count().withColumn ('now',current_date()).printSchema()

+--------+-----+----------+
|date_int|count|       now|
+--------+-----+----------+
|  202212|    1|2022-12-31|
|  202112|    1|2022-12-31|
+--------+-----+----------+

root
 |-- date_int: integer (nullable = true)
 |-- count: long (nullable = false)
 |-- now: date (nullable = false)

### **52. Categories Of Functions to Manipulate Columns in Spark Data Frames**
* Data_Sting manipulation functions:
  * lower,upper
  * length
  * Extract Substring : substring,split
  * Triming -trim,ltrim,rtrim
  * Padding -lpad,rpad
  * concat_string -concat,concat_ws

In [463]:
### lower function should be passed a columns
##
#
df.show()

+---+------+-----+----------------+-------------+-------------------+
| id| first| last|           email|date_purchase|      time_purchase|
+---+------+-----+----------------+-------------+-------------------+
|  1|Asfand|Saeed|asfand@gmail.com|   2022-12-01|2022-12-01 11:22:00|
|  2|   Ali|zafar|   ali@gmail.com|   2021-02-01|2021-12-01 11:22:00|
+---+------+-----+----------------+-------------+-------------------+

In [468]:
from pyspark.sql.functions import lower,concat,concat_ws
df.select ('first', lower(col('last').alias("last"))).show()

+------+-------------------+
| first|lower(last AS last)|
+------+-------------------+
|Asfand|              saeed|
|   Ali|              zafar|
+------+-------------------+

In [469]:
df.select ('first', concat_ws('-',col('first'),col('last')).alias("last")).show()

+------+------------+
| first|        last|
+------+------------+
|Asfand|Asfand-Saeed|
|   Ali|   Ali-zafar|
+------+------------+

In [471]:
df.select ('first', concat_ws('-',lower(col('first')),upper(col('last'))).alias("last")).show()

+------+------------+
| first|        last|
+------+------------+
|Asfand|asfand-SAEED|
|   Ali|   ali-ZAFAR|
+------+------------+

In [14]:
### initcap use to make first letter capital,length
##
#
from pyspark.sql.functions import initcap,split
df.select ('first',concat(initcap(col('first')),lit(' '),lower('last')).alias('total')).withColumn ("lengths",length(col('total'))).show()

+------+------------+-------+
| first|       total|lengths|
+------+------------+-------+
|Asfand|Asfand saeed|     12|
|   Ali|   Ali zafar|      9|
+------+------------+-------+

### **56. Extracting Strings using substring from Spark Data Frame Columns**
1. *This is use to take character combination from fixlength columns but we can do for variable col as wel.*
2. *substring(col,position_start,total_words)*

In [481]:
df.show()

+---+------+-----+----------------+-------------+-------------------+
| id| first| last|           email|date_purchase|      time_purchase|
+---+------+-----+----------------+-------------+-------------------+
|  1|Asfand|Saeed|asfand@gmail.com|   2022-12-01|2022-12-01 11:22:00|
|  2|   Ali|zafar|   ali@gmail.com|   2021-02-01|2021-12-01 11:22:00|
+---+------+-----+----------------+-------------+-------------------+

In [484]:
df.select('*').withColumn('email_users',substring (col('email'),-9,9)).show()

+---+------+-----+------------------+-------------+-------------------+-----------+
| id| first| last|             email|date_purchase|      time_purchase|email_users|
+---+------+-----+------------------+-------------+-------------------+-----------+
|  1|Asfand|Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|  gmail.com|
|  2|   Ali|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|  gmail.com|
+---+------+-----+------------------+-------------+-------------------+-----------+

### **57. Extracting Strings using split from Spark Data Frame Columns**
1. substring will take the characters, split(col,delimeter)

In [494]:
df.select('*').withColumn('user_id',substring((split(col('email'),'@')[0]),1,5)).show()

+---+------+-----+------------------+-------------+-------------------+-------+
| id| first| last|             email|date_purchase|      time_purchase|user_id|
+---+------+-----+------------------+-------------+-------------------+-------+
|  1|Asfand|Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|  asfan|
|  2|   Ali|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|  ali34|
+---+------+-----+------------------+-------------+-------------------+-------+

### **58. Padding Characters around strings in Spark Data Frame Columns**
1. lpad (col,length_of_character_after_which_padding_is_to_initiate,'+92')

In [15]:
names_list=[
    (1,
     "   Asfand    ",
     "Saeed",
     "asfand12@gmail.com",
     datetime.date(2022,12,1),
     datetime.datetime(2022,12,1,11,22),
     '3339555855'),
    (2,
     "  Ali.",
     "zafar",
     "ali34@gmail.com",
     datetime.date(2021,2,1),
     datetime.datetime(2021,12,1,11,22),
     '+923129677783')
]
scha=['id','first','last','email','date_purchase','time_purchase','phones']
df=spark.createDataFrame(names_list,scha)
df.show()
df.printSchema()

+---+-------------+-----+------------------+-------------+-------------------+-------------+
| id|        first| last|             email|date_purchase|      time_purchase|       phones|
+---+-------------+-----+------------------+-------------+-------------------+-------------+
|  1|   Asfand    |Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|
|  2|         Ali.|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|+923129677783|
+---+-------------+-----+------------------+-------------+-------------------+-------------+

root
 |-- id: long (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_purchase: date (nullable = true)
 |-- time_purchase: timestamp (nullable = true)
 |-- phones: string (nullable = true)

In [499]:
from pyspark.sql.functions import *
df.select('*').withColumn('phone',lpad(col('phones'),13,'+92')).show()

+---+------+-----+------------------+-------------+-------------------+-------------+-------------+
| id| first| last|             email|date_purchase|      time_purchase|       phones|        phone|
+---+------+-----+------------------+-------------+-------------------+-------------+-------------+
|  1|Asfand|Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|+923339555855|
|  2|   Ali|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|+923129677783|+923129677783|
+---+------+-----+------------------+-------------+-------------------+-------------+-------------+

### **59. Trimming Characters from strings in Spark Data Frame Columns**
1. ltrim for removing spaces from left.
2. rtrim for removing spaces from right
3. trim for removing spaces from both side.

In [505]:
df.withColumn('ltrim',ltrim('first')).withColumn("rtrim",rtrim('first')).withColumn('Both',trim('first')).show()

+---+-------------+-----+------------------+-------------+-------------------+-------------+----------+---------+------+
| id|        first| last|             email|date_purchase|      time_purchase|       phones|     ltrim|    rtrim|  Both|
+---+-------------+-----+------------------+-------------+-------------------+-------------+----------+---------+------+
|  1|   Asfand    |Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|Asfand    |   Asfand|Asfand|
|  2|         Ali.|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|+923129677783|      Ali.|     Ali.|  Ali.|
+---+-------------+-----+------------------+-------------+-------------------+-------------+----------+---------+------+

In [512]:
### Expr is used to get the extra out of spark sql API
##
#
df.withColumn('rtrim',expr("trim(TRAILING '.' FROM rtrim(first))")).show()

+---+-------------+-----+------------------+-------------+-------------------+-------------+---------+
| id|        first| last|             email|date_purchase|      time_purchase|       phones|    rtrim|
+---+-------------+-----+------------------+-------------+-------------------+-------------+---------+
|  1|   Asfand    |Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|   Asfand|
|  2|         Ali.|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|+923129677783|      Ali|
+---+-------------+-----+------------------+-------------+-------------------+-------------+---------+

In [1]:
import findspark


findspark.init()
import pyspark

from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark import SparkConf,SparkContext

spark = SparkSession.builder.getOrCreate()

spark

### **60. Date and Time Manipulation Functions using Spark Data Frames**
1. Standard date format yyy-MM-dd.
2. Standard timestamp format yyy-yMM-dd HH:mm:ss:SSS.
3. hours are bydefault 24 hours.

In [16]:
df.show()

+---+-------------+-----+------------------+-------------+-------------------+-------------+
| id|        first| last|             email|date_purchase|      time_purchase|       phones|
+---+-------------+-----+------------------+-------------+-------------------+-------------+
|  1|   Asfand    |Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|
|  2|         Ali.|zafar|   ali34@gmail.com|   2021-02-01|2021-12-01 11:22:00|+923129677783|
+---+-------------+-----+------------------+-------------+-------------------+-------------+

In [12]:
import datetime
names_list=[
    (1,
     "   Asfand    ",
     "Saeed",
     "asfand12@gmail.com",
     datetime.date(2022,12,1),
     datetime.datetime(2022,12,1,11,22),
     '3339555855',
     '20220110',
     '20220111 11:22:21:234'),
    (2,
     "  Ali.",
     "zafar",
     "ali34@gmail.com",
     datetime.date(2021,2,15),
     datetime.datetime(2021,12,16,11,22),
     '+923129677783',
     '20220112',
     '20220113 13:22:21:234')
]
scha=['id','first','last','email','date_purchase','time_purchase','phones','date','time']
df=spark.createDataFrame(names_list,scha)
df.show(truncate=False)
df.printSchema()

+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+---------------------+
|id |first        |last |email             |date_purchase|time_purchase      |phones       |date    |time                 |
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+---------------------+
|1  |   Asfand    |Saeed|asfand12@gmail.com|2022-12-01   |2022-12-01 11:22:00|3339555855   |20220110|20220111 11:22:21:234|
|2  |  Ali.       |zafar|ali34@gmail.com   |2021-02-15   |2021-12-16 11:22:00|+923129677783|20220112|20220113 13:22:21:234|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+---------------------+

root
 |-- id: long (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_purchase: date (nullable = true)
 |-- time_purchase: timestamp (nullable = true)
 |-- phones: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)

In [13]:
df.withColumn('dates',to_date(col('date'),'yyyyMMdd')).withColumn('time',to_timestamp(col('time'),'yyyyMMdd HH:mm:ss:SSS')).show(truncate=False)
df.withColumn('dates',to_date(col('date'),'yyyyMMdd')).withColumn('time',to_timestamp(col('time'),'yyyyMMdd HH:mm:ss:SSS')).printSchema()

+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+-----------------------+----------+
|id |first        |last |email             |date_purchase|time_purchase      |phones       |date    |time                   |dates     |
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+-----------------------+----------+
|1  |   Asfand    |Saeed|asfand12@gmail.com|2022-12-01   |2022-12-01 11:22:00|3339555855   |20220110|2022-01-11 11:22:21.234|2022-01-10|
|2  |  Ali.       |zafar|ali34@gmail.com   |2021-02-15   |2021-12-16 11:22:00|+923129677783|20220112|2022-01-13 13:22:21.234|2022-01-12|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+-----------------------+----------+

root
 |-- id: long (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_purchase: date (nullable = true)
 |-- time_purchase: timestamp (nullable = true)
 |-- phones: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: timestamp (nullable = true)
 |-- dates: date (nullable = true)

### **62. Using date and time trunc functions on Spark Data Frames**
1. trunc(col(),formate)
2. date_trunc(format,col())
3. withColumn('days',date_trunc("dd",col("time_purchase"))) start of day
4. date_trunc('HOUR',col('time_purchase')) start of the hour

In [16]:
from pyspark.sql.functions import *
df.withColumn('month_start',trunc(col('date_purchase'),'mon')).withColumn('year_start',trunc(col('time_purchase'),'year')).show()

+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-----------+----------+
| id|        first| last|             email|date_purchase|      time_purchase|       phones|    date|                time|month_start|year_start|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-----------+----------+
|  1|   Asfand    |Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|20220110|20220111 11:22:21...| 2022-12-01|2022-01-01|
|  2|         Ali.|zafar|   ali34@gmail.com|   2021-02-15|2021-12-16 11:22:00|+923129677783|20220112|20220113 13:22:21...| 2021-02-01|2021-01-01|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-----------+----------+

In [18]:
### date_trunc(format,col) this return timestamp when given date.
##
#
df.withColumn('month_start',date_trunc('mon',col('date_purchase'))).withColumn('year_start',date_trunc('year',col('time_purchase'))).show()

+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-------------------+-------------------+
| id|        first| last|             email|date_purchase|      time_purchase|       phones|    date|                time|        month_start|         year_start|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-------------------+-------------------+
|  1|   Asfand    |Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|20220110|20220111 11:22:21...|2022-12-01 00:00:00|2022-01-01 00:00:00|
|  2|         Ali.|zafar|   ali34@gmail.com|   2021-02-15|2021-12-16 11:22:00|+923129677783|20220112|20220113 13:22:21...|2021-02-01 00:00:00|2021-01-01 00:00:00|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-------------------+-------------------+

In [22]:
df.withColumn('month_start',date_trunc('HOUR',col('date_purchase'))).withColumn('year_start',date_trunc('HOUR',col('time_purchase'))).\
    withColumn('days',date_trunc("dd",col("time_purchase"))).show()

+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-------------------+-------------------+-------------------+
| id|        first| last|             email|date_purchase|      time_purchase|       phones|    date|                time|        month_start|         year_start|               days|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-------------------+-------------------+-------------------+
|  1|   Asfand    |Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|20220110|20220111 11:22:21...|2022-12-01 00:00:00|2022-12-01 11:00:00|2022-12-01 00:00:00|
|  2|         Ali.|zafar|   ali34@gmail.com|   2021-02-15|2021-12-16 11:22:00|+923129677783|20220112|20220113 13:22:21...|2021-02-15 00:00:00|2021-12-16 11:00:00|2021-12-16 00:00:00|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+-------------------+-------------------+-------------------+

### **63. Date and Time Extract Functions on Spark Data Frames**
1. year
2. month
3. weekofyear
4. dayofyear
5. dayofmonth
6. dayofweek
7. hour
8. minute
9. second

In [25]:
from pyspark.sql.functions import *
df.select (current_timestamp().alias('current')).withColumn('year',year(col('current'))).\
    withColumn('year',year(col('current'))).\
    withColumn('month',month(col('current'))).\
    withColumn('weekofyear',weekofyear(col('current'))).\
    withColumn('dayofyear',dayofyear(col('current'))).\
    withColumn('dayofweek',dayofweek(col('current'))).\
    withColumn('hour',hour(col('current'))).\
    withColumn('minutes',minute(col('current'))).\
    withColumn('second',second(col('current'))).\
                    show(truncate=False)

+-----------------------+----+-----+----------+---------+---------+----+-------+------+
|current                |year|month|weekofyear|dayofyear|dayofweek|hour|minutes|second|
+-----------------------+----+-----+----------+---------+---------+----+-------+------+
|2022-12-31 16:53:59.764|2022|12   |52        |365      |7        |16  |53     |59    |
|2022-12-31 16:53:59.764|2022|12   |52        |365      |7        |16  |53     |59    |
+-----------------------+----+-----+----------+---------+---------+----+-------+------+

In [26]:
df.select (current_timestamp().alias('current')).withColumn('year',year(col('current'))).\
    withColumn('year',year(col('current'))).\
    withColumn('month',month(col('current'))).\
    withColumn('weekofyear',weekofyear(col('current'))).\
    withColumn('dayofyear',dayofyear(col('current'))).\
    withColumn('dayofweek',dayofweek(col('current'))).\
    withColumn('hour',hour(col('current'))).\
    withColumn('minutes',minute(col('current'))).\
    withColumn('second',second(col('current'))).\
                    printSchema()

root
 |-- current: timestamp (nullable = false)
 |-- year: integer (nullable = false)
 |-- month: integer (nullable = false)
 |-- weekofyear: integer (nullable = false)
 |-- dayofyear: integer (nullable = false)
 |-- dayofweek: integer (nullable = false)
 |-- hour: integer (nullable = false)
 |-- minutes: integer (nullable = false)
 |-- second: integer (nullable = false)

### **64. Using to_date and to_timestamp on Spark Data Frames**
1. standard date yyyy-MM-dd
2. standard timestamp yyyy-MM-dd HH:mm:ss.SSS
3. to_date use to convert the non standard date to standard.
4. to_timestamp use to convert the non standard timestamp to standard

In [31]:
df.select (lit('20220122').alias('date')).withColumn('to_date',to_date(col('date'),'yyyyMMdd')).show()
df.select (lit('20220122').alias('date')).withColumn('to_date',to_date(col('date'),'yyyyMMdd')).printSchema()

+--------+----------+
|    date|   to_date|
+--------+----------+
|20220122|2022-01-22|
|20220122|2022-01-22|
+--------+----------+

root
 |-- date: string (nullable = false)
 |-- to_date: date (nullable = true)

In [32]:
df.select (lit('20220122').alias('date')).withColumn('to_date',to_timestamp(col('date'),'yyyyMMdd')).show()
df.select (lit('20220122').alias('date')).withColumn('to_date',to_timestamp(col('date'),'yyyyMMdd')).printSchema()

+--------+-------------------+
|    date|            to_date|
+--------+-------------------+
|20220122|2022-01-22 00:00:00|
|20220122|2022-01-22 00:00:00|
+--------+-------------------+

root
 |-- date: string (nullable = false)
 |-- to_date: timestamp (nullable = true)

In [34]:
df.select(lit('02,March 2022').alias('date')).withColumn('to_date',to_date(col('date'),'dd,MMMM yyyy')).show()

+-------------+----------+
|         date|   to_date|
+-------------+----------+
|02,March 2022|2022-03-02|
|02,March 2022|2022-03-02|
+-------------+----------+

In [36]:
df.select(lit('02,March 2022 13:22:22.234').alias('date')).withColumn('to_date',to_date(col('date'),'dd,MMMM yyyy HH:mm:ss.SSS')).show()

+--------------------+----------+
|                date|   to_date|
+--------------------+----------+
|02,March 2022 13:...|2022-03-02|
|02,March 2022 13:...|2022-03-02|
+--------------------+----------+

In [38]:
df.select(lit('02,March 2022 13:22:22.234').alias('date')).withColumn('to_timestamp',to_timestamp(col('date'),'dd,MMMM yyyy HH:mm:ss.SSS')).show()
df.select(lit('02,March 2022 13:22:22.234').alias('date')).withColumn('to_timestamp',to_timestamp(col('date'),'dd,MMMM yyyy HH:mm:ss.SSS')).printSchema()

+--------------------+--------------------+
|                date|        to_timestamp|
+--------------------+--------------------+
|02,March 2022 13:...|2022-03-02 13:22:...|
|02,March 2022 13:...|2022-03-02 13:22:...|
+--------------------+--------------------+

root
 |-- date: string (nullable = false)
 |-- to_timestamp: timestamp (nullable = true)

### **65. Using date_format Function on Spark Data Frames**
1. date_format will change the datetype and timestamp column to the desired format of the date
2. We can use the function of year month weekofmonth etc discussed above but we can do thing with this as well.
3. yyyy
4. MM
5. MMM (mar,apr formate)
6. MMMM (march,April)
7. dd (day of month)
8. DD (day of year)
9. HH (24 hour format)
10. hh (12 hour format)
11. mm (minute)
12. ss (sec)
13. SSS (mili sec)

In [42]:
df.select(lit(current_timestamp()).alias('date')).\
    withColumn('year',date_format(col('date'),'yyyy')).\
    withColumn('month',date_format(col('date'),'MM')).\
    withColumn('day',date_format(col('date'),'dd')).\
    withColumn('Hour',date_format(col('date'),'HH')).\
    withColumn('minute',date_format(col('date'),'mm')).\
    withColumn('sec',date_format(col('date'),'ss')).\
    withColumn('12 hour',date_format(col('date'),'hh')).\
    withColumn('month in alpha',date_format(col('date'),'MMMM')).\
    withColumn('month in 3 alpha',date_format(col('date'),'MMM')).\
show()

+--------------------+----+-----+---+----+------+---+-------+--------------+----------------+
|                date|year|month|day|Hour|minute|sec|12 hour|month in alpha|month in 3 alpha|
+--------------------+----+-----+---+----+------+---+-------+--------------+----------------+
|2022-12-31 17:52:...|2022|   12| 31|  17|    52| 13|     05|      December|             Dec|
|2022-12-31 17:52:...|2022|   12| 31|  17|    52| 13|     05|      December|             Dec|
+--------------------+----+-----+---+----+------+---+-------+--------------+----------------+

In [41]:
df.select(lit(current_timestamp()).alias('date')).\
    withColumn('year',date_format(col('date'),'yyyy')).\
    show()

+--------------------+----+
|                date|year|
+--------------------+----+
|2022-12-31 17:40:...|2022|
|2022-12-31 17:40:...|2022|
+--------------------+----+

### **66. Dealing with Unix Timestamp in Spark Data Frames**
1. unix_timestamp() to convert the timestamp to unix
2. in unix_timestamp()  you have to pass string/timestamp or if there is any non standard you have to show format to unix and if you pass date still pass format
3. from_timestamp() to convert to time_stamp from unix and if no format is shown it will return standard timestamp.

In [53]:
dff=df.select(lit('2022-02-11').alias('date_string'),lit('1672491840').alias('strings'),lit(current_date()).alias('date_type'),lit(current_timestamp()).alias('timestamp'))
dff.show()

+-----------+----------+----------+--------------------+
|date_string|   strings| date_type|           timestamp|
+-----------+----------+----------+--------------------+
| 2022-02-11|1672491840|2022-12-31|2022-12-31 18:10:...|
| 2022-02-11|1672491840|2022-12-31|2022-12-31 18:10:...|
+-----------+----------+----------+--------------------+

In [54]:
unix=dff.withColumn('to_unix_string',unix_timestamp(col('date_string'),'yyyy-MM-dd')).\
    withColumn('to_unix_date',unix_timestamp(col('date_type'))).\
        withColumn('to_unix_time',unix_timestamp(col('timestamp')))
unix.show()

+-----------+----------+----------+--------------------+--------------+------------+------------+
|date_string|   strings| date_type|           timestamp|to_unix_string|to_unix_date|to_unix_time|
+-----------+----------+----------+--------------------+--------------+------------+------------+
| 2022-02-11|1672491840|2022-12-31|2022-12-31 18:10:...|    1644519600|  1672426800|  1672492214|
| 2022-02-11|1672491840|2022-12-31|2022-12-31 18:10:...|    1644519600|  1672426800|  1672492214|
+-----------+----------+----------+--------------------+--------------+------------+------------+

In [55]:
unix.withColumn('from_time_standard',from_unixtime(col('to_unix_time'))).\
    withColumn('from_string_unix',from_unixtime(col('strings'))).\
    show()

+-----------+----------+----------+--------------------+--------------+------------+------------+-------------------+-------------------+
|date_string|   strings| date_type|           timestamp|to_unix_string|to_unix_date|to_unix_time| from_time_standard|   from_string_unix|
+-----------+----------+----------+--------------------+--------------+------------+------------+-------------------+-------------------+
| 2022-02-11|1672491840|2022-12-31|2022-12-31 18:11:...|    1644519600|  1672426800|  1672492311|2022-12-31 18:11:51|2022-12-31 18:04:00|
| 2022-02-11|1672491840|2022-12-31|2022-12-31 18:11:...|    1644519600|  1672426800|  1672492311|2022-12-31 18:11:51|2022-12-31 18:04:00|
+-----------+----------+----------+--------------------+--------------+------------+------------+-------------------+-------------------+

### **67. Dealing with nulls in Spark Data Frames**
1. coalesce()
2. nvl()
3. na.fill(0.0)
4. df.fillna(0.0,'salary')
5. na.fill (value=some,subset=[col])

In [57]:
person=[
    (1,1),
    (2,13),
    (3,18),
    (4,60),
    (5,120),
    (6,0),
    (7,12),
    (8,160)
    
]
col=['id','age']
df=spark.createDataFrame(person,schema=col)
df.show()
df.printSchema()

+---+---+
| id|age|
+---+---+
|  1|  1|
|  2| 13|
|  3| 18|
|  4| 60|
|  5|120|
|  6|  0|
|  7| 12|
|  8|160|
+---+---+

root
 |-- id: long (nullable = true)
 |-- age: long (nullable = true)

In [85]:
import datetime
names_list=[
    (1,
     "   Asfand    ",
     "Saeed",
     "asfand12@gmail.com",
     datetime.date(2022,12,1),
     datetime.datetime(2022,12,1,11,22),
     '3339555855',
     '20220110',
     '20220111 11:22:21:234',
     3000),
    (2,
     "  Ali.",
     "zafar",
     "ali34@gmail.com",
     datetime.date(2021,2,15),
     datetime.datetime(2021,12,16,11,22),
     '+923129677783',
     '20220112',
     '20220113 13:22:21:234',
     2000),
    (3,
     "  Aliz.",
     "sasa",
     "asa@gmail.com",
     datetime.date(2021,2,15),
     datetime.datetime(2021,12,16,11,22),
     '+924122677783',
     '20220112',
     '20220113 13:22:21:234',
     NaN)
]
scha=['id','first','last','email','date_purchase','time_purchase','phones','date','time','amount']
df=spark.createDataFrame(names_list,scha)
df.show(truncate=False)
df.printSchema()

NameError: name 'NaN' is not defined

In [84]:
df.filter("amount == '2000'").show()
df.filter(col('amount').isin(0)).show()

+---+------+-----+---------------+-------------+-------------------+-------------+--------+--------------------+------+
| id| first| last|          email|date_purchase|      time_purchase|       phones|    date|                time|amount|
+---+------+-----+---------------+-------------+-------------------+-------------+--------+--------------------+------+
|  2|  Ali.|zafar|ali34@gmail.com|   2021-02-15|2021-12-16 11:22:00|+923129677783|20220112|20220113 13:22:21...|  2000|
+---+------+-----+---------------+-------------+-------------------+-------------+--------+--------------------+------+

TypeError: 'list' object is not callable

In [66]:
df.withColumn('category',when ((col('age')>=0) & (col('age')<=2),'New_Born').otherwise("no")).show()

TypeError: 'list' object is not callable

In [86]:
import datetime
names_list=[
    (1,
     "   Asfand    ",
     "Saeed",
     "asfand12@gmail.com",
     datetime.date(2022,12,1),
     datetime.datetime(2022,12,1,11,22),
     '3339555855',
     '20220110',
     '20220111 11:22:21:234'),
    (2,
     "  Ali.",
     "zafar",
     "ali34@gmail.com",
     datetime.date(2021,2,15),
     datetime.datetime(2021,12,16,11,22),
     '+923129677783',
     '20220112',
     '20220113 13:22:21:234')
]
scha=['id','first','last','email','date_purchase','time_purchase','phones','date','time']
df=spark.createDataFrame(names_list,scha)
df.show(truncate=False)
df.printSchema()

+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+---------------------+
|id |first        |last |email             |date_purchase|time_purchase      |phones       |date    |time                 |
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+---------------------+
|1  |   Asfand    |Saeed|asfand12@gmail.com|2022-12-01   |2022-12-01 11:22:00|3339555855   |20220110|20220111 11:22:21:234|
|2  |  Ali.       |zafar|ali34@gmail.com   |2021-02-15   |2021-12-16 11:22:00|+923129677783|20220112|20220113 13:22:21:234|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+---------------------+

root
 |-- id: long (nullable = true)
 |-- first: string (nullable = true)
 |-- last: string (nullable = true)
 |-- email: string (nullable = true)
 |-- date_purchase: date (nullable = true)
 |-- time_purchase: timestamp (nullable = true)
 |-- phones: string (nullable = true)
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)

In [94]:
df.filter("id BETWEEN 1 AND 2").show()

+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+
| id|        first| last|             email|date_purchase|      time_purchase|       phones|    date|                time|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+
|  1|   Asfand    |Saeed|asfand12@gmail.com|   2022-12-01|2022-12-01 11:22:00|   3339555855|20220110|20220111 11:22:21...|
|  2|         Ali.|zafar|   ali34@gmail.com|   2021-02-15|2021-12-16 11:22:00|+923129677783|20220112|20220113 13:22:21...|
+---+-------------+-----+------------------+-------------+-------------------+-------------+--------+--------------------+

In [ ]:
df.filter("id IN (1 , 2)").show()

## **SQL Advance**
### **TASK 1**

In [1]:
%run ./joins_data.ipynb

courses_df has

+---------+--------------------+-------------------+---------+-------------------+
|course_id|        course_title|course_published_dt|is_active|    last_updated_ts|
+---------+--------------------+-------------------+---------+-------------------+
|        1|    Mastering Python|         2021-01-14|     true|2021-02-18 16:57:25|
|        2|Data Engineering ...|         2021-02-10|     true|2021-03-05 12:07:33|
|        3|   Mastering Pyspark|         2021-01-07|     true|2021-04-06 10:05:42|
|        4|      AWS Essentials|         2021-03-19|    false|2021-04-10 02:25:36|
|        5|          Docker 101|         2021-02-28|     true|2021-03-21 07:18:52|
+---------+--------------------+-------------------+---------+-------------------+

users_df has

+-------+---------------+--------------+--------------------+
|user_id|user_first_name|user_last_name|          user_email|
+-------+---------------+--------------+--------------------+
|      1|         Sandra|        Karpov|    skarpov0@ovh.net|
|      2|           Kari|        Dearth|kdearth1@so-net.n...|
|      3|         Joanna|      Spennock|jspennock2@redcro...|
|      4|         Hirsch|       Conaboy|hconaboy3@barnesa...|
|      5|         Loreen|         Malin|lmalin4@independe...|
|      6|           Augy|      Christon|  achriston5@mlb.com|
|      7|         Trudey|       Choupin|     tchoupin6@de.vu|
|      8|         Nadine|     Grimsdell|ngrimsdell7@sohu.com|
|      9|        Vassily|         Tamas|vtamas8@businessw...|
|     10|          Wells|      Simpkins|wsimpkins9@amazon...|
+-------+---------------+--------------+--------------------+

course_enrolments_df has

+-------------------+-------+---------+----------+
|course_enrolment_id|user_id|course_id|price_paid|
+-------------------+-------+---------+----------+
|                  1|     10|        2|      9.99|
|                  2|      5|        2|      9.99|
|                  3|      7|        5|     10.99|
|                  4|      9|        2|      9.99|
|                  5|      8|        2|      9.99|
|                  6|      5|        5|     10.99|
|                  7|      4|        5|     10.99|
|                  8|      7|        3|     10.99|
|                  9|      8|        5|     10.99|
|                 10|      3|        3|     10.99|
|                 11|      7|        5|     10.99|
|                 12|      3|        2|      9.99|
|                 13|      5|        2|      9.99|
|                 14|      4|        3|     10.99|
|                 15|      8|        2|      9.99|
+-------------------+-------+---------+----------+

In [2]:
sc=['summons_number','violation_time']
data=[('1447152402','1011A'),
('1447152554','0107A'),('1447152580','0300A'),('1447152724','0653A'),('1447152992','0515P'),('1447153315','0524P'),('1447153327','0601P'),
('1447153340','0935A'),('1447153352','1217P'),('1447153649','0049A'),('1447153789','0046A'),('1447153790','0124A'),('1447153819','0500A'),
('1447153820','1221A'),('1447153844','1241A'),('1447154198','1110A'),('1447154411','0105A'),('1447155294','1000P'),('1447155427','0843A'),
('1447155750','0955P'),('1447155877','0508P'),('1447156183','1100A'),('1447156195','1100A'),('1447156201','1100A'),('1447156614','0718A'),
('1447156626','0722A'),('1447156638','0726A'),('1447157000','0430A'),('1447157060','0615P'),('1447168951','0115A'),('1447168975','0350A')]
df=spark.createDataFrame(data,schema=sc)
df.show(n=10)

+--------------+--------------+
|summons_number|violation_time|
+--------------+--------------+
|    1447152402|         1011A|
|    1447152554|         0107A|
|    1447152580|         0300A|
|    1447152724|         0653A|
|    1447152992|         0515P|
|    1447153315|         0524P|
|    1447153327|         0601P|
|    1447153340|         0935A|
|    1447153352|         1217P|
|    1447153649|         0049A|
+--------------+--------------+
only showing top 10 rows

In [4]:
df.withColumn('new',expr("case when violation_time rlike '\\\\d\\\\d\\\\d\\\\dA' then 1 else 0 end" )).show(n=5)

+--------------+--------------+---+
|summons_number|violation_time|new|
+--------------+--------------+---+
|    1447152402|         1011A|  1|
|    1447152554|         0107A|  1|
|    1447152580|         0300A|  1|
|    1447152724|         0653A|  1|
|    1447152992|         0515P|  0|
+--------------+--------------+---+
only showing top 5 rows

In [7]:
df.withColumn('new',when(col('violation_time').rlike(r'\d\d\d\dA$'),1).otherwise(0)).show(n=5)

+--------------+--------------+---+
|summons_number|violation_time|new|
+--------------+--------------+---+
|    1447152402|         1011A|  1|
|    1447152554|         0107A|  1|
|    1447152580|         0300A|  1|
|    1447152724|         0653A|  1|
|    1447152992|         0515P|  0|
+--------------+--------------+---+
only showing top 5 rows

### **TASK-2**
* replace Alphabet with - in plate_id column.

In [ ]:
sc=['summons_number',	'plate_id']
data=[(1447152396	,'JET2661'),(1447152402	,'JCV6523'),(1447152554	,'GMK6954'),(1447152580	,'JGX1641'),(1447152724	,'GDM8069'),
(1447152992	,'HXH5242'),(1447153315	,'HXM3470'),(1447153327	,'GWH9640'),(1447153340	,'HKB1769'),(1447153352	,'GDH2184'),(1447153649	,'JCA5331'),
(1447153789	,'JFW5006'),(1447153790	,'HGR2634'),(1447153819	,'GYM7645'),(1447153820	,'KHW5523'),(1447153844	,'JGX7169'),(1447154198	,'JGL4948'),
(1447154411	,'JKSN62'  ),(1447155294	,'GMC1999'),(1447155427	,'JEL8372'),(1447155750	,'GHP8968'),(1447155877	,'KHG6053'),(1447156183	,'JCC9316'),
(1447156195	,'HMP3112'),(1447156201	,'JFG3676'),(1447156614	,'JCR3754'),(1447156626	,'HXH7367'),(1447156638	,'HXH5563'),(1447157000	,'HPA3075'),
(1447157060	,'GFT5393'),(1447168951	,'HDH9057'),(1447168975	,'JHU5285'),(1447169335	,'JHX7405'),(1447170593	,'HZU1090'),(1447171275	,'JJG2614'),
(1447171287	,'GYU6351'),(1447174100	,'L12LEG ' ),(1447174150	,'GXT1533'),(1447174409	,'HSC7008'),(1447177113	,'JHS4392'),(1447182868	,'GTW6638'),
(1447184282	,'JET2379'),(1447184294	,'GXT3109'),(1447185640	,'MINTED'  ),(1447185651,	'MINTED'  ),(1447195747	,'HCH5849'),(1447199789	,'HUG9376')]
df=spark.createDataFrame(data,schema=sc)

In [4]:
df.show(n=5)

+--------------+--------+
|summons_number|plate_id|
+--------------+--------+
|    1447152396| JET2661|
|    1447152402| JCV6523|
|    1447152554| GMK6954|
|    1447152580| JGX1641|
|    1447152724| GDM8069|
+--------------+--------+
only showing top 5 rows

In [7]:
df.withColumn('plate_id_new',regexp_replace(col('plate_id'),'[A-Z]','-')).show(n=5)

+--------------+--------+------------+
|summons_number|plate_id|plate_id_new|
+--------------+--------+------------+
|    1447152396| JET2661|     ---2661|
|    1447152402| JCV6523|     ---6523|
|    1447152554| GMK6954|     ---6954|
|    1447152580| JGX1641|     ---1641|
|    1447152724| GDM8069|     ---8069|
+--------------+--------+------------+
only showing top 5 rows

In [9]:
df.withColumn('code',soundex(col('plate_id'))).show(n=5)

+--------------+--------+----+
|summons_number|plate_id|code|
+--------------+--------+----+
|    1447152396| JET2661|J300|
|    1447152402| JCV6523|J100|
|    1447152554| GMK6954|G520|
|    1447152580| JGX1641|J000|
|    1447152724| GDM8069|G350|
+--------------+--------+----+
only showing top 5 rows

In [12]:
import pyspark.sql.functions as F

# Create a Spark DataFrame
df = spark.createDataFrame([("GREEN", "GREY")], ["vehicle_color", "comparison_vehicle_color"])

# Convert the vehicle_color and comparison_vehicle_color columns to soundex codes
df = df.withColumn("vehicle_color_soundex", F.soundex(df.vehicle_color))
df = df.withColumn("comparison_vehicle_color_soundex", F.soundex(df.comparison_vehicle_color))

# Calculate the Levenshtein distance between the vehicle_color and comparison_vehicle_color columns
df = df.withColumn("difference", F.levenshtein(df.vehicle_color_soundex, df.comparison_vehicle_color_soundex))

# Print the result
df.show()

+-------------+------------------------+---------------------+--------------------------------+----------+
|vehicle_color|comparison_vehicle_color|vehicle_color_soundex|comparison_vehicle_color_soundex|difference|
+-------------+------------------------+---------------------+--------------------------------+----------+
|        GREEN|                    GREY|                 G650|                            G600|         1|
+-------------+------------------------+---------------------+--------------------------------+----------+

In [26]:
s=97
d=1
k=99
s_piece=[1,2,1]
d_piece=[2,2,2]
k_sum=[]
k_sum_sum=0
s_sum_sum=0
d_sum_sum=0
s_sum=[]
d_sum=[]
for i in piece:
    k_sum.append(i*k)
k_sum_sum=sum(k_sum)
for ii in piece:
    s_sum.append(ii*s)
s_sum_sum=sum(s_sum)
for iii in d_piece:
    d_sum.append(iii*d)
d_sum_sum=sum(d_sum)
print(f'd={d_sum_sum+s_sum_sum}\nk={k_sum_sum}')
if k_sum_sum<=d_sum_sum+s_sum_sum:
    print('yes')
else:
    print('no')
# if s_sum+d_sum >= k_sum_sum:
    # print('yes')
# else:
    # print('no')

d=394
k=396
no